template/NifiMonitoringTemplate1.0.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>a254ae40-017b-1000-50cd-0126fee215d8</groupId>
    <name>NifiMonitoringTemplate1.0</name>
    <snippet>
        <processGroups>
            <id>dce39e94-a8e1-3e89-0000-000000000000</id>
            <parentGroupId>8eeb1132-9f2b-3b75-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>1bef1e18-a884-3bab-0000-000000000000</id>
                    <parentGroupId>dce39e94-a8e1-3e89-0000-000000000000</parentGroupId>
                    <versionedComponentId>aef67ee3-415e-3277-8d4d-2eed8a088011</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>dce39e94-a8e1-3e89-0000-000000000000</groupId>
                        <id>d6585edb-c4d9-3c88-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>810fa907-ffe4-3748-9ee3-60ada51290f2</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>312879cc-42f3-3b91-0000-000000000000</groupId>
                        <id>64c63d89-c30d-38a0-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>0b15d067-df10-3c52-9ad7-5eeefac12b96</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>21c9ee2a-314e-38d0-0000-000000000000</id>
                    <parentGroupId>dce39e94-a8e1-3e89-0000-000000000000</parentGroupId>
                    <versionedComponentId>7d810b1c-63ee-34f6-a92f-063e65645a42</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>dce39e94-a8e1-3e89-0000-000000000000</groupId>
                        <id>d6585edb-c4d9-3c88-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>810fa907-ffe4-3748-9ee3-60ada51290f2</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>0b3c1ad5-7743-3986-0000-000000000000</groupId>
                        <id>78c4e6f8-684b-36d1-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>b0934613-cc35-3ec9-b2a3-8840e7883f0e</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>90f41232-dfca-3d77-0000-000000000000</id>
                    <parentGroupId>dce39e94-a8e1-3e89-0000-000000000000</parentGroupId>
                    <versionedComponentId>610a00d7-83f6-3f13-8339-c519e3346501</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>54bdac87-2c0f-3400-0000-000000000000</groupId>
                        <id>d3ba3947-6c13-3a54-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                        <versionedComponentId>586ff88c-b1ed-31da-9628-f46a6a6dd81f</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>dce39e94-a8e1-3e89-0000-000000000000</groupId>
                        <id>d6585edb-c4d9-3c88-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>810fa907-ffe4-3748-9ee3-60ada51290f2</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e93b5703-ec20-3fb1-0000-000000000000</id>
                    <parentGroupId>dce39e94-a8e1-3e89-0000-000000000000</parentGroupId>
                    <versionedComponentId>f9372630-7b42-393c-a13a-2a3e23f74b98</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>dce39e94-a8e1-3e89-0000-000000000000</groupId>
                        <id>d6585edb-c4d9-3c88-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>810fa907-ffe4-3748-9ee3-60ada51290f2</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>3e9de984-4b75-37a8-0000-000000000000</groupId>
                        <id>67261c00-512d-3ab1-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>ae75456f-87bf-3b36-8486-39cb7524995b</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <funnels>
                    <id>d6585edb-c4d9-3c88-0000-000000000000</id>
                    <parentGroupId>dce39e94-a8e1-3e89-0000-000000000000</parentGroupId>
                    <position>
                        <x>1200.0</x>
                        <y>480.0</y>
                    </position>
                    <versionedComponentId>810fa907-ffe4-3748-9ee3-60ada51290f2</versionedComponentId>
                </funnels>
                <processGroups>
                    <id>0b3c1ad5-7743-3986-0000-000000000000</id>
                    <parentGroupId>dce39e94-a8e1-3e89-0000-000000000000</parentGroupId>
                    <position>
                        <x>464.0</x>
                        <y>408.0</y>
                    </position>
                    <versionedComponentId>853bbb21-0f61-3315-8cbd-9ec6c4aebeed</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>020965c4-c874-38c0-0000-000000000000</id>
                            <parentGroupId>0b3c1ad5-7743-3986-0000-000000000000</parentGroupId>
                            <versionedComponentId>e1efa745-81fa-30b6-901d-1d50f268c56e</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>0b3c1ad5-7743-3986-0000-000000000000</groupId>
<id>34f9435a-c678-3995-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>519eca8e-29e4-3d02-81b1-d78c4af5f1fc</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <prioritizers>org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer</prioritizers>
                            <selectedRelationships>nifi-app</selectedRelationships>
                            <source>
<groupId>0b3c1ad5-7743-3986-0000-000000000000</groupId>
<id>014c08b9-42a8-34c9-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>2611bfca-fb8c-3665-a671-451975c74b60</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>153bb930-5bfa-3e18-0000-000000000000</id>
                            <parentGroupId>0b3c1ad5-7743-3986-0000-000000000000</parentGroupId>
                            <versionedComponentId>99cdcf0f-6458-30e3-91b7-b26ee1ef25b9</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>0b3c1ad5-7743-3986-0000-000000000000</groupId>
<id>58f9e38a-90e9-3496-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>ce2e0761-c424-3dad-a3a6-281503d0a293</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <prioritizers>org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer</prioritizers>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>0b3c1ad5-7743-3986-0000-000000000000</groupId>
<id>804957b8-a63d-3003-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>f7ddaf54-34aa-3e0c-a2c7-05b1eb792317</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>18916485-60ec-3554-0000-000000000000</id>
                            <parentGroupId>0b3c1ad5-7743-3986-0000-000000000000</parentGroupId>
                            <versionedComponentId>49e153b7-e19e-39e5-b9d1-7d342d22fb13</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>0b3c1ad5-7743-3986-0000-000000000000</groupId>
<id>78c4e6f8-684b-36d1-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>b0934613-cc35-3ec9-b2a3-8840e7883f0e</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>0b3c1ad5-7743-3986-0000-000000000000</groupId>
<id>58f9e38a-90e9-3496-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>ce2e0761-c424-3dad-a3a6-281503d0a293</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>28e891d6-cc90-3a91-0000-000000000000</id>
                            <parentGroupId>0b3c1ad5-7743-3986-0000-000000000000</parentGroupId>
                            <versionedComponentId>8480415f-9558-392f-a9d6-3fc8b57da4f6</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>0b3c1ad5-7743-3986-0000-000000000000</groupId>
<id>78a78f3f-e995-303a-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>22a10724-4dd1-35ef-98d3-257057f060fb</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <prioritizers>org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer</prioritizers>
                            <selectedRelationships>nifi-user</selectedRelationships>
                            <source>
<groupId>0b3c1ad5-7743-3986-0000-000000000000</groupId>
<id>014c08b9-42a8-34c9-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>2611bfca-fb8c-3665-a671-451975c74b60</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>60918433-e739-3a01-0000-000000000000</id>
                            <parentGroupId>0b3c1ad5-7743-3986-0000-000000000000</parentGroupId>
                            <versionedComponentId>39c4d0dc-43f2-3e90-9777-d23280072e75</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>0b3c1ad5-7743-3986-0000-000000000000</groupId>
<id>014c08b9-42a8-34c9-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>2611bfca-fb8c-3665-a671-451975c74b60</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <prioritizers>org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer</prioritizers>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>0b3c1ad5-7743-3986-0000-000000000000</groupId>
<id>3c76223e-aaa0-3bfb-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>cdecc426-2e15-39d4-823a-16214b5f0ef6</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>80742f00-f098-3fec-0000-000000000000</id>
                            <parentGroupId>0b3c1ad5-7743-3986-0000-000000000000</parentGroupId>
                            <versionedComponentId>67f63e0e-13e5-324f-9229-36ae9109dbbc</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>0b3c1ad5-7743-3986-0000-000000000000</groupId>
<id>6f9a9301-de98-3d94-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>4a012b1c-5e33-3b43-91b2-e6d5731533bf</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <prioritizers>org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer</prioritizers>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>0b3c1ad5-7743-3986-0000-000000000000</groupId>
<id>34f9435a-c678-3995-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>519eca8e-29e4-3d02-81b1-d78c4af5f1fc</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>898636fb-5fcb-3912-0000-000000000000</id>
                            <parentGroupId>0b3c1ad5-7743-3986-0000-000000000000</parentGroupId>
                            <versionedComponentId>3dcb68de-3584-328a-9516-e53fff97e99f</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>0b3c1ad5-7743-3986-0000-000000000000</groupId>
<id>804a6375-44a6-3ca5-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>76030cc2-2b49-37ab-a02b-7451013e4631</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <prioritizers>org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer</prioritizers>
                            <selectedRelationships>nifi-bootstrap</selectedRelationships>
                            <source>
<groupId>0b3c1ad5-7743-3986-0000-000000000000</groupId>
<id>014c08b9-42a8-34c9-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>2611bfca-fb8c-3665-a671-451975c74b60</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>9ee65e7e-2c7a-31b9-0000-000000000000</id>
                            <parentGroupId>0b3c1ad5-7743-3986-0000-000000000000</parentGroupId>
                            <versionedComponentId>5a51004f-0059-3d8a-8c5b-b3734a399820</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>0b3c1ad5-7743-3986-0000-000000000000</groupId>
<id>58f9e38a-90e9-3496-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>ce2e0761-c424-3dad-a3a6-281503d0a293</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <prioritizers>org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer</prioritizers>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>0b3c1ad5-7743-3986-0000-000000000000</groupId>
<id>aecc1ac5-07cd-3def-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>f35d3730-e234-392e-b8e7-6fdbfeada841</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>b0b621a0-04a4-3891-0000-000000000000</id>
                            <parentGroupId>0b3c1ad5-7743-3986-0000-000000000000</parentGroupId>
                            <versionedComponentId>9c9d78ac-b569-346f-91f4-db9f30ae6dc0</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>0b3c1ad5-7743-3986-0000-000000000000</groupId>
<id>58f9e38a-90e9-3496-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>ce2e0761-c424-3dad-a3a6-281503d0a293</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <prioritizers>org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer</prioritizers>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>0b3c1ad5-7743-3986-0000-000000000000</groupId>
<id>6f9a9301-de98-3d94-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>4a012b1c-5e33-3b43-91b2-e6d5731533bf</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>d81b0e3e-9ded-3864-0000-000000000000</id>
                            <parentGroupId>0b3c1ad5-7743-3986-0000-000000000000</parentGroupId>
                            <versionedComponentId>30d5182e-fe5f-3160-a9cb-26603ba3064f</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>0b3c1ad5-7743-3986-0000-000000000000</groupId>
<id>aecc1ac5-07cd-3def-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>f35d3730-e234-392e-b8e7-6fdbfeada841</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <prioritizers>org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer</prioritizers>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>0b3c1ad5-7743-3986-0000-000000000000</groupId>
<id>804a6375-44a6-3ca5-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>76030cc2-2b49-37ab-a02b-7451013e4631</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>f0451c0c-b328-3ebc-0000-000000000000</id>
                            <parentGroupId>0b3c1ad5-7743-3986-0000-000000000000</parentGroupId>
                            <versionedComponentId>4862ed6c-11c7-3485-b9e2-bcb6b524a698</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>0b3c1ad5-7743-3986-0000-000000000000</groupId>
<id>804957b8-a63d-3003-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>f7ddaf54-34aa-3e0c-a2c7-05b1eb792317</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <prioritizers>org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer</prioritizers>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>0b3c1ad5-7743-3986-0000-000000000000</groupId>
<id>78a78f3f-e995-303a-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>22a10724-4dd1-35ef-98d3-257057f060fb</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <funnels>
                            <id>58f9e38a-90e9-3496-0000-000000000000</id>
                            <parentGroupId>0b3c1ad5-7743-3986-0000-000000000000</parentGroupId>
                            <position>
<x>3080.0</x>
<y>320.0</y>
                            </position>
                            <versionedComponentId>ce2e0761-c424-3dad-a3a6-281503d0a293</versionedComponentId>
                        </funnels>
                        <outputPorts>
                            <id>78c4e6f8-684b-36d1-0000-000000000000</id>
                            <parentGroupId>0b3c1ad5-7743-3986-0000-000000000000</parentGroupId>
                            <position>
<x>3456.0</x>
<y>320.0</y>
                            </position>
                            <versionedComponentId>b0934613-cc35-3ec9-b2a3-8840e7883f0e</versionedComponentId>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>output_logs</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>014c08b9-42a8-34c9-0000-000000000000</id>
                            <parentGroupId>0b3c1ad5-7743-3986-0000-000000000000</parentGroupId>
                            <position>
<x>1104.0</x>
<y>296.0</y>
                            </position>
                            <versionedComponentId>2611bfca-fb8c-3665-a671-451975c74b60</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Routing Strategy</key>
        <value>
            <name>Routing Strategy</name>
        </value>
    </entry>
    <entry>
        <key>nifi-app</key>
        <value>
            <name>nifi-app</name>
        </value>
    </entry>
    <entry>
        <key>nifi-bootstrap</key>
        <value>
            <name>nifi-bootstrap</name>
        </value>
    </entry>
    <entry>
        <key>nifi-user</key>
        <value>
            <name>nifi-user</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Routing Strategy</key>
        <value>Route to Property name</value>
    </entry>
    <entry>
        <key>nifi-app</key>
        <value>${filename:contains('nifi-app')}</value>
    </entry>
    <entry>
        <key>nifi-bootstrap</key>
        <value>${filename:contains('nifi-bootstrap')}</value>
    </entry>
    <entry>
        <key>nifi-user</key>
        <value>${filename:contains('nifi-user')}</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>RouteLogsNifi</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>nifi-app</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>nifi-bootstrap</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>nifi-user</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                        </processors>
                        <processors>
                            <id>34f9435a-c678-3995-0000-000000000000</id>
                            <parentGroupId>0b3c1ad5-7743-3986-0000-000000000000</parentGroupId>
                            <position>
<x>1720.0</x>
<y>120.0</y>
                            </position>
                            <versionedComponentId>519eca8e-29e4-3d02-81b1-d78c4af5f1fc</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>log-level</key>
        <value>
            <name>log-level</name>
        </value>
    </entry>
    <entry>
        <key>log-prefix</key>
        <value>
            <name>log-prefix</name>
        </value>
    </entry>
    <entry>
        <key>log-message</key>
        <value>
            <name>log-message</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>log-level</key>
        <value>info</value>
    </entry>
    <entry>
        <key>log-prefix</key>
    </entry>
    <entry>
        <key>log-message</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>nifi-app</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.LogMessage</type>
                        </processors>
                        <processors>
                            <id>3c76223e-aaa0-3bfb-0000-000000000000</id>
                            <parentGroupId>0b3c1ad5-7743-3986-0000-000000000000</parentGroupId>
                            <position>
<x>416.0</x>
<y>296.0</y>
                            </position>
                            <versionedComponentId>cdecc426-2e15-39d4-823a-16214b5f0ef6</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>tail-mode</key>
        <value>
            <name>tail-mode</name>
        </value>
    </entry>
    <entry>
        <key>File to Tail</key>
        <value>
            <name>File to Tail</name>
        </value>
    </entry>
    <entry>
        <key>Rolling Filename Pattern</key>
        <value>
            <name>Rolling Filename Pattern</name>
        </value>
    </entry>
    <entry>
        <key>Post-Rollover Tail Period</key>
        <value>
            <name>Post-Rollover Tail Period</name>
        </value>
    </entry>
    <entry>
        <key>tail-base-directory</key>
        <value>
            <name>tail-base-directory</name>
        </value>
    </entry>
    <entry>
        <key>Initial Start Position</key>
        <value>
            <name>Initial Start Position</name>
        </value>
    </entry>
    <entry>
        <key>File Location</key>
        <value>
            <name>File Location</name>
        </value>
    </entry>
    <entry>
        <key>tailfile-recursive-lookup</key>
        <value>
            <name>tailfile-recursive-lookup</name>
        </value>
    </entry>
    <entry>
        <key>tailfile-lookup-frequency</key>
        <value>
            <name>tailfile-lookup-frequency</name>
        </value>
    </entry>
    <entry>
        <key>tailfile-maximum-age</key>
        <value>
            <name>tailfile-maximum-age</name>
        </value>
    </entry>
    <entry>
        <key>reread-on-nul</key>
        <value>
            <name>reread-on-nul</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>tail-mode</key>
        <value>Multiple files</value>
    </entry>
    <entry>
        <key>File to Tail</key>
        <value>nifi\-.*</value>
    </entry>
    <entry>
        <key>Rolling Filename Pattern</key>
    </entry>
    <entry>
        <key>Post-Rollover Tail Period</key>
        <value>0 sec</value>
    </entry>
    <entry>
        <key>tail-base-directory</key>
        <value>${nifi_path}logs</value>
    </entry>
    <entry>
        <key>Initial Start Position</key>
        <value>Beginning of File</value>
    </entry>
    <entry>
        <key>File Location</key>
        <value>Local</value>
    </entry>
    <entry>
        <key>tailfile-recursive-lookup</key>
        <value>false</value>
    </entry>
    <entry>
        <key>tailfile-lookup-frequency</key>
        <value>10 minutes</value>
    </entry>
    <entry>
        <key>tailfile-maximum-age</key>
        <value>1 hours</value>
    </entry>
    <entry>
        <key>reread-on-nul</key>
        <value>false</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>3 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ReadLogsNifi</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.TailFile</type>
                        </processors>
                        <processors>
                            <id>6f9a9301-de98-3d94-0000-000000000000</id>
                            <parentGroupId>0b3c1ad5-7743-3986-0000-000000000000</parentGroupId>
                            <position>
<x>2368.0</x>
<y>112.0</y>
                            </position>
                            <versionedComponentId>4a012b1c-5e33-3b43-91b2-e6d5731533bf</versionedComponentId>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>source</key>
        <value>
            <name>source</name>
        </value>
    </entry>
    <entry>
        <key>sourcetype</key>
        <value>
            <name>sourcetype</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>source</key>
        <value>nifi_app_${now():toNumber():format('yyyyMMddHHmmss')}.log</value>
    </entry>
    <entry>
        <key>sourcetype</key>
        <value>nifi:log:app</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Set-Splunk_variables</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>78a78f3f-e995-303a-0000-000000000000</id>
                            <parentGroupId>0b3c1ad5-7743-3986-0000-000000000000</parentGroupId>
                            <position>
<x>1728.0</x>
<y>288.0</y>
                            </position>
                            <versionedComponentId>22a10724-4dd1-35ef-98d3-257057f060fb</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>log-level</key>
        <value>
            <name>log-level</name>
        </value>
    </entry>
    <entry>
        <key>log-prefix</key>
        <value>
            <name>log-prefix</name>
        </value>
    </entry>
    <entry>
        <key>log-message</key>
        <value>
            <name>log-message</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>log-level</key>
        <value>info</value>
    </entry>
    <entry>
        <key>log-prefix</key>
    </entry>
    <entry>
        <key>log-message</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>nifi-user</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.LogMessage</type>
                        </processors>
                        <processors>
                            <id>804957b8-a63d-3003-0000-000000000000</id>
                            <parentGroupId>0b3c1ad5-7743-3986-0000-000000000000</parentGroupId>
                            <position>
<x>2368.0</x>
<y>280.0</y>
                            </position>
                            <versionedComponentId>f7ddaf54-34aa-3e0c-a2c7-05b1eb792317</versionedComponentId>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>source</key>
        <value>
            <name>source</name>
        </value>
    </entry>
    <entry>
        <key>sourcetype</key>
        <value>
            <name>sourcetype</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>source</key>
        <value>nifi_user_${now():toNumber():format('yyyyMMddHHmmss')}.log</value>
    </entry>
    <entry>
        <key>sourcetype</key>
        <value>nifi:log:user</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Set-Splunk_variables</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>804a6375-44a6-3ca5-0000-000000000000</id>
                            <parentGroupId>0b3c1ad5-7743-3986-0000-000000000000</parentGroupId>
                            <position>
<x>1728.0</x>
<y>464.0</y>
                            </position>
                            <versionedComponentId>76030cc2-2b49-37ab-a02b-7451013e4631</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>log-level</key>
        <value>
            <name>log-level</name>
        </value>
    </entry>
    <entry>
        <key>log-prefix</key>
        <value>
            <name>log-prefix</name>
        </value>
    </entry>
    <entry>
        <key>log-message</key>
        <value>
            <name>log-message</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>log-level</key>
        <value>info</value>
    </entry>
    <entry>
        <key>log-prefix</key>
    </entry>
    <entry>
        <key>log-message</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>nifi-bootstrap</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.LogMessage</type>
                        </processors>
                        <processors>
                            <id>aecc1ac5-07cd-3def-0000-000000000000</id>
                            <parentGroupId>0b3c1ad5-7743-3986-0000-000000000000</parentGroupId>
                            <position>
<x>2376.0</x>
<y>464.0</y>
                            </position>
                            <versionedComponentId>f35d3730-e234-392e-b8e7-6fdbfeada841</versionedComponentId>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>source</key>
        <value>
            <name>source</name>
        </value>
    </entry>
    <entry>
        <key>sourcetype</key>
        <value>
            <name>sourcetype</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>source</key>
        <value>nifi_bootstrap_${now():toNumber():format('yyyyMMddHHmmss')}.log</value>
    </entry>
    <entry>
        <key>sourcetype</key>
        <value>nifi:log:bootstrap</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Set-Splunk_variables</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Monitoring - Logs</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>312879cc-42f3-3b91-0000-000000000000</id>
                    <parentGroupId>dce39e94-a8e1-3e89-0000-000000000000</parentGroupId>
                    <position>
                        <x>472.0</x>
                        <y>168.0</y>
                    </position>
                    <versionedComponentId>2398c9d0-623d-3ad1-903b-b70ff553b6d2</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>1f51c338-39b0-3885-0000-000000000000</id>
                            <parentGroupId>312879cc-42f3-3b91-0000-000000000000</parentGroupId>
                            <versionedComponentId>d8d76da0-de63-3f6d-af99-5766dd23b651</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>312879cc-42f3-3b91-0000-000000000000</groupId>
<id>a2af6531-ad3a-3117-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>feec6feb-121f-33df-b53d-cee70c859ddc</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>312879cc-42f3-3b91-0000-000000000000</groupId>
<id>0ba23331-6d02-3e07-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>f057f8e0-3d6a-39d8-91b0-83d1ad8f2a83</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>2c9d9068-2101-3de6-0000-000000000000</id>
                            <parentGroupId>312879cc-42f3-3b91-0000-000000000000</parentGroupId>
                            <versionedComponentId>efc8a424-9d9f-31d7-b6c9-a4b0b4fd565a</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>312879cc-42f3-3b91-0000-000000000000</groupId>
<id>a2af6531-ad3a-3117-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>feec6feb-121f-33df-b53d-cee70c859ddc</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>312879cc-42f3-3b91-0000-000000000000</groupId>
<id>139d9759-58c7-38df-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>fcaa8186-1e69-3eda-8b5e-e7c21905645f</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>4bb56f49-9196-3795-0000-000000000000</id>
                            <parentGroupId>312879cc-42f3-3b91-0000-000000000000</parentGroupId>
                            <versionedComponentId>72e45bf8-70ef-3809-8430-ba9156d2007f</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>312879cc-42f3-3b91-0000-000000000000</groupId>
<id>0ba23331-6d02-3e07-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>f057f8e0-3d6a-39d8-91b0-83d1ad8f2a83</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>312879cc-42f3-3b91-0000-000000000000</groupId>
<id>acc1b401-de63-3c3b-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>db9f14bd-5d60-3b2c-957f-0023ccd669fc</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>612b37cb-886b-37c2-0000-000000000000</id>
                            <parentGroupId>312879cc-42f3-3b91-0000-000000000000</parentGroupId>
                            <versionedComponentId>067f9472-a224-3eb3-9a56-c5c4f9db64af</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>312879cc-42f3-3b91-0000-000000000000</groupId>
<id>a2af6531-ad3a-3117-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>feec6feb-121f-33df-b53d-cee70c859ddc</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>312879cc-42f3-3b91-0000-000000000000</groupId>
<id>8cf11804-69f7-32ae-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>38ae2ec7-5e9f-3be0-85c8-e5ded6ddc73d</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>740cbfd1-47dd-3c1a-0000-000000000000</id>
                            <parentGroupId>312879cc-42f3-3b91-0000-000000000000</parentGroupId>
                            <versionedComponentId>fad0e424-5839-3668-b968-679389f650b7</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>312879cc-42f3-3b91-0000-000000000000</groupId>
<id>139d9759-58c7-38df-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>fcaa8186-1e69-3eda-8b5e-e7c21905645f</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>312879cc-42f3-3b91-0000-000000000000</groupId>
<id>6943e6fb-aaf7-3a4e-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>1371ddab-cfdc-309e-9127-0bea6d31b3c2</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>772ded59-f479-3531-0000-000000000000</id>
                            <parentGroupId>312879cc-42f3-3b91-0000-000000000000</parentGroupId>
                            <versionedComponentId>0bd9c1ec-6ba2-3feb-9e1e-7e53c7e99cc7</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>312879cc-42f3-3b91-0000-000000000000</groupId>
<id>8cf11804-69f7-32ae-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>38ae2ec7-5e9f-3be0-85c8-e5ded6ddc73d</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>312879cc-42f3-3b91-0000-000000000000</groupId>
<id>761c000b-7582-3d5b-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>8d52a96b-80bf-3be4-ad01-55ab5bf0c8ba</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>d7df8ddb-a742-39dd-0000-000000000000</id>
                            <parentGroupId>312879cc-42f3-3b91-0000-000000000000</parentGroupId>
                            <versionedComponentId>237f7b54-89d9-32a7-8f63-b0f561a72312</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>312879cc-42f3-3b91-0000-000000000000</groupId>
<id>64c63d89-c30d-38a0-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>0b15d067-df10-3c52-9ad7-5eeefac12b96</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>312879cc-42f3-3b91-0000-000000000000</groupId>
<id>a2af6531-ad3a-3117-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>feec6feb-121f-33df-b53d-cee70c859ddc</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <funnels>
                            <id>a2af6531-ad3a-3117-0000-000000000000</id>
                            <parentGroupId>312879cc-42f3-3b91-0000-000000000000</parentGroupId>
                            <position>
<x>736.0</x>
<y>-224.0</y>
                            </position>
                            <versionedComponentId>feec6feb-121f-33df-b53d-cee70c859ddc</versionedComponentId>
                        </funnels>
                        <outputPorts>
                            <id>64c63d89-c30d-38a0-0000-000000000000</id>
                            <parentGroupId>312879cc-42f3-3b91-0000-000000000000</parentGroupId>
                            <position>
<x>1048.0</x>
<y>-224.0</y>
                            </position>
                            <versionedComponentId>0b15d067-df10-3c52-9ad7-5eeefac12b96</versionedComponentId>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>output_api</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>0ba23331-6d02-3e07-0000-000000000000</id>
                            <parentGroupId>312879cc-42f3-3b91-0000-000000000000</parentGroupId>
                            <position>
<x>32.0</x>
<y>-88.0</y>
                            </position>
                            <versionedComponentId>f057f8e0-3d6a-39d8-91b0-83d1ad8f2a83</versionedComponentId>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>source</key>
        <value>
            <name>source</name>
        </value>
    </entry>
    <entry>
        <key>sourcetype</key>
        <value>
            <name>sourcetype</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>source</key>
        <value>flow_status_${now():toNumber():format('yyyyMMddHHmmss')}.log</value>
    </entry>
    <entry>
        <key>sourcetype</key>
        <value>nifi:api:flow_status</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Set-Splunk_variables</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>139d9759-58c7-38df-0000-000000000000</id>
                            <parentGroupId>312879cc-42f3-3b91-0000-000000000000</parentGroupId>
                            <position>
<x>32.0</x>
<y>-432.0</y>
                            </position>
                            <versionedComponentId>fcaa8186-1e69-3eda-8b5e-e7c21905645f</versionedComponentId>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>source</key>
        <value>
            <name>source</name>
        </value>
    </entry>
    <entry>
        <key>sourcetype</key>
        <value>
            <name>sourcetype</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>source</key>
        <value>system_diagnostics_${now():toNumber():format('yyyyMMddHHmmss')}.log</value>
    </entry>
    <entry>
        <key>sourcetype</key>
        <value>nifi:api:system_diagnostics</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Set-Splunk_variables</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>6943e6fb-aaf7-3a4e-0000-000000000000</id>
                            <parentGroupId>312879cc-42f3-3b91-0000-000000000000</parentGroupId>
                            <position>
<x>-624.0</x>
<y>-456.0</y>
                            </position>
                            <versionedComponentId>1371ddab-cfdc-309e-9127-0bea6d31b3c2</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>URL</key>
        <value>
            <name>URL</name>
        </value>
    </entry>
    <entry>
        <key>Filename</key>
        <value>
            <name>Filename</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Username</key>
        <value>
            <name>Username</name>
        </value>
    </entry>
    <entry>
        <key>Password</key>
        <value>
            <name>Password</name>
        </value>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>
            <name>Connection Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Data Timeout</key>
        <value>
            <name>Data Timeout</name>
        </value>
    </entry>
    <entry>
        <key>User Agent</key>
        <value>
            <name>User Agent</name>
        </value>
    </entry>
    <entry>
        <key>Accept Content-Type</key>
        <value>
            <name>Accept Content-Type</name>
        </value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>
            <name>Follow Redirects</name>
        </value>
    </entry>
    <entry>
        <key>redirect-cookie-policy</key>
        <value>
            <name>redirect-cookie-policy</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host</key>
        <value>
            <name>Proxy Host</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Port</key>
        <value>
            <name>Proxy Port</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>URL</key>
        <value>http://${hostname(true)}:8080/nifi-api/system-diagnostics</value>
    </entry>
    <entry>
        <key>Filename</key>
        <value>system-diagnostics.log</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Username</key>
    </entry>
    <entry>
        <key>Password</key>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>30 sec</value>
    </entry>
    <entry>
        <key>Data Timeout</key>
        <value>30 sec</value>
    </entry>
    <entry>
        <key>User Agent</key>
        <value>nifi</value>
    </entry>
    <entry>
        <key>Accept Content-Type</key>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>false</value>
    </entry>
    <entry>
        <key>redirect-cookie-policy</key>
        <value>default</value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
    </entry>
    <entry>
        <key>Proxy Host</key>
    </entry>
    <entry>
        <key>Proxy Port</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>1 min</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>GetHTTP-system_diagnostics</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.GetHTTP</type>
                        </processors>
                        <processors>
                            <id>761c000b-7582-3d5b-0000-000000000000</id>
                            <parentGroupId>312879cc-42f3-3b91-0000-000000000000</parentGroupId>
                            <position>
<x>-624.0</x>
<y>-264.0</y>
                            </position>
                            <versionedComponentId>8d52a96b-80bf-3be4-ad01-55ab5bf0c8ba</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>URL</key>
        <value>
            <name>URL</name>
        </value>
    </entry>
    <entry>
        <key>Filename</key>
        <value>
            <name>Filename</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Username</key>
        <value>
            <name>Username</name>
        </value>
    </entry>
    <entry>
        <key>Password</key>
        <value>
            <name>Password</name>
        </value>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>
            <name>Connection Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Data Timeout</key>
        <value>
            <name>Data Timeout</name>
        </value>
    </entry>
    <entry>
        <key>User Agent</key>
        <value>
            <name>User Agent</name>
        </value>
    </entry>
    <entry>
        <key>Accept Content-Type</key>
        <value>
            <name>Accept Content-Type</name>
        </value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>
            <name>Follow Redirects</name>
        </value>
    </entry>
    <entry>
        <key>redirect-cookie-policy</key>
        <value>
            <name>redirect-cookie-policy</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host</key>
        <value>
            <name>Proxy Host</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Port</key>
        <value>
            <name>Proxy Port</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>URL</key>
        <value>http://${hostname(true)}:8080/nifi-api/site-to-site</value>
    </entry>
    <entry>
        <key>Filename</key>
        <value>site-to-site.json</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Username</key>
    </entry>
    <entry>
        <key>Password</key>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>30 sec</value>
    </entry>
    <entry>
        <key>Data Timeout</key>
        <value>30 sec</value>
    </entry>
    <entry>
        <key>User Agent</key>
        <value>nifi</value>
    </entry>
    <entry>
        <key>Accept Content-Type</key>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>false</value>
    </entry>
    <entry>
        <key>redirect-cookie-policy</key>
        <value>default</value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
    </entry>
    <entry>
        <key>Proxy Host</key>
    </entry>
    <entry>
        <key>Proxy Port</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>1 min</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>GetHTTP-site_to_site</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.GetHTTP</type>
                        </processors>
                        <processors>
                            <id>8cf11804-69f7-32ae-0000-000000000000</id>
                            <parentGroupId>312879cc-42f3-3b91-0000-000000000000</parentGroupId>
                            <position>
<x>32.0</x>
<y>-264.0</y>
                            </position>
                            <versionedComponentId>38ae2ec7-5e9f-3be0-85c8-e5ded6ddc73d</versionedComponentId>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>source</key>
        <value>
            <name>source</name>
        </value>
    </entry>
    <entry>
        <key>sourcetype</key>
        <value>
            <name>sourcetype</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>source</key>
        <value>site-to-site_${now():toNumber():format('yyyyMMddHHmmss')}.log</value>
    </entry>
    <entry>
        <key>sourcetype</key>
        <value>nifi:api:site_to_site</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Set-Splunk_variables</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>acc1b401-de63-3c3b-0000-000000000000</id>
                            <parentGroupId>312879cc-42f3-3b91-0000-000000000000</parentGroupId>
                            <position>
<x>-624.0</x>
<y>-80.0</y>
                            </position>
                            <versionedComponentId>db9f14bd-5d60-3b2c-957f-0023ccd669fc</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>URL</key>
        <value>
            <name>URL</name>
        </value>
    </entry>
    <entry>
        <key>Filename</key>
        <value>
            <name>Filename</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Username</key>
        <value>
            <name>Username</name>
        </value>
    </entry>
    <entry>
        <key>Password</key>
        <value>
            <name>Password</name>
        </value>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>
            <name>Connection Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Data Timeout</key>
        <value>
            <name>Data Timeout</name>
        </value>
    </entry>
    <entry>
        <key>User Agent</key>
        <value>
            <name>User Agent</name>
        </value>
    </entry>
    <entry>
        <key>Accept Content-Type</key>
        <value>
            <name>Accept Content-Type</name>
        </value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>
            <name>Follow Redirects</name>
        </value>
    </entry>
    <entry>
        <key>redirect-cookie-policy</key>
        <value>
            <name>redirect-cookie-policy</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host</key>
        <value>
            <name>Proxy Host</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Port</key>
        <value>
            <name>Proxy Port</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>URL</key>
        <value>http://${hostname(true)}:8080/nifi-api/flow/status</value>
    </entry>
    <entry>
        <key>Filename</key>
        <value>flow_status.json</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Username</key>
    </entry>
    <entry>
        <key>Password</key>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>30 sec</value>
    </entry>
    <entry>
        <key>Data Timeout</key>
        <value>30 sec</value>
    </entry>
    <entry>
        <key>User Agent</key>
        <value>nifi</value>
    </entry>
    <entry>
        <key>Accept Content-Type</key>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>false</value>
    </entry>
    <entry>
        <key>redirect-cookie-policy</key>
        <value>default</value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
    </entry>
    <entry>
        <key>Proxy Host</key>
    </entry>
    <entry>
        <key>Proxy Port</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>1 min</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>GetHTTP-_flow_status</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.GetHTTP</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Monitoring - API</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>3e9de984-4b75-37a8-0000-000000000000</id>
                    <parentGroupId>dce39e94-a8e1-3e89-0000-000000000000</parentGroupId>
                    <position>
                        <x>464.0</x>
                        <y>616.0</y>
                    </position>
                    <versionedComponentId>3db4e7e7-cb11-3fb1-a036-8492f85f57d1</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>598b3c07-7b52-3681-0000-000000000000</id>
                            <parentGroupId>3e9de984-4b75-37a8-0000-000000000000</parentGroupId>
                            <versionedComponentId>dea69ea5-e33a-3f87-847b-f67fff0b6678</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>3e9de984-4b75-37a8-0000-000000000000</groupId>
<id>67261c00-512d-3ab1-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>ae75456f-87bf-3b36-8486-39cb7524995b</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>3e9de984-4b75-37a8-0000-000000000000</groupId>
<id>089f67d0-b0ad-3702-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>284dd1ea-c98b-3aa8-9b55-4f99a51e4056</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>5eababc3-fb73-35d0-0000-000000000000</id>
                            <parentGroupId>3e9de984-4b75-37a8-0000-000000000000</parentGroupId>
                            <versionedComponentId>9ece8189-d5b7-34a1-a6a3-fe8e44aa85e0</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>3e9de984-4b75-37a8-0000-000000000000</groupId>
<id>67261c00-512d-3ab1-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>ae75456f-87bf-3b36-8486-39cb7524995b</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>3e9de984-4b75-37a8-0000-000000000000</groupId>
<id>75484066-88b9-3ca6-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>b9059878-48ed-3a3d-a8a8-1814bfd4d2a0</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>82d757ee-4f0f-304b-0000-000000000000</id>
                            <parentGroupId>3e9de984-4b75-37a8-0000-000000000000</parentGroupId>
                            <versionedComponentId>2a10f6b3-99ec-3f2a-a1c4-7d7d9aa46e7b</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>3e9de984-4b75-37a8-0000-000000000000</groupId>
<id>75484066-88b9-3ca6-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>b9059878-48ed-3a3d-a8a8-1814bfd4d2a0</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>3e9de984-4b75-37a8-0000-000000000000</groupId>
<id>f8270c06-6ae0-3367-0000-000000000000</id>
<type>INPUT_PORT</type>
<versionedComponentId>3144a3a8-7d04-3dc9-a964-d5dcc605da2d</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>94a90fad-0362-3ba8-0000-000000000000</id>
                            <parentGroupId>3e9de984-4b75-37a8-0000-000000000000</parentGroupId>
                            <versionedComponentId>f9b83ae9-0f32-34e4-9e40-f9d5b0d3649b</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>3e9de984-4b75-37a8-0000-000000000000</groupId>
<id>089f67d0-b0ad-3702-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>284dd1ea-c98b-3aa8-9b55-4f99a51e4056</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>3e9de984-4b75-37a8-0000-000000000000</groupId>
<id>2f0caeb8-21f4-3ecc-0000-000000000000</id>
<type>INPUT_PORT</type>
<versionedComponentId>4effa5ac-363a-31ce-9798-4e1af56e915e</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <inputPorts>
                            <id>2f0caeb8-21f4-3ecc-0000-000000000000</id>
                            <parentGroupId>3e9de984-4b75-37a8-0000-000000000000</parentGroupId>
                            <position>
<x>112.0</x>
<y>80.0</y>
                            </position>
                            <versionedComponentId>4effa5ac-363a-31ce-9798-4e1af56e915e</versionedComponentId>
                            <allowRemoteAccess>true</allowRemoteAccess>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>reporting_task</name>
                            <state>STOPPED</state>
                            <transmitting>false</transmitting>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <inputPorts>
                            <id>f8270c06-6ae0-3367-0000-000000000000</id>
                            <parentGroupId>3e9de984-4b75-37a8-0000-000000000000</parentGroupId>
                            <position>
<x>112.0</x>
<y>240.0</y>
                            </position>
                            <versionedComponentId>3144a3a8-7d04-3dc9-a964-d5dcc605da2d</versionedComponentId>
                            <allowRemoteAccess>true</allowRemoteAccess>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>bulletin_report</name>
                            <state>STOPPED</state>
                            <transmitting>false</transmitting>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <outputPorts>
                            <id>67261c00-512d-3ab1-0000-000000000000</id>
                            <parentGroupId>3e9de984-4b75-37a8-0000-000000000000</parentGroupId>
                            <position>
<x>1384.0</x>
<y>168.0</y>
                            </position>
                            <versionedComponentId>ae75456f-87bf-3b36-8486-39cb7524995b</versionedComponentId>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>output_reporting</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>089f67d0-b0ad-3702-0000-000000000000</id>
                            <parentGroupId>3e9de984-4b75-37a8-0000-000000000000</parentGroupId>
                            <position>
<x>688.0</x>
<y>56.0</y>
                            </position>
                            <versionedComponentId>284dd1ea-c98b-3aa8-9b55-4f99a51e4056</versionedComponentId>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>source</key>
        <value>
            <name>source</name>
        </value>
    </entry>
    <entry>
        <key>sourcetype</key>
        <value>
            <name>sourcetype</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>source</key>
        <value>reportingtask_${now():toNumber():format('yyyyMMddHHmmss')}.log</value>
    </entry>
    <entry>
        <key>sourcetype</key>
        <value>nifi:reporting:task</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Set-Splunk_variables</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>75484066-88b9-3ca6-0000-000000000000</id>
                            <parentGroupId>3e9de984-4b75-37a8-0000-000000000000</parentGroupId>
                            <position>
<x>688.0</x>
<y>216.0</y>
                            </position>
                            <versionedComponentId>b9059878-48ed-3a3d-a8a8-1814bfd4d2a0</versionedComponentId>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>source</key>
        <value>
            <name>source</name>
        </value>
    </entry>
    <entry>
        <key>sourcetype</key>
        <value>
            <name>sourcetype</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>source</key>
        <value>bulletinReport_${now():toNumber():format('yyyyMMddHHmmss')}.log</value>
    </entry>
    <entry>
        <key>sourcetype</key>
        <value>nifi:reporting:bulletin</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Set-Splunk_variables</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Monitoring - ReportingTask</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>54bdac87-2c0f-3400-0000-000000000000</id>
                    <parentGroupId>dce39e94-a8e1-3e89-0000-000000000000</parentGroupId>
                    <position>
                        <x>1528.0</x>
                        <y>408.0</y>
                    </position>
                    <versionedComponentId>773a63cf-45da-393e-a613-f641fb34fa60</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>04454e6f-f58b-3d4d-0000-000000000000</id>
                            <parentGroupId>54bdac87-2c0f-3400-0000-000000000000</parentGroupId>
                            <versionedComponentId>b8fca19c-8925-3b93-81f7-8b44315ceac8</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>54bdac87-2c0f-3400-0000-000000000000</groupId>
<id>d722f3be-6cec-3ecc-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>0b159b10-2a2c-3fb8-b661-8597a1f32c2a</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>retries_exceeded</selectedRelationships>
                            <source>
<groupId>54bdac87-2c0f-3400-0000-000000000000</groupId>
<id>d15226f3-287f-325a-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>8349b09f-8d76-3cd5-86bb-17ccb1cfb0df</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>142dca95-aa58-3f38-0000-000000000000</id>
                            <parentGroupId>54bdac87-2c0f-3400-0000-000000000000</parentGroupId>
                            <versionedComponentId>c9bb8cf5-8d3e-38b5-bc1f-2d999322b804</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>666.0000021944411</x>
<y>247.50000727055726</y>
                            </bends>
                            <destination>
<groupId>54bdac87-2c0f-3400-0000-000000000000</groupId>
<id>044ef51d-67fd-3afe-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>b3287b68-f5e6-3776-a833-754f06252af1</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>retry</selectedRelationships>
                            <source>
<groupId>54bdac87-2c0f-3400-0000-000000000000</groupId>
<id>d15226f3-287f-325a-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>8349b09f-8d76-3cd5-86bb-17ccb1cfb0df</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>283f1bda-acdc-32f0-0000-000000000000</id>
                            <parentGroupId>54bdac87-2c0f-3400-0000-000000000000</parentGroupId>
                            <versionedComponentId>b9a94a16-b378-38a8-8662-d68b9f9ca6eb</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>54bdac87-2c0f-3400-0000-000000000000</groupId>
<id>d15226f3-287f-325a-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>8349b09f-8d76-3cd5-86bb-17ccb1cfb0df</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Failure</selectedRelationships>
                            <source>
<groupId>54bdac87-2c0f-3400-0000-000000000000</groupId>
<id>044ef51d-67fd-3afe-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>b3287b68-f5e6-3776-a833-754f06252af1</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>d53b9fcf-ef4d-35d7-0000-000000000000</id>
                            <parentGroupId>54bdac87-2c0f-3400-0000-000000000000</parentGroupId>
                            <versionedComponentId>71a99165-08ca-3965-8a1c-ebea2d950794</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>54bdac87-2c0f-3400-0000-000000000000</groupId>
<id>044ef51d-67fd-3afe-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>b3287b68-f5e6-3776-a833-754f06252af1</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>54bdac87-2c0f-3400-0000-000000000000</groupId>
<id>d3ba3947-6c13-3a54-0000-000000000000</id>
<type>INPUT_PORT</type>
<versionedComponentId>586ff88c-b1ed-31da-9628-f46a6a6dd81f</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <inputPorts>
                            <id>d3ba3947-6c13-3a54-0000-000000000000</id>
                            <parentGroupId>54bdac87-2c0f-3400-0000-000000000000</parentGroupId>
                            <position>
<x>176.0</x>
<y>344.0</y>
                            </position>
                            <versionedComponentId>586ff88c-b1ed-31da-9628-f46a6a6dd81f</versionedComponentId>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>HEC_Connect</name>
                            <state>STOPPED</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <processors>
                            <id>044ef51d-67fd-3afe-0000-000000000000</id>
                            <parentGroupId>54bdac87-2c0f-3400-0000-000000000000</parentGroupId>
                            <position>
<x>684.0000043888822</x>
<y>303.0000145411145</y>
                            </position>
                            <versionedComponentId>b3287b68-f5e6-3776-a833-754f06252af1</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>3</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>HTTP Method</key>
        <value>
            <name>HTTP Method</name>
        </value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>
            <name>Remote URL</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>
            <name>Connection Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>
            <name>Read Timeout</name>
        </value>
    </entry>
    <entry>
        <key>idle-timeout</key>
        <value>
            <name>idle-timeout</name>
        </value>
    </entry>
    <entry>
        <key>max-idle-connections</key>
        <value>
            <name>max-idle-connections</name>
        </value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>
            <name>Include Date Header</name>
        </value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>
            <name>Follow Redirects</name>
        </value>
    </entry>
    <entry>
        <key>disable-http2</key>
        <value>
            <name>disable-http2</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
        <value>
            <name>Attributes to Send</name>
        </value>
    </entry>
    <entry>
        <key>Useragent</key>
        <value>
            <name>Useragent</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
        <value>
            <name>Basic Authentication Username</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
        <value>
            <name>Basic Authentication Password</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host</key>
        <value>
            <name>Proxy Host</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Port</key>
        <value>
            <name>Proxy Port</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>
            <name>Proxy Type</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
        <value>
            <name>invokehttp-proxy-user</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
        <value>
            <name>invokehttp-proxy-password</name>
        </value>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
        <value>
            <name>Put Response Body In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>
            <name>Max Length To Put In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>
            <name>Digest Authentication</name>
        </value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>
            <name>Always Output Response</name>
        </value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>
            <name>Add Response Headers to Request</name>
        </value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>
            <name>Content-Type</name>
        </value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>
            <name>send-message-body</name>
        </value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>
            <name>Use Chunked Encoding</name>
        </value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>
            <name>Penalize on "No Retry"</name>
        </value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>
            <name>use-etag</name>
        </value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>
            <name>etag-max-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>ignore-response-content</key>
        <value>
            <name>ignore-response-content</name>
        </value>
    </entry>
    <entry>
        <key>form-body-form-name</key>
        <value>
            <name>form-body-form-name</name>
        </value>
    </entry>
    <entry>
        <key>set-form-filename</key>
        <value>
            <name>set-form-filename</name>
        </value>
    </entry>
    <entry>
        <key>Authorization</key>
        <value>
            <name>Authorization</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>HTTP Method</key>
        <value>POST</value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>${splunk_hec}/services/collector/raw?sourcetype=${sourcetype}&amp;host=${hostname(true)}&amp;source=${source}</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>15 secs</value>
    </entry>
    <entry>
        <key>idle-timeout</key>
        <value>5 mins</value>
    </entry>
    <entry>
        <key>max-idle-connections</key>
        <value>10</value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>True</value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>True</value>
    </entry>
    <entry>
        <key>disable-http2</key>
        <value>False</value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
    </entry>
    <entry>
        <key>Useragent</key>
        <value>curl/7.29.0</value>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
    </entry>
    <entry>
        <key>Proxy Host</key>
    </entry>
    <entry>
        <key>Proxy Port</key>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>http</value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>256</value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>${mime.type}</value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>false</value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>false</value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>10MB</value>
    </entry>
    <entry>
        <key>ignore-response-content</key>
        <value>false</value>
    </entry>
    <entry>
        <key>form-body-form-name</key>
    </entry>
    <entry>
        <key>set-form-filename</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Authorization</key>
        <value>Splunk ${splunk_hec_token}</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Send2Splunk-HEC</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>No Retry</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Original</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Response</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Retry</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                        </processors>
                        <processors>
                            <id>d15226f3-287f-325a-0000-000000000000</id>
                            <parentGroupId>54bdac87-2c0f-3400-0000-000000000000</parentGroupId>
                            <position>
<x>816.0</x>
<y>72.0</y>
                            </position>
                            <versionedComponentId>8349b09f-8d76-3cd5-86bb-17ccb1cfb0df</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>retry-attribute</key>
        <value>
            <name>retry-attribute</name>
        </value>
    </entry>
    <entry>
        <key>maximum-retries</key>
        <value>
            <name>maximum-retries</name>
        </value>
    </entry>
    <entry>
        <key>penalize-retries</key>
        <value>
            <name>penalize-retries</name>
        </value>
    </entry>
    <entry>
        <key>Fail on Non-numerical Overwrite</key>
        <value>
            <name>Fail on Non-numerical Overwrite</name>
        </value>
    </entry>
    <entry>
        <key>reuse-mode</key>
        <value>
            <name>reuse-mode</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>retry-attribute</key>
        <value>flowfile.retries</value>
    </entry>
    <entry>
        <key>maximum-retries</key>
        <value>3</value>
    </entry>
    <entry>
        <key>penalize-retries</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Fail on Non-numerical Overwrite</key>
        <value>false</value>
    </entry>
    <entry>
        <key>reuse-mode</key>
        <value>fail</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>RetryFlowFile</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>retries_exceeded</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>retry</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.RetryFlowFile</type>
                        </processors>
                        <processors>
                            <id>d722f3be-6cec-3ecc-0000-000000000000</id>
                            <parentGroupId>54bdac87-2c0f-3400-0000-000000000000</parentGroupId>
                            <position>
<x>1464.0</x>
<y>64.0</y>
                            </position>
                            <versionedComponentId>0b159b10-2a2c-3fb8-b661-8597a1f32c2a</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>log-level</key>
        <value>
            <name>log-level</name>
        </value>
    </entry>
    <entry>
        <key>log-prefix</key>
        <value>
            <name>log-prefix</name>
        </value>
    </entry>
    <entry>
        <key>log-message</key>
        <value>
            <name>log-message</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>log-level</key>
        <value>error</value>
    </entry>
    <entry>
        <key>log-prefix</key>
    </entry>
    <entry>
        <key>log-message</key>
        <value>Error to send data to SPLUNK with HEC-Nifi</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>LogMessage</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.LogMessage</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>SendHEC</name>
                    <variables/>
                </processGroups>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Nifi_Monitoring_Splunk</name>
            <variables>
                <entry>
                    <key>splunk_hec_token</key>
                    <value></value>
                </entry>
                <entry>
                    <key>nifi_path</key>
                    <value></value>
                </entry>
                <entry>
                    <key>splunk_hec</key>
                    <value></value>
                </entry>
            </variables>
        </processGroups>
    </snippet>
    <timestamp>09/21/2021 15:18:56 CLST</timestamp>
</template>
