template/NifiMonitoringTemplate.json
{"flowContents":{"identifier":"4b6cc9ae-5df4-3177-9f40-645001b44157","instanceIdentifier":"dce39e94-a8e1-3e89-01ee-6dba87e7321d","name":"Nifi_Monitoring_Splunk","comments":"","position":{"x":456.0,"y":-40.0},"processGroups":[{"identifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","instanceIdentifier":"312879cc-42f3-3b91-e427-4994d2532007","name":"Monitoring - API","comments":"","position":{"x":472.0,"y":168.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"db9f14bd-5d60-3b2c-957f-0023ccd669fc","instanceIdentifier":"acc1b401-de63-3c3b-b177-23b6a22f231f","name":"GetHTTP-_flow_status","comments":"","position":{"x":-624.0,"y":-80.0},"type":"org.apache.nifi.processors.standard.GetHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Proxy Host":null,"redirect-cookie-policy":"default","proxy-configuration-service":null,"Filename":"flow_status.json","User Agent":"nifi","Proxy Port":null,"URL":"http://${hostname(true)}:8080/nifi-api/flow/status","Connection Timeout":"30 sec","Data Timeout":"30 sec","SSL Context Service":null,"Username":null,"Accept Content-Type":null,"Follow Redirects":"false"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"redirect-cookie-policy":{"name":"redirect-cookie-policy","displayName":"Redirect Cookie Policy","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Filename":{"name":"Filename","displayName":"Filename","identifiesControllerService":false,"sensitive":false},"User Agent":{"name":"User Agent","displayName":"User Agent","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"URL":{"name":"URL","displayName":"URL","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"Data Timeout":{"name":"Data Timeout","displayName":"Data Timeout","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"Accept Content-Type":{"name":"Accept Content-Type","displayName":"Accept Content-Type","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Follow Redirects","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"38ae2ec7-5e9f-3be0-85c8-e5ded6ddc73d","instanceIdentifier":"8cf11804-69f7-32ae-6dee-683925b7b738","name":"Set-Splunk_variables","comments":"","position":{"x":32.0,"y":-264.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sourcetype":"nifi:api:site_to_site","source":"site-to-site_${now():toNumber():format('yyyyMMddHHmmss')}.log","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sourcetype":{"name":"sourcetype","displayName":"sourcetype","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"fcaa8186-1e69-3eda-8b5e-e7c21905645f","instanceIdentifier":"139d9759-58c7-38df-8749-bde667650a6b","name":"Set-Splunk_variables","comments":"","position":{"x":32.0,"y":-432.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sourcetype":"nifi:api:system_diagnostics","source":"system_diagnostics_${now():toNumber():format('yyyyMMddHHmmss')}.log","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sourcetype":{"name":"sourcetype","displayName":"sourcetype","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"1371ddab-cfdc-309e-9127-0bea6d31b3c2","instanceIdentifier":"6943e6fb-aaf7-3a4e-efdc-7160ce80bd04","name":"GetHTTP-system_diagnostics","comments":"","position":{"x":-624.0,"y":-456.0},"type":"org.apache.nifi.processors.standard.GetHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Proxy Host":null,"redirect-cookie-policy":"default","proxy-configuration-service":null,"Filename":"system-diagnostics.log","User Agent":"nifi","Proxy Port":null,"URL":"http://${hostname(true)}:8080/nifi-api/system-diagnostics","Connection Timeout":"30 sec","Data Timeout":"30 sec","SSL Context Service":null,"Username":null,"Accept Content-Type":null,"Follow Redirects":"false"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"redirect-cookie-policy":{"name":"redirect-cookie-policy","displayName":"Redirect Cookie Policy","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Filename":{"name":"Filename","displayName":"Filename","identifiesControllerService":false,"sensitive":false},"User Agent":{"name":"User Agent","displayName":"User Agent","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"URL":{"name":"URL","displayName":"URL","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"Data Timeout":{"name":"Data Timeout","displayName":"Data Timeout","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"Accept Content-Type":{"name":"Accept Content-Type","displayName":"Accept Content-Type","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Follow Redirects","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"f057f8e0-3d6a-39d8-91b0-83d1ad8f2a83","instanceIdentifier":"0ba23331-6d02-3e07-1a90-e927c9b1d530","name":"Set-Splunk_variables","comments":"","position":{"x":32.0,"y":-88.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sourcetype":"nifi:api:flow_status","source":"flow_status_${now():toNumber():format('yyyyMMddHHmmss')}.log","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sourcetype":{"name":"sourcetype","displayName":"sourcetype","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"8d52a96b-80bf-3be4-ad01-55ab5bf0c8ba","instanceIdentifier":"761c000b-7582-3d5b-fea6-1c03862e2312","name":"GetHTTP-site_to_site","comments":"","position":{"x":-624.0,"y":-264.0},"type":"org.apache.nifi.processors.standard.GetHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Proxy Host":null,"redirect-cookie-policy":"default","proxy-configuration-service":null,"Filename":"site-to-site.json","User Agent":"nifi","Proxy Port":null,"URL":"http://${hostname(true)}:8080/nifi-api/site-to-site","Connection Timeout":"30 sec","Data Timeout":"30 sec","SSL Context Service":null,"Username":null,"Accept Content-Type":null,"Follow Redirects":"false"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"redirect-cookie-policy":{"name":"redirect-cookie-policy","displayName":"Redirect Cookie Policy","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Filename":{"name":"Filename","displayName":"Filename","identifiesControllerService":false,"sensitive":false},"User Agent":{"name":"User Agent","displayName":"User Agent","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"URL":{"name":"URL","displayName":"URL","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"Data Timeout":{"name":"Data Timeout","displayName":"Data Timeout","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"Accept Content-Type":{"name":"Accept Content-Type","displayName":"Accept Content-Type","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Follow Redirects","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"}],"inputPorts":[],"outputPorts":[{"identifier":"0b15d067-df10-3c52-9ad7-5eeefac12b96","instanceIdentifier":"64c63d89-c30d-38a0-43e3-a0c6ad7d2fcf","name":"output_api","comments":"","position":{"x":1048.0,"y":-224.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"}],"connections":[{"identifier":"067f9472-a224-3eb3-9a56-c5c4f9db64af","instanceIdentifier":"612b37cb-886b-37c2-bde7-6a47f864dbf8","name":"","source":{"id":"38ae2ec7-5e9f-3be0-85c8-e5ded6ddc73d","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"8cf11804-69f7-32ae-6dee-683925b7b738"},"destination":{"id":"feec6feb-121f-33df-b53d-cee70c859ddc","type":"FUNNEL","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Funnel","comments":"","instanceIdentifier":"a2af6531-ad3a-3117-4725-88dd5f3270f8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"d8d76da0-de63-3f6d-af99-5766dd23b651","instanceIdentifier":"1f51c338-39b0-3885-a98e-2129260368bf","name":"","source":{"id":"f057f8e0-3d6a-39d8-91b0-83d1ad8f2a83","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"0ba23331-6d02-3e07-1a90-e927c9b1d530"},"destination":{"id":"feec6feb-121f-33df-b53d-cee70c859ddc","type":"FUNNEL","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Funnel","comments":"","instanceIdentifier":"a2af6531-ad3a-3117-4725-88dd5f3270f8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"0bd9c1ec-6ba2-3feb-9e1e-7e53c7e99cc7","instanceIdentifier":"772ded59-f479-3531-0b00-88a31b091c36","name":"","source":{"id":"8d52a96b-80bf-3be4-ad01-55ab5bf0c8ba","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"GetHTTP-site_to_site","comments":"","instanceIdentifier":"761c000b-7582-3d5b-fea6-1c03862e2312"},"destination":{"id":"38ae2ec7-5e9f-3be0-85c8-e5ded6ddc73d","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"8cf11804-69f7-32ae-6dee-683925b7b738"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"72e45bf8-70ef-3809-8430-ba9156d2007f","instanceIdentifier":"4bb56f49-9196-3795-2eee-65becc684738","name":"","source":{"id":"db9f14bd-5d60-3b2c-957f-0023ccd669fc","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"GetHTTP-_flow_status","comments":"","instanceIdentifier":"acc1b401-de63-3c3b-b177-23b6a22f231f"},"destination":{"id":"f057f8e0-3d6a-39d8-91b0-83d1ad8f2a83","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"0ba23331-6d02-3e07-1a90-e927c9b1d530"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"efc8a424-9d9f-31d7-b6c9-a4b0b4fd565a","instanceIdentifier":"2c9d9068-2101-3de6-9020-da48630e8911","name":"","source":{"id":"fcaa8186-1e69-3eda-8b5e-e7c21905645f","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"139d9759-58c7-38df-8749-bde667650a6b"},"destination":{"id":"feec6feb-121f-33df-b53d-cee70c859ddc","type":"FUNNEL","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Funnel","comments":"","instanceIdentifier":"a2af6531-ad3a-3117-4725-88dd5f3270f8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"fad0e424-5839-3668-b968-679389f650b7","instanceIdentifier":"740cbfd1-47dd-3c1a-f719-4e1930c7308c","name":"","source":{"id":"1371ddab-cfdc-309e-9127-0bea6d31b3c2","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"GetHTTP-system_diagnostics","comments":"","instanceIdentifier":"6943e6fb-aaf7-3a4e-efdc-7160ce80bd04"},"destination":{"id":"fcaa8186-1e69-3eda-8b5e-e7c21905645f","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"139d9759-58c7-38df-8749-bde667650a6b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"237f7b54-89d9-32a7-8f63-b0f561a72312","instanceIdentifier":"d7df8ddb-a742-39dd-7467-487e2bb0167c","name":"","source":{"id":"feec6feb-121f-33df-b53d-cee70c859ddc","type":"FUNNEL","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Funnel","comments":"","instanceIdentifier":"a2af6531-ad3a-3117-4725-88dd5f3270f8"},"destination":{"id":"0b15d067-df10-3c52-9ad7-5eeefac12b96","type":"OUTPUT_PORT","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"output_api","comments":"","instanceIdentifier":"64c63d89-c30d-38a0-43e3-a0c6ad7d2fcf"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"}],"labels":[],"funnels":[{"identifier":"feec6feb-121f-33df-b53d-cee70c859ddc","instanceIdentifier":"a2af6531-ad3a-3117-4725-88dd5f3270f8","position":{"x":736.0,"y":-224.0},"componentType":"FUNNEL","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"}],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"4b6cc9ae-5df4-3177-9f40-645001b44157"},{"identifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","instanceIdentifier":"3e9de984-4b75-37a8-4000-47133180e069","name":"Monitoring - ReportingTask","comments":"","position":{"x":464.0,"y":640.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"284dd1ea-c98b-3aa8-9b55-4f99a51e4056","instanceIdentifier":"089f67d0-b0ad-3702-ff12-371065a88375","name":"Set-Splunk_variables","comments":"","position":{"x":688.0,"y":56.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sourcetype":"nifi:reporting:task","source":"reportingtask_${now():toNumber():format('yyyyMMddHHmmss')}.log","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sourcetype":{"name":"sourcetype","displayName":"sourcetype","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1"},{"identifier":"b9059878-48ed-3a3d-a8a8-1814bfd4d2a0","instanceIdentifier":"75484066-88b9-3ca6-33a0-d61b586209ad","name":"Set-Splunk_variables","comments":"","position":{"x":688.0,"y":216.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sourcetype":"nifi:reporting:bulletin","source":"bulletinReport_${now():toNumber():format('yyyyMMddHHmmss')}.log","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sourcetype":{"name":"sourcetype","displayName":"sourcetype","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1"}],"inputPorts":[{"identifier":"3144a3a8-7d04-3dc9-a964-d5dcc605da2d","instanceIdentifier":"f8270c06-6ae0-3367-d093-5ddc51772610","name":"bulletin_report","comments":"","position":{"x":112.0,"y":240.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":true,"componentType":"INPUT_PORT","groupIdentifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1"},{"identifier":"4effa5ac-363a-31ce-9798-4e1af56e915e","instanceIdentifier":"2f0caeb8-21f4-3ecc-af85-07168ed9b0fc","name":"reporting_task","comments":"","position":{"x":112.0,"y":80.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":true,"componentType":"INPUT_PORT","groupIdentifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1"}],"outputPorts":[{"identifier":"ae75456f-87bf-3b36-8486-39cb7524995b","instanceIdentifier":"67261c00-512d-3ab1-79f4-3a8c515282e0","name":"output_reporting","comments":"","position":{"x":1384.0,"y":168.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1"}],"connections":[{"identifier":"dea69ea5-e33a-3f87-847b-f67fff0b6678","instanceIdentifier":"598b3c07-7b52-3681-f38f-408d41acd039","name":"","source":{"id":"284dd1ea-c98b-3aa8-9b55-4f99a51e4056","type":"PROCESSOR","groupId":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"089f67d0-b0ad-3702-ff12-371065a88375"},"destination":{"id":"ae75456f-87bf-3b36-8486-39cb7524995b","type":"OUTPUT_PORT","groupId":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","name":"output_reporting","comments":"","instanceIdentifier":"67261c00-512d-3ab1-79f4-3a8c515282e0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1"},{"identifier":"9ece8189-d5b7-34a1-a6a3-fe8e44aa85e0","instanceIdentifier":"5eababc3-fb73-35d0-ae75-312d67f122b2","name":"","source":{"id":"b9059878-48ed-3a3d-a8a8-1814bfd4d2a0","type":"PROCESSOR","groupId":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"75484066-88b9-3ca6-33a0-d61b586209ad"},"destination":{"id":"ae75456f-87bf-3b36-8486-39cb7524995b","type":"OUTPUT_PORT","groupId":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","name":"output_reporting","comments":"","instanceIdentifier":"67261c00-512d-3ab1-79f4-3a8c515282e0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1"},{"identifier":"2a10f6b3-99ec-3f2a-a1c4-7d7d9aa46e7b","instanceIdentifier":"82d757ee-4f0f-304b-11dc-ea17c9ceeb3b","name":"","source":{"id":"3144a3a8-7d04-3dc9-a964-d5dcc605da2d","type":"INPUT_PORT","groupId":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","name":"bulletin_report","comments":"","instanceIdentifier":"f8270c06-6ae0-3367-d093-5ddc51772610"},"destination":{"id":"b9059878-48ed-3a3d-a8a8-1814bfd4d2a0","type":"PROCESSOR","groupId":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"75484066-88b9-3ca6-33a0-d61b586209ad"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1"},{"identifier":"f9b83ae9-0f32-34e4-9e40-f9d5b0d3649b","instanceIdentifier":"94a90fad-0362-3ba8-c8c3-1c82d240f676","name":"","source":{"id":"4effa5ac-363a-31ce-9798-4e1af56e915e","type":"INPUT_PORT","groupId":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","name":"reporting_task","comments":"","instanceIdentifier":"2f0caeb8-21f4-3ecc-af85-07168ed9b0fc"},"destination":{"id":"284dd1ea-c98b-3aa8-9b55-4f99a51e4056","type":"PROCESSOR","groupId":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"089f67d0-b0ad-3702-ff12-371065a88375"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"4b6cc9ae-5df4-3177-9f40-645001b44157"},{"identifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","instanceIdentifier":"0b3c1ad5-7743-3986-5c75-7bbf8f1eaedd","name":"Monitoring - Logs","comments":"","position":{"x":464.0,"y":408.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"4a012b1c-5e33-3b43-91b2-e6d5731533bf","instanceIdentifier":"6f9a9301-de98-3d94-6b65-13c8e5b183d2","name":"Set-Splunk_variables","comments":"","position":{"x":2368.0,"y":112.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sourcetype":"nifi:log:app","source":"nifi_app_${now():toNumber():format('yyyyMMddHHmmss')}.log","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sourcetype":{"name":"sourcetype","displayName":"sourcetype","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"cdecc426-2e15-39d4-823a-16214b5f0ef6","instanceIdentifier":"3c76223e-aaa0-3bfb-b2d1-08ba256d8499","name":"ReadLogsNifi","comments":"","position":{"x":416.0,"y":296.0},"type":"org.apache.nifi.processors.standard.TailFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"tailfile-recursive-lookup":"false","File Location":"Local","Line Start Pattern":null,"Rolling Filename Pattern":null,"Initial Start Position":"Beginning of File","pre-allocated-buffer-size":"65536 B","Post-Rollover Tail Period":"0 sec","tail-base-directory":"${nifi_path}logs","reread-on-nul":"false","tailfile-maximum-age":"1 hours","Max Buffer Size":"64 KB","File to Tail":"nifi\\-.*","tailfile-lookup-frequency":"10 minutes","tail-mode":"Multiple files"},"propertyDescriptors":{"tailfile-recursive-lookup":{"name":"tailfile-recursive-lookup","displayName":"Recursive lookup","identifiesControllerService":false,"sensitive":false},"File Location":{"name":"File Location","displayName":"State Location","identifiesControllerService":false,"sensitive":false},"Line Start Pattern":{"name":"Line Start Pattern","displayName":"Line Start Pattern","identifiesControllerService":false,"sensitive":false},"Rolling Filename Pattern":{"name":"Rolling Filename Pattern","displayName":"Rolling Filename Pattern","identifiesControllerService":false,"sensitive":false},"Initial Start Position":{"name":"Initial Start Position","displayName":"Initial Start Position","identifiesControllerService":false,"sensitive":false},"pre-allocated-buffer-size":{"name":"pre-allocated-buffer-size","displayName":"Pre-Allocated Buffer Size","identifiesControllerService":false,"sensitive":false},"Post-Rollover Tail Period":{"name":"Post-Rollover Tail Period","displayName":"Post-Rollover Tail Period","identifiesControllerService":false,"sensitive":false},"tail-base-directory":{"name":"tail-base-directory","displayName":"Base directory","identifiesControllerService":false,"sensitive":false},"reread-on-nul":{"name":"reread-on-nul","displayName":"Reread when NUL encountered","identifiesControllerService":false,"sensitive":false},"tailfile-maximum-age":{"name":"tailfile-maximum-age","displayName":"Maximum age","identifiesControllerService":false,"sensitive":false},"Max Buffer Size":{"name":"Max Buffer Size","displayName":"Max Buffer Size","identifiesControllerService":false,"sensitive":false},"File to Tail":{"name":"File to Tail","displayName":"File(s) to Tail","identifiesControllerService":false,"sensitive":false},"tailfile-lookup-frequency":{"name":"tailfile-lookup-frequency","displayName":"Lookup frequency","identifiesControllerService":false,"sensitive":false},"tail-mode":{"name":"tail-mode","displayName":"Tailing mode","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"3 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"2611bfca-fb8c-3665-a671-451975c74b60","instanceIdentifier":"014c08b9-42a8-34c9-5d41-565a529d2780","name":"RouteLogsNifi","comments":"","position":{"x":1104.0,"y":296.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"nifi-bootstrap":"${filename:contains('nifi-bootstrap')}","Routing Strategy":"Route to Property name","nifi-user":"${filename:contains('nifi-user')}","nifi-app":"${filename:contains('nifi-app')}"},"propertyDescriptors":{"nifi-bootstrap":{"name":"nifi-bootstrap","displayName":"nifi-bootstrap","identifiesControllerService":false,"sensitive":false},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"nifi-user":{"name":"nifi-user","displayName":"nifi-user","identifiesControllerService":false,"sensitive":false},"nifi-app":{"name":"nifi-app","displayName":"nifi-app","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"f35d3730-e234-392e-b8e7-6fdbfeada841","instanceIdentifier":"aecc1ac5-07cd-3def-7082-2b86e75dbf14","name":"Set-Splunk_variables","comments":"","position":{"x":2376.0,"y":464.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sourcetype":"nifi:log:bootstrap","source":"nifi_bootstrap_${now():toNumber():format('yyyyMMddHHmmss')}.log","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sourcetype":{"name":"sourcetype","displayName":"sourcetype","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"f7ddaf54-34aa-3e0c-a2c7-05b1eb792317","instanceIdentifier":"804957b8-a63d-3003-43aa-e3cb2de4fa4f","name":"Set-Splunk_variables","comments":"","position":{"x":2368.0,"y":280.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sourcetype":"nifi:log:user","source":"nifi_user_${now():toNumber():format('yyyyMMddHHmmss')}.log","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sourcetype":{"name":"sourcetype","displayName":"sourcetype","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"519eca8e-29e4-3d02-81b1-d78c4af5f1fc","instanceIdentifier":"34f9435a-c678-3995-a05e-75adfce5eab8","name":"nifi-app","comments":"","position":{"x":1720.0,"y":120.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"22a10724-4dd1-35ef-98d3-257057f060fb","instanceIdentifier":"78a78f3f-e995-303a-7cec-2568db1a76cd","name":"nifi-user","comments":"","position":{"x":1728.0,"y":288.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"76030cc2-2b49-37ab-a02b-7451013e4631","instanceIdentifier":"804a6375-44a6-3ca5-5606-fed3d2f1a289","name":"nifi-bootstrap","comments":"","position":{"x":1728.0,"y":464.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"}],"inputPorts":[],"outputPorts":[{"identifier":"b0934613-cc35-3ec9-b2a3-8840e7883f0e","instanceIdentifier":"78c4e6f8-684b-36d1-3538-ab8951d43eca","name":"output_logs","comments":"","position":{"x":3456.0,"y":320.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"}],"connections":[{"identifier":"39c4d0dc-43f2-3e90-9777-d23280072e75","instanceIdentifier":"60918433-e739-3a01-0fff-d06d8789e086","name":"","source":{"id":"cdecc426-2e15-39d4-823a-16214b5f0ef6","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"ReadLogsNifi","comments":"","instanceIdentifier":"3c76223e-aaa0-3bfb-b2d1-08ba256d8499"},"destination":{"id":"2611bfca-fb8c-3665-a671-451975c74b60","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"RouteLogsNifi","comments":"","instanceIdentifier":"014c08b9-42a8-34c9-5d41-565a529d2780"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"5a51004f-0059-3d8a-8c5b-b3734a399820","instanceIdentifier":"9ee65e7e-2c7a-31b9-8409-5f57c8997b73","name":"","source":{"id":"f35d3730-e234-392e-b8e7-6fdbfeada841","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"aecc1ac5-07cd-3def-7082-2b86e75dbf14"},"destination":{"id":"ce2e0761-c424-3dad-a3a6-281503d0a293","type":"FUNNEL","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Funnel","comments":"","instanceIdentifier":"58f9e38a-90e9-3496-f5e6-233410ef98f4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"9c9d78ac-b569-346f-91f4-db9f30ae6dc0","instanceIdentifier":"b0b621a0-04a4-3891-36c2-e5039d26d7d3","name":"","source":{"id":"4a012b1c-5e33-3b43-91b2-e6d5731533bf","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"6f9a9301-de98-3d94-6b65-13c8e5b183d2"},"destination":{"id":"ce2e0761-c424-3dad-a3a6-281503d0a293","type":"FUNNEL","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Funnel","comments":"","instanceIdentifier":"58f9e38a-90e9-3496-f5e6-233410ef98f4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"30d5182e-fe5f-3160-a9cb-26603ba3064f","instanceIdentifier":"d81b0e3e-9ded-3864-c342-8df09cb31dce","name":"","source":{"id":"76030cc2-2b49-37ab-a02b-7451013e4631","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"nifi-bootstrap","comments":"","instanceIdentifier":"804a6375-44a6-3ca5-5606-fed3d2f1a289"},"destination":{"id":"f35d3730-e234-392e-b8e7-6fdbfeada841","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"aecc1ac5-07cd-3def-7082-2b86e75dbf14"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"99cdcf0f-6458-30e3-91b7-b26ee1ef25b9","instanceIdentifier":"153bb930-5bfa-3e18-4cc0-813d971d06fd","name":"","source":{"id":"f7ddaf54-34aa-3e0c-a2c7-05b1eb792317","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"804957b8-a63d-3003-43aa-e3cb2de4fa4f"},"destination":{"id":"ce2e0761-c424-3dad-a3a6-281503d0a293","type":"FUNNEL","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Funnel","comments":"","instanceIdentifier":"58f9e38a-90e9-3496-f5e6-233410ef98f4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"67f63e0e-13e5-324f-9229-36ae9109dbbc","instanceIdentifier":"80742f00-f098-3fec-8f2a-a50881819fbc","name":"","source":{"id":"519eca8e-29e4-3d02-81b1-d78c4af5f1fc","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"nifi-app","comments":"","instanceIdentifier":"34f9435a-c678-3995-a05e-75adfce5eab8"},"destination":{"id":"4a012b1c-5e33-3b43-91b2-e6d5731533bf","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"6f9a9301-de98-3d94-6b65-13c8e5b183d2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"8480415f-9558-392f-a9d6-3fc8b57da4f6","instanceIdentifier":"28e891d6-cc90-3a91-4575-e49523e8df15","name":"","source":{"id":"2611bfca-fb8c-3665-a671-451975c74b60","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"RouteLogsNifi","comments":"","instanceIdentifier":"014c08b9-42a8-34c9-5d41-565a529d2780"},"destination":{"id":"22a10724-4dd1-35ef-98d3-257057f060fb","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"nifi-user","comments":"","instanceIdentifier":"78a78f3f-e995-303a-7cec-2568db1a76cd"},"labelIndex":1,"zIndex":0,"selectedRelationships":["nifi-user"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"3dcb68de-3584-328a-9516-e53fff97e99f","instanceIdentifier":"898636fb-5fcb-3912-f59e-3df1c6282f10","name":"","source":{"id":"2611bfca-fb8c-3665-a671-451975c74b60","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"RouteLogsNifi","comments":"","instanceIdentifier":"014c08b9-42a8-34c9-5d41-565a529d2780"},"destination":{"id":"76030cc2-2b49-37ab-a02b-7451013e4631","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"nifi-bootstrap","comments":"","instanceIdentifier":"804a6375-44a6-3ca5-5606-fed3d2f1a289"},"labelIndex":1,"zIndex":0,"selectedRelationships":["nifi-bootstrap"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"4862ed6c-11c7-3485-b9e2-bcb6b524a698","instanceIdentifier":"f0451c0c-b328-3ebc-b4a3-d4fe1ba74ce8","name":"","source":{"id":"22a10724-4dd1-35ef-98d3-257057f060fb","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"nifi-user","comments":"","instanceIdentifier":"78a78f3f-e995-303a-7cec-2568db1a76cd"},"destination":{"id":"f7ddaf54-34aa-3e0c-a2c7-05b1eb792317","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"804957b8-a63d-3003-43aa-e3cb2de4fa4f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"49e153b7-e19e-39e5-b9d1-7d342d22fb13","instanceIdentifier":"18916485-60ec-3554-d772-5bcacb46c0a5","name":"","source":{"id":"ce2e0761-c424-3dad-a3a6-281503d0a293","type":"FUNNEL","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Funnel","comments":"","instanceIdentifier":"58f9e38a-90e9-3496-f5e6-233410ef98f4"},"destination":{"id":"b0934613-cc35-3ec9-b2a3-8840e7883f0e","type":"OUTPUT_PORT","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"output_logs","comments":"","instanceIdentifier":"78c4e6f8-684b-36d1-3538-ab8951d43eca"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"e1efa745-81fa-30b6-901d-1d50f268c56e","instanceIdentifier":"020965c4-c874-38c0-21a3-a7f242a7330c","name":"","source":{"id":"2611bfca-fb8c-3665-a671-451975c74b60","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"RouteLogsNifi","comments":"","instanceIdentifier":"014c08b9-42a8-34c9-5d41-565a529d2780"},"destination":{"id":"519eca8e-29e4-3d02-81b1-d78c4af5f1fc","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"nifi-app","comments":"","instanceIdentifier":"34f9435a-c678-3995-a05e-75adfce5eab8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["nifi-app"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"}],"labels":[],"funnels":[{"identifier":"ce2e0761-c424-3dad-a3a6-281503d0a293","instanceIdentifier":"58f9e38a-90e9-3496-f5e6-233410ef98f4","position":{"x":3080.0,"y":320.0},"componentType":"FUNNEL","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"}],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"4b6cc9ae-5df4-3177-9f40-645001b44157"},{"identifier":"773a63cf-45da-393e-a613-f641fb34fa60","instanceIdentifier":"54bdac87-2c0f-3400-50e4-50d233f37fe9","name":"SendHEC","comments":"","position":{"x":1528.0,"y":408.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"8349b09f-8d76-3cd5-86bb-17ccb1cfb0df","instanceIdentifier":"d15226f3-287f-325a-a9d2-80509154cdb3","name":"RetryFlowFile","comments":"","position":{"x":704.0,"y":560.0},"type":"org.apache.nifi.processors.standard.RetryFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"penalize-retries":"true","maximum-retries":"3","Fail on Non-numerical Overwrite":"false","reuse-mode":"fail","retry-attribute":"flowfile.retries"},"propertyDescriptors":{"penalize-retries":{"name":"penalize-retries","displayName":"Penalize Retries","identifiesControllerService":false,"sensitive":false},"maximum-retries":{"name":"maximum-retries","displayName":"Maximum Retries","identifiesControllerService":false,"sensitive":false},"Fail on Non-numerical Overwrite":{"name":"Fail on Non-numerical Overwrite","displayName":"Fail on Non-numerical Overwrite","identifiesControllerService":false,"sensitive":false},"reuse-mode":{"name":"reuse-mode","displayName":"Reuse Mode","identifiesControllerService":false,"sensitive":false},"retry-attribute":{"name":"retry-attribute","displayName":"Retry Attribute","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"773a63cf-45da-393e-a613-f641fb34fa60"},{"identifier":"b3287b68-f5e6-3776-a833-754f06252af1","instanceIdentifier":"044ef51d-67fd-3afe-2702-3df5877ae397","name":"Send2Splunk-HEC","comments":"","position":{"x":704.0,"y":240.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","Authorization":"Splunk ${splunk_hec_token}","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"${splunk_hec}/services/collector/raw?sourcetype=${sourcetype}&host=${hostname(true)}&source=${source}","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"10","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":"curl/7.29.0"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"Authorization":{"name":"Authorization","displayName":"Authorization","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":3,"autoTerminatedRelationships":["Response","No Retry","Retry","Original"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"773a63cf-45da-393e-a613-f641fb34fa60"},{"identifier":"0b159b10-2a2c-3fb8-b661-8597a1f32c2a","instanceIdentifier":"d722f3be-6cec-3ecc-481a-a9e5ca59d96b","name":"LogMessage","comments":"","position":{"x":704.0,"y":816.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"log-message":"Error to send data to SPLUNK with HEC-Nifi","log-level":"error","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"773a63cf-45da-393e-a613-f641fb34fa60"}],"inputPorts":[{"identifier":"586ff88c-b1ed-31da-9628-f46a6a6dd81f","instanceIdentifier":"d3ba3947-6c13-3a54-311a-2b1e8934da88","name":"HEC_Connect","comments":"","position":{"x":144.0,"y":272.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"773a63cf-45da-393e-a613-f641fb34fa60"}],"outputPorts":[],"connections":[{"identifier":"71a99165-08ca-3965-8a1c-ebea2d950794","instanceIdentifier":"d53b9fcf-ef4d-35d7-eec3-0c471358799c","name":"","source":{"id":"586ff88c-b1ed-31da-9628-f46a6a6dd81f","type":"INPUT_PORT","groupId":"773a63cf-45da-393e-a613-f641fb34fa60","name":"HEC_Connect","comments":"","instanceIdentifier":"d3ba3947-6c13-3a54-311a-2b1e8934da88"},"destination":{"id":"b3287b68-f5e6-3776-a833-754f06252af1","type":"PROCESSOR","groupId":"773a63cf-45da-393e-a613-f641fb34fa60","name":"Send2Splunk-HEC","comments":"","instanceIdentifier":"044ef51d-67fd-3afe-2702-3df5877ae397"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"773a63cf-45da-393e-a613-f641fb34fa60"},{"identifier":"b9a94a16-b378-38a8-8662-d68b9f9ca6eb","instanceIdentifier":"283f1bda-acdc-32f0-bbfd-63afc2d6d6f6","name":"","source":{"id":"b3287b68-f5e6-3776-a833-754f06252af1","type":"PROCESSOR","groupId":"773a63cf-45da-393e-a613-f641fb34fa60","name":"Send2Splunk-HEC","comments":"","instanceIdentifier":"044ef51d-67fd-3afe-2702-3df5877ae397"},"destination":{"id":"8349b09f-8d76-3cd5-86bb-17ccb1cfb0df","type":"PROCESSOR","groupId":"773a63cf-45da-393e-a613-f641fb34fa60","name":"RetryFlowFile","comments":"","instanceIdentifier":"d15226f3-287f-325a-a9d2-80509154cdb3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"773a63cf-45da-393e-a613-f641fb34fa60"},{"identifier":"c9bb8cf5-8d3e-38b5-bc1f-2d999322b804","instanceIdentifier":"142dca95-aa58-3f38-b86a-6b175f24186f","name":"","source":{"id":"8349b09f-8d76-3cd5-86bb-17ccb1cfb0df","type":"PROCESSOR","groupId":"773a63cf-45da-393e-a613-f641fb34fa60","name":"RetryFlowFile","comments":"","instanceIdentifier":"d15226f3-287f-325a-a9d2-80509154cdb3"},"destination":{"id":"b3287b68-f5e6-3776-a833-754f06252af1","type":"PROCESSOR","groupId":"773a63cf-45da-393e-a613-f641fb34fa60","name":"Send2Splunk-HEC","comments":"","instanceIdentifier":"044ef51d-67fd-3afe-2702-3df5877ae397"},"labelIndex":1,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":552.0,"y":464.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"773a63cf-45da-393e-a613-f641fb34fa60"},{"identifier":"b8fca19c-8925-3b93-81f7-8b44315ceac8","instanceIdentifier":"04454e6f-f58b-3d4d-6937-148c1c5c6107","name":"","source":{"id":"8349b09f-8d76-3cd5-86bb-17ccb1cfb0df","type":"PROCESSOR","groupId":"773a63cf-45da-393e-a613-f641fb34fa60","name":"RetryFlowFile","comments":"","instanceIdentifier":"d15226f3-287f-325a-a9d2-80509154cdb3"},"destination":{"id":"0b159b10-2a2c-3fb8-b661-8597a1f32c2a","type":"PROCESSOR","groupId":"773a63cf-45da-393e-a613-f641fb34fa60","name":"LogMessage","comments":"","instanceIdentifier":"d722f3be-6cec-3ecc-481a-a9e5ca59d96b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["retries_exceeded"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"773a63cf-45da-393e-a613-f641fb34fa60"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"4b6cc9ae-5df4-3177-9f40-645001b44157"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"f9372630-7b42-393c-a13a-2a3e23f74b98","instanceIdentifier":"e93b5703-ec20-3fb1-634c-20575f796118","name":"","source":{"id":"ae75456f-87bf-3b36-8486-39cb7524995b","type":"OUTPUT_PORT","groupId":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","name":"output_reporting","comments":"","instanceIdentifier":"67261c00-512d-3ab1-79f4-3a8c515282e0"},"destination":{"id":"810fa907-ffe4-3748-9ee3-60ada51290f2","type":"FUNNEL","groupId":"4b6cc9ae-5df4-3177-9f40-645001b44157","name":"Funnel","comments":"","instanceIdentifier":"d6585edb-c4d9-3c88-a857-6090e6c67f49"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4b6cc9ae-5df4-3177-9f40-645001b44157"},{"identifier":"7d810b1c-63ee-34f6-a92f-063e65645a42","instanceIdentifier":"21c9ee2a-314e-38d0-6979-54377af9331b","name":"","source":{"id":"b0934613-cc35-3ec9-b2a3-8840e7883f0e","type":"OUTPUT_PORT","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"output_logs","comments":"","instanceIdentifier":"78c4e6f8-684b-36d1-3538-ab8951d43eca"},"destination":{"id":"810fa907-ffe4-3748-9ee3-60ada51290f2","type":"FUNNEL","groupId":"4b6cc9ae-5df4-3177-9f40-645001b44157","name":"Funnel","comments":"","instanceIdentifier":"d6585edb-c4d9-3c88-a857-6090e6c67f49"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4b6cc9ae-5df4-3177-9f40-645001b44157"},{"identifier":"aef67ee3-415e-3277-8d4d-2eed8a088011","instanceIdentifier":"1bef1e18-a884-3bab-4c96-ba57ae4b4a12","name":"","source":{"id":"0b15d067-df10-3c52-9ad7-5eeefac12b96","type":"OUTPUT_PORT","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"output_api","comments":"","instanceIdentifier":"64c63d89-c30d-38a0-43e3-a0c6ad7d2fcf"},"destination":{"id":"810fa907-ffe4-3748-9ee3-60ada51290f2","type":"FUNNEL","groupId":"4b6cc9ae-5df4-3177-9f40-645001b44157","name":"Funnel","comments":"","instanceIdentifier":"d6585edb-c4d9-3c88-a857-6090e6c67f49"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4b6cc9ae-5df4-3177-9f40-645001b44157"},{"identifier":"610a00d7-83f6-3f13-8339-c519e3346501","instanceIdentifier":"90f41232-dfca-3d77-1f02-fc08b5c0a249","name":"","source":{"id":"810fa907-ffe4-3748-9ee3-60ada51290f2","type":"FUNNEL","groupId":"4b6cc9ae-5df4-3177-9f40-645001b44157","name":"Funnel","comments":"","instanceIdentifier":"d6585edb-c4d9-3c88-a857-6090e6c67f49"},"destination":{"id":"586ff88c-b1ed-31da-9628-f46a6a6dd81f","type":"INPUT_PORT","groupId":"773a63cf-45da-393e-a613-f641fb34fa60","name":"HEC_Connect","comments":"","instanceIdentifier":"d3ba3947-6c13-3a54-311a-2b1e8934da88"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4b6cc9ae-5df4-3177-9f40-645001b44157"}],"labels":[],"funnels":[{"identifier":"810fa907-ffe4-3748-9ee3-60ada51290f2","instanceIdentifier":"d6585edb-c4d9-3c88-a857-6090e6c67f49","position":{"x":1200.0,"y":480.0},"componentType":"FUNNEL","groupIdentifier":"4b6cc9ae-5df4-3177-9f40-645001b44157"}],"controllerServices":[],"variables":{"splunk_hec_token":"nifimonitoring123","splunk_hec":"http://splunk1:8088","nifi_path":"/opt/nifi/nifi-current"},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}