template/NiFiMonitoring.json
{"flowContents":{"identifier":"2946bd70-291f-3719-81a5-074ff219c629","instanceIdentifier":"58267e68-0187-1000-eda4-1b4d43eda00d","name":"NiFiMonitoring","comments":"","position":{"x":-240.0,"y":280.0},"processGroups":[{"identifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","instanceIdentifier":"49ccf990-7c42-3533-e34e-244a8939ba89","name":"Monitoring - ReportingTask","comments":"","position":{"x":464.0,"y":640.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"284dd1ea-c98b-3aa8-9b55-4f99a51e4056","instanceIdentifier":"70ef40c4-948b-3b9f-e1b5-1b47236c8d30","name":"Set-Splunk_variables","comments":"","position":{"x":688.0,"y":56.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.19.1"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sourcetype":"nifi:reporting:task","source":"reportingtask_${now():toNumber():format('yyyyMMddHHmmss')}.log","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sourcetype":{"name":"sourcetype","displayName":"sourcetype","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1"},{"identifier":"b9059878-48ed-3a3d-a8a8-1814bfd4d2a0","instanceIdentifier":"3aef1525-02b0-39af-3451-5431fe0c2ef4","name":"Set-Splunk_variables","comments":"","position":{"x":688.0,"y":216.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.19.1"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sourcetype":"nifi:reporting:bulletin","source":"bulletinReport_${now():toNumber():format('yyyyMMddHHmmss')}.log","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sourcetype":{"name":"sourcetype","displayName":"sourcetype","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1"}],"inputPorts":[{"identifier":"3144a3a8-7d04-3dc9-a964-d5dcc605da2d","instanceIdentifier":"10ebdc5a-1d4d-3f3b-cfb4-869f02c29712","name":"Copy of bulletin_report","comments":"","position":{"x":112.0,"y":240.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":true,"componentType":"INPUT_PORT","groupIdentifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1"},{"identifier":"4effa5ac-363a-31ce-9798-4e1af56e915e","instanceIdentifier":"31ed7555-d92b-3eff-b47f-aa9faa7d1e7a","name":"Copy of reporting_task","comments":"","position":{"x":112.0,"y":80.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":true,"componentType":"INPUT_PORT","groupIdentifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1"}],"outputPorts":[{"identifier":"ae75456f-87bf-3b36-8486-39cb7524995b","instanceIdentifier":"97f15c36-28b8-3bb4-4b2b-4139c2ca4b5b","name":"output_reporting","comments":"","position":{"x":1384.0,"y":168.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1"}],"connections":[{"identifier":"dea69ea5-e33a-3f87-847b-f67fff0b6678","instanceIdentifier":"bf5acae7-851e-3a56-9e53-f3ff2616411e","name":"","source":{"id":"284dd1ea-c98b-3aa8-9b55-4f99a51e4056","type":"PROCESSOR","groupId":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"70ef40c4-948b-3b9f-e1b5-1b47236c8d30"},"destination":{"id":"ae75456f-87bf-3b36-8486-39cb7524995b","type":"OUTPUT_PORT","groupId":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","name":"output_reporting","comments":"","instanceIdentifier":"97f15c36-28b8-3bb4-4b2b-4139c2ca4b5b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1"},{"identifier":"9ece8189-d5b7-34a1-a6a3-fe8e44aa85e0","instanceIdentifier":"8597c267-0cea-3d97-4442-ac271a122d40","name":"","source":{"id":"b9059878-48ed-3a3d-a8a8-1814bfd4d2a0","type":"PROCESSOR","groupId":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"3aef1525-02b0-39af-3451-5431fe0c2ef4"},"destination":{"id":"ae75456f-87bf-3b36-8486-39cb7524995b","type":"OUTPUT_PORT","groupId":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","name":"output_reporting","comments":"","instanceIdentifier":"97f15c36-28b8-3bb4-4b2b-4139c2ca4b5b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1"},{"identifier":"2a10f6b3-99ec-3f2a-a1c4-7d7d9aa46e7b","instanceIdentifier":"fc755525-95ba-32b5-81a3-41c27659d3d1","name":"","source":{"id":"3144a3a8-7d04-3dc9-a964-d5dcc605da2d","type":"INPUT_PORT","groupId":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","name":"Copy of bulletin_report","comments":"","instanceIdentifier":"10ebdc5a-1d4d-3f3b-cfb4-869f02c29712"},"destination":{"id":"b9059878-48ed-3a3d-a8a8-1814bfd4d2a0","type":"PROCESSOR","groupId":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"3aef1525-02b0-39af-3451-5431fe0c2ef4"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1"},{"identifier":"f9b83ae9-0f32-34e4-9e40-f9d5b0d3649b","instanceIdentifier":"4acf7699-20ca-3de5-6fc4-1b059af45865","name":"","source":{"id":"4effa5ac-363a-31ce-9798-4e1af56e915e","type":"INPUT_PORT","groupId":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","name":"Copy of reporting_task","comments":"","instanceIdentifier":"31ed7555-d92b-3eff-b47f-aa9faa7d1e7a"},"destination":{"id":"284dd1ea-c98b-3aa8-9b55-4f99a51e4056","type":"PROCESSOR","groupId":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"70ef40c4-948b-3b9f-e1b5-1b47236c8d30"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"2946bd70-291f-3719-81a5-074ff219c629"},{"identifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","instanceIdentifier":"fd3d1938-cc5b-305f-b923-6fb07d77ca02","name":"Monitoring - API","comments":"","position":{"x":472.0,"y":168.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"db9f14bd-5d60-3b2c-957f-0023ccd669fc","instanceIdentifier":"5c6f934a-f265-3840-0601-a676279c4c55","name":"GetHTTP-_flow_status","comments":"","position":{"x":-624.0,"y":-80.0},"type":"org.apache.nifi.processors.standard.GetHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Proxy Host":null,"redirect-cookie-policy":"default","proxy-configuration-service":null,"Filename":"flow_status.json","User Agent":"nifi","Proxy Port":null,"URL":"http://${hostname(true)}:8080/nifi-api/flow/status","Connection Timeout":"30 sec","Data Timeout":"30 sec","SSL Context Service":null,"Username":null,"Accept Content-Type":null,"Follow Redirects":"false"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"redirect-cookie-policy":{"name":"redirect-cookie-policy","displayName":"Redirect Cookie Policy","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Filename":{"name":"Filename","displayName":"Filename","identifiesControllerService":false,"sensitive":false},"User Agent":{"name":"User Agent","displayName":"User Agent","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"URL":{"name":"URL","displayName":"URL","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"Data Timeout":{"name":"Data Timeout","displayName":"Data Timeout","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"Accept Content-Type":{"name":"Accept Content-Type","displayName":"Accept Content-Type","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Follow Redirects","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"38ae2ec7-5e9f-3be0-85c8-e5ded6ddc73d","instanceIdentifier":"1ac210f3-0984-33e0-4407-a314400ca99b","name":"Set-Splunk_variables","comments":"","position":{"x":32.0,"y":-264.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.19.1"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sourcetype":"nifi:api:site_to_site","source":"site-to-site_${now():toNumber():format('yyyyMMddHHmmss')}.log","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sourcetype":{"name":"sourcetype","displayName":"sourcetype","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"fcaa8186-1e69-3eda-8b5e-e7c21905645f","instanceIdentifier":"f129b381-5a3b-3b78-7941-a1982bcdf9bb","name":"Set-Splunk_variables","comments":"","position":{"x":32.0,"y":-432.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.19.1"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sourcetype":"nifi:api:system_diagnostics","source":"system_diagnostics_${now():toNumber():format('yyyyMMddHHmmss')}.log","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sourcetype":{"name":"sourcetype","displayName":"sourcetype","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"f057f8e0-3d6a-39d8-91b0-83d1ad8f2a83","instanceIdentifier":"1861b2df-532e-3fd0-d523-5d83c86d5b9d","name":"Set-Splunk_variables","comments":"","position":{"x":32.0,"y":-88.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.19.1"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sourcetype":"nifi:api:flow_status","source":"flow_status_${now():toNumber():format('yyyyMMddHHmmss')}.log","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sourcetype":{"name":"sourcetype","displayName":"sourcetype","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"1371ddab-cfdc-309e-9127-0bea6d31b3c2","instanceIdentifier":"80890893-7abb-389e-ba8f-40f31fb5a237","name":"GetHTTP-system_diagnostics","comments":"","position":{"x":-624.0,"y":-456.0},"type":"org.apache.nifi.processors.standard.GetHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Proxy Host":null,"redirect-cookie-policy":"default","proxy-configuration-service":null,"Filename":"system-diagnostics.log","User Agent":"nifi","Proxy Port":null,"URL":"http://${hostname(true)}:8080/nifi-api/system-diagnostics","Connection Timeout":"30 sec","Data Timeout":"30 sec","SSL Context Service":null,"Username":null,"Accept Content-Type":null,"Follow Redirects":"false"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"redirect-cookie-policy":{"name":"redirect-cookie-policy","displayName":"Redirect Cookie Policy","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Filename":{"name":"Filename","displayName":"Filename","identifiesControllerService":false,"sensitive":false},"User Agent":{"name":"User Agent","displayName":"User Agent","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"URL":{"name":"URL","displayName":"URL","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"Data Timeout":{"name":"Data Timeout","displayName":"Data Timeout","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"Accept Content-Type":{"name":"Accept Content-Type","displayName":"Accept Content-Type","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Follow Redirects","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"8d52a96b-80bf-3be4-ad01-55ab5bf0c8ba","instanceIdentifier":"cd0a818e-2553-39b7-2ccc-a2bcadee0240","name":"GetHTTP-site_to_site","comments":"","position":{"x":-624.0,"y":-264.0},"type":"org.apache.nifi.processors.standard.GetHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Proxy Host":null,"redirect-cookie-policy":"default","proxy-configuration-service":null,"Filename":"site-to-site.json","User Agent":"nifi","Proxy Port":null,"URL":"http://${hostname(true)}:8080/nifi-api/site-to-site","Connection Timeout":"30 sec","Data Timeout":"30 sec","SSL Context Service":null,"Username":null,"Accept Content-Type":null,"Follow Redirects":"false"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"redirect-cookie-policy":{"name":"redirect-cookie-policy","displayName":"Redirect Cookie Policy","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Filename":{"name":"Filename","displayName":"Filename","identifiesControllerService":false,"sensitive":false},"User Agent":{"name":"User Agent","displayName":"User Agent","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"URL":{"name":"URL","displayName":"URL","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"Data Timeout":{"name":"Data Timeout","displayName":"Data Timeout","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"Accept Content-Type":{"name":"Accept Content-Type","displayName":"Accept Content-Type","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Follow Redirects","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"}],"inputPorts":[],"outputPorts":[{"identifier":"0b15d067-df10-3c52-9ad7-5eeefac12b96","instanceIdentifier":"6773f7c3-213d-3a5d-7fec-29f5fd4f6de3","name":"output_api","comments":"","position":{"x":1048.0,"y":-224.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"}],"connections":[{"identifier":"067f9472-a224-3eb3-9a56-c5c4f9db64af","instanceIdentifier":"b0b2ed86-10d4-3a66-8664-f98acfbd8e7e","name":"","source":{"id":"38ae2ec7-5e9f-3be0-85c8-e5ded6ddc73d","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"1ac210f3-0984-33e0-4407-a314400ca99b"},"destination":{"id":"feec6feb-121f-33df-b53d-cee70c859ddc","type":"FUNNEL","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Funnel","comments":"","instanceIdentifier":"6c65139d-685b-3ae5-8383-cc55ee6892f3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"d8d76da0-de63-3f6d-af99-5766dd23b651","instanceIdentifier":"e573aebd-c923-3e2e-a274-bef74ff55da0","name":"","source":{"id":"f057f8e0-3d6a-39d8-91b0-83d1ad8f2a83","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"1861b2df-532e-3fd0-d523-5d83c86d5b9d"},"destination":{"id":"feec6feb-121f-33df-b53d-cee70c859ddc","type":"FUNNEL","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Funnel","comments":"","instanceIdentifier":"6c65139d-685b-3ae5-8383-cc55ee6892f3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"72e45bf8-70ef-3809-8430-ba9156d2007f","instanceIdentifier":"e8629d65-8ee7-33cf-b3d2-5fc966a3be60","name":"","source":{"id":"db9f14bd-5d60-3b2c-957f-0023ccd669fc","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"GetHTTP-_flow_status","comments":"","instanceIdentifier":"5c6f934a-f265-3840-0601-a676279c4c55"},"destination":{"id":"f057f8e0-3d6a-39d8-91b0-83d1ad8f2a83","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"1861b2df-532e-3fd0-d523-5d83c86d5b9d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"0bd9c1ec-6ba2-3feb-9e1e-7e53c7e99cc7","instanceIdentifier":"45f94a5a-5c10-3e02-551c-1062bd0e0a9a","name":"","source":{"id":"8d52a96b-80bf-3be4-ad01-55ab5bf0c8ba","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"GetHTTP-site_to_site","comments":"","instanceIdentifier":"cd0a818e-2553-39b7-2ccc-a2bcadee0240"},"destination":{"id":"38ae2ec7-5e9f-3be0-85c8-e5ded6ddc73d","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"1ac210f3-0984-33e0-4407-a314400ca99b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"efc8a424-9d9f-31d7-b6c9-a4b0b4fd565a","instanceIdentifier":"9f849b27-54a9-33a9-0c7e-66be54233a8c","name":"","source":{"id":"fcaa8186-1e69-3eda-8b5e-e7c21905645f","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"f129b381-5a3b-3b78-7941-a1982bcdf9bb"},"destination":{"id":"feec6feb-121f-33df-b53d-cee70c859ddc","type":"FUNNEL","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Funnel","comments":"","instanceIdentifier":"6c65139d-685b-3ae5-8383-cc55ee6892f3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"fad0e424-5839-3668-b968-679389f650b7","instanceIdentifier":"5ce8faa2-bf7d-3eba-ac40-a19b3c6da91d","name":"","source":{"id":"1371ddab-cfdc-309e-9127-0bea6d31b3c2","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"GetHTTP-system_diagnostics","comments":"","instanceIdentifier":"80890893-7abb-389e-ba8f-40f31fb5a237"},"destination":{"id":"fcaa8186-1e69-3eda-8b5e-e7c21905645f","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"f129b381-5a3b-3b78-7941-a1982bcdf9bb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"237f7b54-89d9-32a7-8f63-b0f561a72312","instanceIdentifier":"2de33c44-7302-3229-20ab-8aa7697c0ee5","name":"","source":{"id":"feec6feb-121f-33df-b53d-cee70c859ddc","type":"FUNNEL","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Funnel","comments":"","instanceIdentifier":"6c65139d-685b-3ae5-8383-cc55ee6892f3"},"destination":{"id":"0b15d067-df10-3c52-9ad7-5eeefac12b96","type":"OUTPUT_PORT","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"output_api","comments":"","instanceIdentifier":"6773f7c3-213d-3a5d-7fec-29f5fd4f6de3"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"}],"labels":[],"funnels":[{"identifier":"feec6feb-121f-33df-b53d-cee70c859ddc","instanceIdentifier":"6c65139d-685b-3ae5-8383-cc55ee6892f3","position":{"x":736.0,"y":-224.0},"componentType":"FUNNEL","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"}],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"2946bd70-291f-3719-81a5-074ff219c629"},{"identifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","instanceIdentifier":"61b696dc-e596-3060-ac5d-cfa78c7e9aec","name":"Monitoring - Logs","comments":"","position":{"x":464.0,"y":408.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"4a012b1c-5e33-3b43-91b2-e6d5731533bf","instanceIdentifier":"1160b8af-46ea-391b-db96-2fe275141886","name":"Set-Splunk_variables","comments":"","position":{"x":2368.0,"y":112.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.19.1"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sourcetype":"nifi:log:app","source":"nifi_app_${now():toNumber():format('yyyyMMddHHmmss')}.log","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sourcetype":{"name":"sourcetype","displayName":"sourcetype","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"cdecc426-2e15-39d4-823a-16214b5f0ef6","instanceIdentifier":"43f75149-c452-371a-9d10-0893afd70f2b","name":"ReadLogsNifi","comments":"","position":{"x":416.0,"y":296.0},"type":"org.apache.nifi.processors.standard.TailFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"tailfile-recursive-lookup":"false","File Location":"Local","Line Start Pattern":null,"Rolling Filename Pattern":null,"Initial Start Position":"Beginning of File","pre-allocated-buffer-size":"65536 B","Post-Rollover Tail Period":"0 sec","tail-base-directory":"${nifi_path}logs","reread-on-nul":"false","tailfile-maximum-age":"1 hours","Max Buffer Size":"64 KB","File to Tail":"nifi\\-.*","tailfile-lookup-frequency":"10 minutes","tail-mode":"Multiple files"},"propertyDescriptors":{"tailfile-recursive-lookup":{"name":"tailfile-recursive-lookup","displayName":"Recursive lookup","identifiesControllerService":false,"sensitive":false},"File Location":{"name":"File Location","displayName":"State Location","identifiesControllerService":false,"sensitive":false},"Line Start Pattern":{"name":"Line Start Pattern","displayName":"Line Start Pattern","identifiesControllerService":false,"sensitive":false},"Rolling Filename Pattern":{"name":"Rolling Filename Pattern","displayName":"Rolling Filename Pattern","identifiesControllerService":false,"sensitive":false},"Initial Start Position":{"name":"Initial Start Position","displayName":"Initial Start Position","identifiesControllerService":false,"sensitive":false},"pre-allocated-buffer-size":{"name":"pre-allocated-buffer-size","displayName":"Pre-Allocated Buffer Size","identifiesControllerService":false,"sensitive":false},"Post-Rollover Tail Period":{"name":"Post-Rollover Tail Period","displayName":"Post-Rollover Tail Period","identifiesControllerService":false,"sensitive":false},"tail-base-directory":{"name":"tail-base-directory","displayName":"Base directory","identifiesControllerService":false,"sensitive":false},"reread-on-nul":{"name":"reread-on-nul","displayName":"Reread when NUL encountered","identifiesControllerService":false,"sensitive":false},"tailfile-maximum-age":{"name":"tailfile-maximum-age","displayName":"Maximum age","identifiesControllerService":false,"sensitive":false},"Max Buffer Size":{"name":"Max Buffer Size","displayName":"Max Buffer Size","identifiesControllerService":false,"sensitive":false},"File to Tail":{"name":"File to Tail","displayName":"File(s) to Tail","identifiesControllerService":false,"sensitive":false},"tailfile-lookup-frequency":{"name":"tailfile-lookup-frequency","displayName":"Lookup frequency","identifiesControllerService":false,"sensitive":false},"tail-mode":{"name":"tail-mode","displayName":"Tailing mode","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"3 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"2611bfca-fb8c-3665-a671-451975c74b60","instanceIdentifier":"39752340-3654-3d4b-56ee-8ba4bffecf87","name":"RouteLogsNifi","comments":"","position":{"x":1104.0,"y":296.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"nifi-bootstrap":"${filename:contains('nifi-bootstrap')}","Routing Strategy":"Route to Property name","nifi-user":"${filename:contains('nifi-user')}","nifi-app":"${filename:contains('nifi-app')}"},"propertyDescriptors":{"nifi-bootstrap":{"name":"nifi-bootstrap","displayName":"nifi-bootstrap","identifiesControllerService":false,"sensitive":false},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"nifi-user":{"name":"nifi-user","displayName":"nifi-user","identifiesControllerService":false,"sensitive":false},"nifi-app":{"name":"nifi-app","displayName":"nifi-app","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"f35d3730-e234-392e-b8e7-6fdbfeada841","instanceIdentifier":"3b8e3207-5a82-3639-1d0c-d0d0de664178","name":"Set-Splunk_variables","comments":"","position":{"x":2376.0,"y":464.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.19.1"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sourcetype":"nifi:log:bootstrap","source":"nifi_bootstrap_${now():toNumber():format('yyyyMMddHHmmss')}.log","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sourcetype":{"name":"sourcetype","displayName":"sourcetype","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"f7ddaf54-34aa-3e0c-a2c7-05b1eb792317","instanceIdentifier":"eb540b57-fc21-3641-4868-01094073bf3e","name":"Set-Splunk_variables","comments":"","position":{"x":2368.0,"y":280.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.19.1"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sourcetype":"nifi:log:user","source":"nifi_user_${now():toNumber():format('yyyyMMddHHmmss')}.log","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sourcetype":{"name":"sourcetype","displayName":"sourcetype","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"519eca8e-29e4-3d02-81b1-d78c4af5f1fc","instanceIdentifier":"b801f378-60f2-3329-c063-a81570f5010e","name":"nifi-app","comments":"","position":{"x":1720.0,"y":120.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"22a10724-4dd1-35ef-98d3-257057f060fb","instanceIdentifier":"52162f16-1356-369a-a438-2b860891e102","name":"nifi-user","comments":"","position":{"x":1728.0,"y":288.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"76030cc2-2b49-37ab-a02b-7451013e4631","instanceIdentifier":"5eeaded3-a64a-3f69-918b-d52f3071e2cf","name":"nifi-bootstrap","comments":"","position":{"x":1728.0,"y":464.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"}],"inputPorts":[],"outputPorts":[{"identifier":"b0934613-cc35-3ec9-b2a3-8840e7883f0e","instanceIdentifier":"81720f73-d70a-3893-6578-e47860e745b9","name":"output_logs","comments":"","position":{"x":3456.0,"y":320.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"}],"connections":[{"identifier":"39c4d0dc-43f2-3e90-9777-d23280072e75","instanceIdentifier":"de96a968-6f64-3e20-48f3-323a82862e7a","name":"","source":{"id":"cdecc426-2e15-39d4-823a-16214b5f0ef6","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"ReadLogsNifi","comments":"","instanceIdentifier":"43f75149-c452-371a-9d10-0893afd70f2b"},"destination":{"id":"2611bfca-fb8c-3665-a671-451975c74b60","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"RouteLogsNifi","comments":"","instanceIdentifier":"39752340-3654-3d4b-56ee-8ba4bffecf87"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"5a51004f-0059-3d8a-8c5b-b3734a399820","instanceIdentifier":"06861e58-8ee9-339d-d334-71f48bcccfc9","name":"","source":{"id":"f35d3730-e234-392e-b8e7-6fdbfeada841","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"3b8e3207-5a82-3639-1d0c-d0d0de664178"},"destination":{"id":"ce2e0761-c424-3dad-a3a6-281503d0a293","type":"FUNNEL","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Funnel","comments":"","instanceIdentifier":"d29ff0e6-c98f-34ba-bb75-e501c2d4b6e6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"9c9d78ac-b569-346f-91f4-db9f30ae6dc0","instanceIdentifier":"1b27fed5-c764-345c-a94e-b7fe7f1ad8f0","name":"","source":{"id":"4a012b1c-5e33-3b43-91b2-e6d5731533bf","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"1160b8af-46ea-391b-db96-2fe275141886"},"destination":{"id":"ce2e0761-c424-3dad-a3a6-281503d0a293","type":"FUNNEL","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Funnel","comments":"","instanceIdentifier":"d29ff0e6-c98f-34ba-bb75-e501c2d4b6e6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"99cdcf0f-6458-30e3-91b7-b26ee1ef25b9","instanceIdentifier":"9bb9bd93-5398-3260-5caa-6b83f106cdf8","name":"","source":{"id":"f7ddaf54-34aa-3e0c-a2c7-05b1eb792317","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"eb540b57-fc21-3641-4868-01094073bf3e"},"destination":{"id":"ce2e0761-c424-3dad-a3a6-281503d0a293","type":"FUNNEL","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Funnel","comments":"","instanceIdentifier":"d29ff0e6-c98f-34ba-bb75-e501c2d4b6e6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"30d5182e-fe5f-3160-a9cb-26603ba3064f","instanceIdentifier":"13dadcc0-c62e-37ca-d072-1b457aaaadc2","name":"","source":{"id":"76030cc2-2b49-37ab-a02b-7451013e4631","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"nifi-bootstrap","comments":"","instanceIdentifier":"5eeaded3-a64a-3f69-918b-d52f3071e2cf"},"destination":{"id":"f35d3730-e234-392e-b8e7-6fdbfeada841","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"3b8e3207-5a82-3639-1d0c-d0d0de664178"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"67f63e0e-13e5-324f-9229-36ae9109dbbc","instanceIdentifier":"d6ede29c-367a-30af-5a36-abc448580eb3","name":"","source":{"id":"519eca8e-29e4-3d02-81b1-d78c4af5f1fc","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"nifi-app","comments":"","instanceIdentifier":"b801f378-60f2-3329-c063-a81570f5010e"},"destination":{"id":"4a012b1c-5e33-3b43-91b2-e6d5731533bf","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"1160b8af-46ea-391b-db96-2fe275141886"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"8480415f-9558-392f-a9d6-3fc8b57da4f6","instanceIdentifier":"5ba8fcc8-015c-36e8-e9d0-4243300f9c49","name":"","source":{"id":"2611bfca-fb8c-3665-a671-451975c74b60","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"RouteLogsNifi","comments":"","instanceIdentifier":"39752340-3654-3d4b-56ee-8ba4bffecf87"},"destination":{"id":"22a10724-4dd1-35ef-98d3-257057f060fb","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"nifi-user","comments":"","instanceIdentifier":"52162f16-1356-369a-a438-2b860891e102"},"labelIndex":1,"zIndex":0,"selectedRelationships":["nifi-user"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"3dcb68de-3584-328a-9516-e53fff97e99f","instanceIdentifier":"703bbdf0-8a9a-3be3-cf91-f1d744d4ec9c","name":"","source":{"id":"2611bfca-fb8c-3665-a671-451975c74b60","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"RouteLogsNifi","comments":"","instanceIdentifier":"39752340-3654-3d4b-56ee-8ba4bffecf87"},"destination":{"id":"76030cc2-2b49-37ab-a02b-7451013e4631","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"nifi-bootstrap","comments":"","instanceIdentifier":"5eeaded3-a64a-3f69-918b-d52f3071e2cf"},"labelIndex":1,"zIndex":0,"selectedRelationships":["nifi-bootstrap"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"4862ed6c-11c7-3485-b9e2-bcb6b524a698","instanceIdentifier":"801e42e2-83e9-3813-2771-7831996cccf4","name":"","source":{"id":"22a10724-4dd1-35ef-98d3-257057f060fb","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"nifi-user","comments":"","instanceIdentifier":"52162f16-1356-369a-a438-2b860891e102"},"destination":{"id":"f7ddaf54-34aa-3e0c-a2c7-05b1eb792317","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"eb540b57-fc21-3641-4868-01094073bf3e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"49e153b7-e19e-39e5-b9d1-7d342d22fb13","instanceIdentifier":"3340dc31-895d-34df-1e74-00ef804f537a","name":"","source":{"id":"ce2e0761-c424-3dad-a3a6-281503d0a293","type":"FUNNEL","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Funnel","comments":"","instanceIdentifier":"d29ff0e6-c98f-34ba-bb75-e501c2d4b6e6"},"destination":{"id":"b0934613-cc35-3ec9-b2a3-8840e7883f0e","type":"OUTPUT_PORT","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"output_logs","comments":"","instanceIdentifier":"81720f73-d70a-3893-6578-e47860e745b9"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"e1efa745-81fa-30b6-901d-1d50f268c56e","instanceIdentifier":"f4dad9b0-7524-34db-519d-0e5a9958fdfb","name":"","source":{"id":"2611bfca-fb8c-3665-a671-451975c74b60","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"RouteLogsNifi","comments":"","instanceIdentifier":"39752340-3654-3d4b-56ee-8ba4bffecf87"},"destination":{"id":"519eca8e-29e4-3d02-81b1-d78c4af5f1fc","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"nifi-app","comments":"","instanceIdentifier":"b801f378-60f2-3329-c063-a81570f5010e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["nifi-app"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"}],"labels":[],"funnels":[{"identifier":"ce2e0761-c424-3dad-a3a6-281503d0a293","instanceIdentifier":"d29ff0e6-c98f-34ba-bb75-e501c2d4b6e6","position":{"x":3080.0,"y":320.0},"componentType":"FUNNEL","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"}],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"2946bd70-291f-3719-81a5-074ff219c629"},{"identifier":"773a63cf-45da-393e-a613-f641fb34fa60","instanceIdentifier":"10e76279-9217-367f-ab00-fc6d8d175c3e","name":"SendHEC","comments":"","position":{"x":1528.0,"y":408.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"8349b09f-8d76-3cd5-86bb-17ccb1cfb0df","instanceIdentifier":"c33457c5-4b30-32d2-0029-d66df99457f0","name":"RetryFlowFile","comments":"","position":{"x":704.0,"y":560.0},"type":"org.apache.nifi.processors.standard.RetryFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"penalize-retries":"true","maximum-retries":"3","Fail on Non-numerical Overwrite":"false","reuse-mode":"fail","retry-attribute":"flowfile.retries"},"propertyDescriptors":{"penalize-retries":{"name":"penalize-retries","displayName":"Penalize Retries","identifiesControllerService":false,"sensitive":false},"maximum-retries":{"name":"maximum-retries","displayName":"Maximum Retries","identifiesControllerService":false,"sensitive":false},"Fail on Non-numerical Overwrite":{"name":"Fail on Non-numerical Overwrite","displayName":"Fail on Non-numerical Overwrite","identifiesControllerService":false,"sensitive":false},"reuse-mode":{"name":"reuse-mode","displayName":"Reuse Mode","identifiesControllerService":false,"sensitive":false},"retry-attribute":{"name":"retry-attribute","displayName":"Retry Attribute","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"773a63cf-45da-393e-a613-f641fb34fa60"},{"identifier":"b3287b68-f5e6-3776-a833-754f06252af1","instanceIdentifier":"998e662a-9576-3570-b0b7-1bd7a57fcf3c","name":"Send2Splunk-HEC","comments":"","position":{"x":704.0,"y":240.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","Authorization":"Splunk ${splunk_hec_token}","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"${splunk_hec}/services/collector/raw?sourcetype=${sourcetype}&host=${hostname(true)}&source=${source}","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"10","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":"curl/7.29.0"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"Authorization":{"name":"Authorization","displayName":"Authorization","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":3,"autoTerminatedRelationships":["Response","No Retry","Retry","Original"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"773a63cf-45da-393e-a613-f641fb34fa60"},{"identifier":"0b159b10-2a2c-3fb8-b661-8597a1f32c2a","instanceIdentifier":"d934a35c-36ff-372c-8148-0b2a43f2480b","name":"LogMessage","comments":"","position":{"x":704.0,"y":816.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"log-message":"Error to send data to SPLUNK with HEC-Nifi","log-level":"error","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"773a63cf-45da-393e-a613-f641fb34fa60"}],"inputPorts":[{"identifier":"586ff88c-b1ed-31da-9628-f46a6a6dd81f","instanceIdentifier":"60267c3b-6b15-3366-64ea-dd032bc9c41c","name":"HEC_Connect","comments":"","position":{"x":144.0,"y":272.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"773a63cf-45da-393e-a613-f641fb34fa60"}],"outputPorts":[],"connections":[{"identifier":"71a99165-08ca-3965-8a1c-ebea2d950794","instanceIdentifier":"78474521-6607-3b1e-97dd-a51d29deaeaa","name":"","source":{"id":"586ff88c-b1ed-31da-9628-f46a6a6dd81f","type":"INPUT_PORT","groupId":"773a63cf-45da-393e-a613-f641fb34fa60","name":"HEC_Connect","comments":"","instanceIdentifier":"60267c3b-6b15-3366-64ea-dd032bc9c41c"},"destination":{"id":"b3287b68-f5e6-3776-a833-754f06252af1","type":"PROCESSOR","groupId":"773a63cf-45da-393e-a613-f641fb34fa60","name":"Send2Splunk-HEC","comments":"","instanceIdentifier":"998e662a-9576-3570-b0b7-1bd7a57fcf3c"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"773a63cf-45da-393e-a613-f641fb34fa60"},{"identifier":"b9a94a16-b378-38a8-8662-d68b9f9ca6eb","instanceIdentifier":"bd0c1379-233f-349a-3e46-7ccc004730e1","name":"","source":{"id":"b3287b68-f5e6-3776-a833-754f06252af1","type":"PROCESSOR","groupId":"773a63cf-45da-393e-a613-f641fb34fa60","name":"Send2Splunk-HEC","comments":"","instanceIdentifier":"998e662a-9576-3570-b0b7-1bd7a57fcf3c"},"destination":{"id":"8349b09f-8d76-3cd5-86bb-17ccb1cfb0df","type":"PROCESSOR","groupId":"773a63cf-45da-393e-a613-f641fb34fa60","name":"RetryFlowFile","comments":"","instanceIdentifier":"c33457c5-4b30-32d2-0029-d66df99457f0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"773a63cf-45da-393e-a613-f641fb34fa60"},{"identifier":"c9bb8cf5-8d3e-38b5-bc1f-2d999322b804","instanceIdentifier":"c391bf26-339a-38ac-605b-82e3c97b2fff","name":"","source":{"id":"8349b09f-8d76-3cd5-86bb-17ccb1cfb0df","type":"PROCESSOR","groupId":"773a63cf-45da-393e-a613-f641fb34fa60","name":"RetryFlowFile","comments":"","instanceIdentifier":"c33457c5-4b30-32d2-0029-d66df99457f0"},"destination":{"id":"b3287b68-f5e6-3776-a833-754f06252af1","type":"PROCESSOR","groupId":"773a63cf-45da-393e-a613-f641fb34fa60","name":"Send2Splunk-HEC","comments":"","instanceIdentifier":"998e662a-9576-3570-b0b7-1bd7a57fcf3c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":552.0,"y":464.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"773a63cf-45da-393e-a613-f641fb34fa60"},{"identifier":"b8fca19c-8925-3b93-81f7-8b44315ceac8","instanceIdentifier":"adbcc663-d04b-32e3-c2e6-043e00db4c6d","name":"","source":{"id":"8349b09f-8d76-3cd5-86bb-17ccb1cfb0df","type":"PROCESSOR","groupId":"773a63cf-45da-393e-a613-f641fb34fa60","name":"RetryFlowFile","comments":"","instanceIdentifier":"c33457c5-4b30-32d2-0029-d66df99457f0"},"destination":{"id":"0b159b10-2a2c-3fb8-b661-8597a1f32c2a","type":"PROCESSOR","groupId":"773a63cf-45da-393e-a613-f641fb34fa60","name":"LogMessage","comments":"","instanceIdentifier":"d934a35c-36ff-372c-8148-0b2a43f2480b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["retries_exceeded"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"773a63cf-45da-393e-a613-f641fb34fa60"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"2946bd70-291f-3719-81a5-074ff219c629"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"f9372630-7b42-393c-a13a-2a3e23f74b98","instanceIdentifier":"4af8a014-cd04-3d65-80f5-84841dbced6a","name":"","source":{"id":"ae75456f-87bf-3b36-8486-39cb7524995b","type":"OUTPUT_PORT","groupId":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","name":"output_reporting","comments":"","instanceIdentifier":"97f15c36-28b8-3bb4-4b2b-4139c2ca4b5b"},"destination":{"id":"810fa907-ffe4-3748-9ee3-60ada51290f2","type":"FUNNEL","groupId":"2946bd70-291f-3719-81a5-074ff219c629","name":"Funnel","comments":"","instanceIdentifier":"9e3b2841-11a7-35bb-c204-14ffaff8460a"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2946bd70-291f-3719-81a5-074ff219c629"},{"identifier":"7d810b1c-63ee-34f6-a92f-063e65645a42","instanceIdentifier":"6d06b2cc-64bc-31f8-f70b-5bb7c6a0c9f5","name":"","source":{"id":"b0934613-cc35-3ec9-b2a3-8840e7883f0e","type":"OUTPUT_PORT","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"output_logs","comments":"","instanceIdentifier":"81720f73-d70a-3893-6578-e47860e745b9"},"destination":{"id":"810fa907-ffe4-3748-9ee3-60ada51290f2","type":"FUNNEL","groupId":"2946bd70-291f-3719-81a5-074ff219c629","name":"Funnel","comments":"","instanceIdentifier":"9e3b2841-11a7-35bb-c204-14ffaff8460a"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2946bd70-291f-3719-81a5-074ff219c629"},{"identifier":"aef67ee3-415e-3277-8d4d-2eed8a088011","instanceIdentifier":"9e8de314-cb3a-34db-b5d6-8163bb73e740","name":"","source":{"id":"0b15d067-df10-3c52-9ad7-5eeefac12b96","type":"OUTPUT_PORT","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"output_api","comments":"","instanceIdentifier":"6773f7c3-213d-3a5d-7fec-29f5fd4f6de3"},"destination":{"id":"810fa907-ffe4-3748-9ee3-60ada51290f2","type":"FUNNEL","groupId":"2946bd70-291f-3719-81a5-074ff219c629","name":"Funnel","comments":"","instanceIdentifier":"9e3b2841-11a7-35bb-c204-14ffaff8460a"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2946bd70-291f-3719-81a5-074ff219c629"},{"identifier":"610a00d7-83f6-3f13-8339-c519e3346501","instanceIdentifier":"51e5b0f9-429d-363f-21c9-af2e2baa836d","name":"","source":{"id":"810fa907-ffe4-3748-9ee3-60ada51290f2","type":"FUNNEL","groupId":"2946bd70-291f-3719-81a5-074ff219c629","name":"Funnel","comments":"","instanceIdentifier":"9e3b2841-11a7-35bb-c204-14ffaff8460a"},"destination":{"id":"586ff88c-b1ed-31da-9628-f46a6a6dd81f","type":"INPUT_PORT","groupId":"773a63cf-45da-393e-a613-f641fb34fa60","name":"HEC_Connect","comments":"","instanceIdentifier":"60267c3b-6b15-3366-64ea-dd032bc9c41c"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2946bd70-291f-3719-81a5-074ff219c629"}],"labels":[],"funnels":[{"identifier":"810fa907-ffe4-3748-9ee3-60ada51290f2","instanceIdentifier":"9e3b2841-11a7-35bb-c204-14ffaff8460a","position":{"x":1200.0,"y":480.0},"componentType":"FUNNEL","groupIdentifier":"2946bd70-291f-3719-81a5-074ff219c629"}],"controllerServices":[],"variables":{"splunk_hec_token":"nifimonitoring123","splunk_hec":"http://splunk1:8088","nifi_path":"/opt/nifi/nifi-current"},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}