flow_definition/NiFiMonitoring.json
{"flowContents":{"identifier":"1a66c95c-1283-3811-9208-dc9a6e0d2933","instanceIdentifier":"c47a6f79-018e-1000-3ff2-0ede48baa03e","name":"NiFiMonitoring","comments":"","position":{"x":736.6652501786295,"y":313.27317121132586},"processGroups":[{"identifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","instanceIdentifier":"bc2b3970-9f32-3ed7-2c12-90d2fa66c737","name":"Monitoring - ReportingTask","comments":"","position":{"x":472.0,"y":616.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"284dd1ea-c98b-3aa8-9b55-4f99a51e4056","instanceIdentifier":"44ea4779-29ba-33eb-570a-87d42180c103","name":"Set-Splunk_variables","comments":"","position":{"x":688.0,"y":56.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.23.2"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sourcetype":"nifi:reporting:task","source":"nifi_self_rest_api","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sourcetype":{"name":"sourcetype","displayName":"sourcetype","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1"},{"identifier":"b9059878-48ed-3a3d-a8a8-1814bfd4d2a0","instanceIdentifier":"af962749-e7f0-3a80-2e19-07a841bb389b","name":"Set-Splunk_variables","comments":"","position":{"x":688.0,"y":216.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.23.2"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sourcetype":"nifi:reporting:bulletin","source":"nifi_self_rest_api","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sourcetype":{"name":"sourcetype","displayName":"sourcetype","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1"}],"inputPorts":[{"identifier":"3144a3a8-7d04-3dc9-a964-d5dcc605da2d","instanceIdentifier":"e5919fa6-5038-3829-22be-623e50b675f1","name":"bulletin_report","comments":"","position":{"x":112.0,"y":240.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":true,"componentType":"INPUT_PORT","groupIdentifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1"},{"identifier":"4effa5ac-363a-31ce-9798-4e1af56e915e","instanceIdentifier":"d00296e2-7d52-3f29-080a-b725ace0f09d","name":"reporting_task","comments":"","position":{"x":112.0,"y":80.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":true,"componentType":"INPUT_PORT","groupIdentifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1"}],"outputPorts":[{"identifier":"ae75456f-87bf-3b36-8486-39cb7524995b","instanceIdentifier":"365378b7-eba7-3355-4a84-ae81bb370287","name":"output_reporting","comments":"","position":{"x":1384.0,"y":168.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1"}],"connections":[{"identifier":"dea69ea5-e33a-3f87-847b-f67fff0b6678","instanceIdentifier":"50efc6ad-6167-3e71-8843-df5e4b4ba390","name":"","source":{"id":"284dd1ea-c98b-3aa8-9b55-4f99a51e4056","type":"PROCESSOR","groupId":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"44ea4779-29ba-33eb-570a-87d42180c103"},"destination":{"id":"ae75456f-87bf-3b36-8486-39cb7524995b","type":"OUTPUT_PORT","groupId":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","name":"output_reporting","comments":"","instanceIdentifier":"365378b7-eba7-3355-4a84-ae81bb370287"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1"},{"identifier":"9ece8189-d5b7-34a1-a6a3-fe8e44aa85e0","instanceIdentifier":"2f62b249-a000-3b59-a78f-484063139751","name":"","source":{"id":"b9059878-48ed-3a3d-a8a8-1814bfd4d2a0","type":"PROCESSOR","groupId":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"af962749-e7f0-3a80-2e19-07a841bb389b"},"destination":{"id":"ae75456f-87bf-3b36-8486-39cb7524995b","type":"OUTPUT_PORT","groupId":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","name":"output_reporting","comments":"","instanceIdentifier":"365378b7-eba7-3355-4a84-ae81bb370287"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1"},{"identifier":"2a10f6b3-99ec-3f2a-a1c4-7d7d9aa46e7b","instanceIdentifier":"dc2adda6-c2ea-33b4-b0a6-a1623bd412df","name":"","source":{"id":"3144a3a8-7d04-3dc9-a964-d5dcc605da2d","type":"INPUT_PORT","groupId":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","name":"bulletin_report","comments":"","instanceIdentifier":"e5919fa6-5038-3829-22be-623e50b675f1"},"destination":{"id":"b9059878-48ed-3a3d-a8a8-1814bfd4d2a0","type":"PROCESSOR","groupId":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"af962749-e7f0-3a80-2e19-07a841bb389b"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1"},{"identifier":"f9b83ae9-0f32-34e4-9e40-f9d5b0d3649b","instanceIdentifier":"40b09a46-9089-3048-0704-427ce0b123e1","name":"","source":{"id":"4effa5ac-363a-31ce-9798-4e1af56e915e","type":"INPUT_PORT","groupId":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","name":"reporting_task","comments":"","instanceIdentifier":"d00296e2-7d52-3f29-080a-b725ace0f09d"},"destination":{"id":"284dd1ea-c98b-3aa8-9b55-4f99a51e4056","type":"PROCESSOR","groupId":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"44ea4779-29ba-33eb-570a-87d42180c103"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"1a66c95c-1283-3811-9208-dc9a6e0d2933"},{"identifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","instanceIdentifier":"80917c75-0245-31fa-1ba3-9a17a35e2d42","name":"Monitoring - API","comments":"","position":{"x":472.0,"y":168.0},"processGroups":[{"identifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4","instanceIdentifier":"17e25c6c-7c43-323a-44d9-57a4eebe9e7b","name":"GetHTTP-processors_history","comments":"","position":{"x":-640.0,"y":304.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"4dd789a6-65c1-30be-965e-3416ebbc8632","instanceIdentifier":"04fefa10-cba6-3413-5d28-babaa3b3aefe","name":"InvokeHTTP","comments":"","position":{"x":1528.0,"y":160.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"http://${hostname(true)}:8080/nifi-api/flow/processors/${pid}/status/history","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Retry","Original"],"scheduledState":"ENABLED","retryCount":5,"retriedRelationships":["Failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4"},{"identifier":"cb31b747-a474-353a-8771-0e993f1e3212","instanceIdentifier":"a158eca5-cf0c-35f7-a6d9-a24e5ca2d202","name":"GenerateFlowFile","comments":"","position":{"x":-840.0,"y":168.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"${processors_list}","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"60 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4"},{"identifier":"6a2e53f2-1f91-3616-ba6c-442c76913173","instanceIdentifier":"c86b8098-018e-1000-8745-c19567c45f0a","name":"JoltTransformJSON","comments":"","position":{"x":2864.0,"y":160.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"jolt-spec":"[\n  {\n    \"operation\": \"remove\",\n    \"spec\": {\n      \"statusHistory\": {\n        \"aggregateSnapshots\": \"\"\n      }\n    }\n  }\n]\n","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4"},{"identifier":"66017061-e1e8-3b9d-a995-108a1a0ad426","instanceIdentifier":"c86b809a-018e-1000-7a8a-84bebffabd26","name":"ReplaceText","comments":"","position":{"x":3608.0,"y":184.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Regular Expression":"\\}\\,\\\"canRead\\\"\\:true\\}","Replacement Value":",\"aggregateSnapshots\":${lastSnapshot}},\"canRead\":true}","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4"},{"identifier":"2852d208-05ee-3e01-b54a-14000cb346ab","instanceIdentifier":"f6d22954-80f1-32b1-8073-0e23ab7ce98c","name":"SplitText","comments":"","position":{"x":272.0,"y":168.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4"},{"identifier":"9c48b061-11a5-35c2-88f9-eae96cae5727","instanceIdentifier":"e66fc7a6-db89-3636-90e8-78b8803db900","name":"ExtractText","comments":"","position":{"x":840.0,"y":168.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","extract-text-enable-named-groups":"false","pid":"(.+)","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true","extract-text-enable-repeating-capture-group":"false"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false},"extract-text-enable-named-groups":{"name":"extract-text-enable-named-groups","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false},"pid":{"name":"pid","displayName":"pid","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false},"extract-text-enable-repeating-capture-group":{"name":"extract-text-enable-repeating-capture-group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4"},{"identifier":"c5fc1292-c6ad-3d1d-84de-7c1a388460af","instanceIdentifier":"c86b8099-018e-1000-28a1-462ab464f4fc","name":"EvaluateJsonPath","comments":"","position":{"x":2176.0,"y":160.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Destination":"flowfile-attribute","lastSnapshot":"$..aggregateSnapshots[-1]","Return Type":"json","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"lastSnapshot":{"name":"lastSnapshot","displayName":"lastSnapshot","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4"},{"identifier":"7d7ffc48-1a93-32e9-8f5c-615d19ade85f","instanceIdentifier":"113a7186-4048-3e55-8ce5-f185b3f552e5","name":"LogMessage","comments":"","position":{"x":848.0,"y":600.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"log-message":"Error in processgroups status history","log-level":"error","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4"},{"identifier":"3d1842cf-6e00-3b04-879c-5b1c615e5783","instanceIdentifier":"eece34ce-df18-3650-58e6-2c68e11cb26e","name":"RouteText","comments":"","position":{"x":-272.0,"y":168.0},"type":"org.apache.nifi.processors.standard.RouteText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Routing Strategy":"Route to 'matched' if lines matches any condition","Ignore Leading/Trailing Whitespace":"true","Matching Strategy":"Contains","Character Set":"UTF-8","Ignore Case":"false","Grouping Regular Expression":null,"empty":"<insert_value>"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"Ignore Leading/Trailing Whitespace":{"name":"Ignore Leading/Trailing Whitespace","displayName":"Ignore Leading/Trailing Whitespace","identifiesControllerService":false,"sensitive":false},"Matching Strategy":{"name":"Matching Strategy","displayName":"Matching Strategy","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Ignore Case":{"name":"Ignore Case","displayName":"Ignore Case","identifiesControllerService":false,"sensitive":false},"Grouping Regular Expression":{"name":"Grouping Regular Expression","displayName":"Grouping Regular Expression","identifiesControllerService":false,"sensitive":false},"empty":{"name":"empty","displayName":"empty","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","matched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4"}],"inputPorts":[],"outputPorts":[{"identifier":"e3fc2b30-d233-35ca-a7f2-cdf768a1993a","instanceIdentifier":"2306455c-956a-3a92-cb79-9b83348a5167","name":"out_processgroup_status_history","position":{"x":4192.0,"y":168.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4"}],"connections":[{"identifier":"f171de96-8983-31c8-98c2-f8f2ea3cda87","instanceIdentifier":"9d747a97-7c0d-3314-9a2d-0f0fb0a36266","name":"","source":{"id":"3d1842cf-6e00-3b04-879c-5b1c615e5783","type":"PROCESSOR","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"RouteText","comments":"","instanceIdentifier":"eece34ce-df18-3650-58e6-2c68e11cb26e"},"destination":{"id":"2852d208-05ee-3e01-b54a-14000cb346ab","type":"PROCESSOR","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"SplitText","comments":"","instanceIdentifier":"f6d22954-80f1-32b1-8073-0e23ab7ce98c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4"},{"identifier":"9e9cecf0-fb81-3c85-9674-f81408d2226a","instanceIdentifier":"c86bd196-018e-1000-e5af-34cc2a6feaeb","name":"","source":{"id":"66017061-e1e8-3b9d-a995-108a1a0ad426","type":"PROCESSOR","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"ReplaceText","comments":"","instanceIdentifier":"c86b809a-018e-1000-7a8a-84bebffabd26"},"destination":{"id":"e3fc2b30-d233-35ca-a7f2-cdf768a1993a","type":"OUTPUT_PORT","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"out_processgroup_status_history","instanceIdentifier":"2306455c-956a-3a92-cb79-9b83348a5167"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4"},{"identifier":"fd9729b3-c5f6-3875-b62b-66870c460d9d","instanceIdentifier":"7859513c-2367-3874-875e-460df4e65058","name":"","source":{"id":"2852d208-05ee-3e01-b54a-14000cb346ab","type":"PROCESSOR","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"SplitText","comments":"","instanceIdentifier":"f6d22954-80f1-32b1-8073-0e23ab7ce98c"},"destination":{"id":"9c48b061-11a5-35c2-88f9-eae96cae5727","type":"PROCESSOR","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"ExtractText","comments":"","instanceIdentifier":"e66fc7a6-db89-3636-90e8-78b8803db900"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4"},{"identifier":"dde31ead-2240-3ad0-a897-185ab2a16751","instanceIdentifier":"c86bc3eb-018e-1000-3ae3-861ca03fd7fe","name":"","source":{"id":"6a2e53f2-1f91-3616-ba6c-442c76913173","type":"PROCESSOR","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"JoltTransformJSON","comments":"","instanceIdentifier":"c86b8098-018e-1000-8745-c19567c45f0a"},"destination":{"id":"66017061-e1e8-3b9d-a995-108a1a0ad426","type":"PROCESSOR","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"ReplaceText","comments":"","instanceIdentifier":"c86b809a-018e-1000-7a8a-84bebffabd26"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4"},{"identifier":"36eff55d-9a71-3bb2-9911-10f8725f1cc2","instanceIdentifier":"7f58de4e-6cf3-31a2-dfe4-bb82140e304c","name":"","source":{"id":"cb31b747-a474-353a-8771-0e993f1e3212","type":"PROCESSOR","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"GenerateFlowFile","comments":"","instanceIdentifier":"a158eca5-cf0c-35f7-a6d9-a24e5ca2d202"},"destination":{"id":"3d1842cf-6e00-3b04-879c-5b1c615e5783","type":"PROCESSOR","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"RouteText","comments":"","instanceIdentifier":"eece34ce-df18-3650-58e6-2c68e11cb26e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4"},{"identifier":"ca2f2fc8-4730-3a74-9f11-4a39888940a3","instanceIdentifier":"da2167df-8095-34fe-872e-451404d5c715","name":"","source":{"id":"4dd789a6-65c1-30be-965e-3416ebbc8632","type":"PROCESSOR","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"InvokeHTTP","comments":"","instanceIdentifier":"04fefa10-cba6-3413-5d28-babaa3b3aefe"},"destination":{"id":"7d7ffc48-1a93-32e9-8f5c-615d19ade85f","type":"PROCESSOR","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"LogMessage","comments":"","instanceIdentifier":"113a7186-4048-3e55-8ce5-f185b3f552e5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4"},{"identifier":"6fa1498f-5d54-39b4-8ee4-8981efa71217","instanceIdentifier":"c64b3b94-578b-3dec-789d-cd9ce44fe9c8","name":"","source":{"id":"2852d208-05ee-3e01-b54a-14000cb346ab","type":"PROCESSOR","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"SplitText","comments":"","instanceIdentifier":"f6d22954-80f1-32b1-8073-0e23ab7ce98c"},"destination":{"id":"7d7ffc48-1a93-32e9-8f5c-615d19ade85f","type":"PROCESSOR","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"LogMessage","comments":"","instanceIdentifier":"113a7186-4048-3e55-8ce5-f185b3f552e5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4"},{"identifier":"7cd5d0b1-e574-34e0-a5b5-63372b0287ec","instanceIdentifier":"cfb13e3c-c8a3-32ce-95e8-212c4f3374b4","name":"","source":{"id":"9c48b061-11a5-35c2-88f9-eae96cae5727","type":"PROCESSOR","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"ExtractText","comments":"","instanceIdentifier":"e66fc7a6-db89-3636-90e8-78b8803db900"},"destination":{"id":"4dd789a6-65c1-30be-965e-3416ebbc8632","type":"PROCESSOR","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"InvokeHTTP","comments":"","instanceIdentifier":"04fefa10-cba6-3413-5d28-babaa3b3aefe"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4"},{"identifier":"bfd8c40b-1a1b-3208-970d-80eeb4a89c60","instanceIdentifier":"c86bb2d1-018e-1000-21c5-d8ed8ac5b50c","name":"","source":{"id":"c5fc1292-c6ad-3d1d-84de-7c1a388460af","type":"PROCESSOR","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"c86b8099-018e-1000-28a1-462ab464f4fc"},"destination":{"id":"6a2e53f2-1f91-3616-ba6c-442c76913173","type":"PROCESSOR","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"JoltTransformJSON","comments":"","instanceIdentifier":"c86b8098-018e-1000-8745-c19567c45f0a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4"},{"identifier":"f4a44787-e1a9-35e5-ada9-2417e50b9706","instanceIdentifier":"649a534e-64a4-3136-ce92-5ba882cebba6","name":"","source":{"id":"4dd789a6-65c1-30be-965e-3416ebbc8632","type":"PROCESSOR","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"InvokeHTTP","comments":"","instanceIdentifier":"04fefa10-cba6-3413-5d28-babaa3b3aefe"},"destination":{"id":"c5fc1292-c6ad-3d1d-84de-7c1a388460af","type":"PROCESSOR","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"c86b8099-018e-1000-28a1-462ab464f4fc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"c80e485c-419a-3e3e-b75d-724469f7783c","instanceIdentifier":"146dc98d-a1f5-3cf3-6e16-897efbb6c88b","name":"GetHTTP-process_groups_history","comments":"","position":{"x":-640.0,"y":72.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"47c15413-5c8f-3522-a396-6406f73f3d20","instanceIdentifier":"c4dc9425-018e-1000-a4f1-2841f751a8d4","name":"ReplaceText","comments":"","position":{"x":3376.0,"y":208.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Regular Expression":"\\}\\,\\\"canRead\\\"\\:true\\}","Replacement Value":",\"aggregateSnapshots\":${lastSnapshot}},\"canRead\":true}","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c80e485c-419a-3e3e-b75d-724469f7783c"},{"identifier":"4dd789a6-65c1-30be-965e-3416ebbc8632","instanceIdentifier":"c7e636cf-c5f0-35c6-d644-154bfba083ec","name":"InvokeHTTP","comments":"","position":{"x":1528.0,"y":160.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"http://${hostname(true)}:8080/nifi-api/flow/process-groups/${pid}/status/history","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Retry","Original"],"scheduledState":"ENABLED","retryCount":5,"retriedRelationships":["Failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c80e485c-419a-3e3e-b75d-724469f7783c"},{"identifier":"cb31b747-a474-353a-8771-0e993f1e3212","instanceIdentifier":"92a262a4-f273-344c-37bb-0cc676778cb6","name":"GenerateFlowFile","comments":"","position":{"x":-832.0,"y":168.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"${process_groups_list}","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"60 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c80e485c-419a-3e3e-b75d-724469f7783c"},{"identifier":"650c6526-fa3c-36e1-9420-c72860de55dd","instanceIdentifier":"be6bcbbd-2648-3a9a-60e9-513245806693","name":"RouteText","comments":"","position":{"x":-280.0,"y":168.0},"type":"org.apache.nifi.processors.standard.RouteText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Routing Strategy":"Route to 'matched' if lines matches any condition","Ignore Leading/Trailing Whitespace":"true","Matching Strategy":"Contains","Character Set":"UTF-8","Ignore Case":"false","Grouping Regular Expression":null,"empty":"<insert_value>"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"Ignore Leading/Trailing Whitespace":{"name":"Ignore Leading/Trailing Whitespace","displayName":"Ignore Leading/Trailing Whitespace","identifiesControllerService":false,"sensitive":false},"Matching Strategy":{"name":"Matching Strategy","displayName":"Matching Strategy","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Ignore Case":{"name":"Ignore Case","displayName":"Ignore Case","identifiesControllerService":false,"sensitive":false},"Grouping Regular Expression":{"name":"Grouping Regular Expression","displayName":"Grouping Regular Expression","identifiesControllerService":false,"sensitive":false},"empty":{"name":"empty","displayName":"empty","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","matched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c80e485c-419a-3e3e-b75d-724469f7783c"},{"identifier":"59cd1403-324e-3cf6-8b1e-3f44c6e1cfdf","instanceIdentifier":"c4c94f11-018e-1000-1d6e-78bd8c174aed","name":"JoltTransformJSON","comments":"","position":{"x":2752.0,"y":200.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"jolt-spec":"[\n  {\n    \"operation\": \"remove\",\n    \"spec\": {\n      \"statusHistory\": {\n        \"aggregateSnapshots\": \"\"\n      }\n    }\n  }\n]\n","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c80e485c-419a-3e3e-b75d-724469f7783c"},{"identifier":"bae315f3-539d-302b-a709-c736decec958","instanceIdentifier":"c4d03928-018e-1000-011f-5ad6ef018408","name":"EvaluateJsonPath","comments":"","position":{"x":2160.0,"y":176.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Destination":"flowfile-attribute","lastSnapshot":"$..aggregateSnapshots[-1]","Return Type":"json","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"lastSnapshot":{"name":"lastSnapshot","displayName":"lastSnapshot","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c80e485c-419a-3e3e-b75d-724469f7783c"},{"identifier":"2852d208-05ee-3e01-b54a-14000cb346ab","instanceIdentifier":"ca39e667-0263-3708-4927-54161d6b1028","name":"SplitText","comments":"","position":{"x":272.0,"y":168.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c80e485c-419a-3e3e-b75d-724469f7783c"},{"identifier":"9c48b061-11a5-35c2-88f9-eae96cae5727","instanceIdentifier":"24e8c56f-c971-337a-d6e6-79a855eac840","name":"ExtractText","comments":"","position":{"x":840.0,"y":168.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","extract-text-enable-named-groups":"false","pid":"(.+)","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true","extract-text-enable-repeating-capture-group":"false"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false},"extract-text-enable-named-groups":{"name":"extract-text-enable-named-groups","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false},"pid":{"name":"pid","displayName":"pid","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false},"extract-text-enable-repeating-capture-group":{"name":"extract-text-enable-repeating-capture-group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c80e485c-419a-3e3e-b75d-724469f7783c"},{"identifier":"7d7ffc48-1a93-32e9-8f5c-615d19ade85f","instanceIdentifier":"a6eab0b4-2ecf-35ab-6dee-4db016e99762","name":"LogMessage","comments":"","position":{"x":848.0,"y":600.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"log-message":"Error in processgroups status history","log-level":"error","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c80e485c-419a-3e3e-b75d-724469f7783c"}],"inputPorts":[],"outputPorts":[{"identifier":"e3fc2b30-d233-35ca-a7f2-cdf768a1993a","instanceIdentifier":"22b4dddc-153f-3c53-e8fb-eb54aedb544f","name":"out_processgroup_status_history","position":{"x":3944.0,"y":192.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"c80e485c-419a-3e3e-b75d-724469f7783c"}],"connections":[{"identifier":"47ab312b-e814-3ee7-a349-37a8f2c1aff0","instanceIdentifier":"c4d93a52-018e-1000-22d8-9de7b46dc7b5","name":"","source":{"id":"bae315f3-539d-302b-a709-c736decec958","type":"PROCESSOR","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"c4d03928-018e-1000-011f-5ad6ef018408"},"destination":{"id":"59cd1403-324e-3cf6-8b1e-3f44c6e1cfdf","type":"PROCESSOR","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"JoltTransformJSON","comments":"","instanceIdentifier":"c4c94f11-018e-1000-1d6e-78bd8c174aed"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c80e485c-419a-3e3e-b75d-724469f7783c"},{"identifier":"345dbcf0-57d5-3ecf-9a47-b31dadb6f851","instanceIdentifier":"c867489b-018e-1000-a8c5-7aecf3871b28","name":"","source":{"id":"47c15413-5c8f-3522-a396-6406f73f3d20","type":"PROCESSOR","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"ReplaceText","comments":"","instanceIdentifier":"c4dc9425-018e-1000-a4f1-2841f751a8d4"},"destination":{"id":"e3fc2b30-d233-35ca-a7f2-cdf768a1993a","type":"OUTPUT_PORT","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"out_processgroup_status_history","instanceIdentifier":"22b4dddc-153f-3c53-e8fb-eb54aedb544f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c80e485c-419a-3e3e-b75d-724469f7783c"},{"identifier":"fd9729b3-c5f6-3875-b62b-66870c460d9d","instanceIdentifier":"6185e157-8143-3b80-2409-f6dc1d38d28d","name":"","source":{"id":"2852d208-05ee-3e01-b54a-14000cb346ab","type":"PROCESSOR","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"SplitText","comments":"","instanceIdentifier":"ca39e667-0263-3708-4927-54161d6b1028"},"destination":{"id":"9c48b061-11a5-35c2-88f9-eae96cae5727","type":"PROCESSOR","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"ExtractText","comments":"","instanceIdentifier":"24e8c56f-c971-337a-d6e6-79a855eac840"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c80e485c-419a-3e3e-b75d-724469f7783c"},{"identifier":"e6a287e7-f498-3da8-bbf7-a49bebfef349","instanceIdentifier":"59e8bb98-0438-3635-a45d-8e5d0e922b16","name":"","source":{"id":"cb31b747-a474-353a-8771-0e993f1e3212","type":"PROCESSOR","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"GenerateFlowFile","comments":"","instanceIdentifier":"92a262a4-f273-344c-37bb-0cc676778cb6"},"destination":{"id":"650c6526-fa3c-36e1-9420-c72860de55dd","type":"PROCESSOR","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"RouteText","comments":"","instanceIdentifier":"be6bcbbd-2648-3a9a-60e9-513245806693"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c80e485c-419a-3e3e-b75d-724469f7783c"},{"identifier":"ca2f2fc8-4730-3a74-9f11-4a39888940a3","instanceIdentifier":"4e9a0eca-6efc-3f25-b9bb-e061ff95eee9","name":"","source":{"id":"4dd789a6-65c1-30be-965e-3416ebbc8632","type":"PROCESSOR","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"InvokeHTTP","comments":"","instanceIdentifier":"c7e636cf-c5f0-35c6-d644-154bfba083ec"},"destination":{"id":"7d7ffc48-1a93-32e9-8f5c-615d19ade85f","type":"PROCESSOR","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"LogMessage","comments":"","instanceIdentifier":"a6eab0b4-2ecf-35ab-6dee-4db016e99762"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c80e485c-419a-3e3e-b75d-724469f7783c"},{"identifier":"05a04c08-a07e-3a7b-bcc5-d82398f1d6c3","instanceIdentifier":"c4d9bea6-018e-1000-09d4-46ef06e58d97","name":"","source":{"id":"59cd1403-324e-3cf6-8b1e-3f44c6e1cfdf","type":"PROCESSOR","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"JoltTransformJSON","comments":"","instanceIdentifier":"c4c94f11-018e-1000-1d6e-78bd8c174aed"},"destination":{"id":"47c15413-5c8f-3522-a396-6406f73f3d20","type":"PROCESSOR","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"ReplaceText","comments":"","instanceIdentifier":"c4dc9425-018e-1000-a4f1-2841f751a8d4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c80e485c-419a-3e3e-b75d-724469f7783c"},{"identifier":"6fa1498f-5d54-39b4-8ee4-8981efa71217","instanceIdentifier":"b8918691-ee2c-3e74-c2a4-8bf056234332","name":"","source":{"id":"2852d208-05ee-3e01-b54a-14000cb346ab","type":"PROCESSOR","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"SplitText","comments":"","instanceIdentifier":"ca39e667-0263-3708-4927-54161d6b1028"},"destination":{"id":"7d7ffc48-1a93-32e9-8f5c-615d19ade85f","type":"PROCESSOR","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"LogMessage","comments":"","instanceIdentifier":"a6eab0b4-2ecf-35ab-6dee-4db016e99762"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c80e485c-419a-3e3e-b75d-724469f7783c"},{"identifier":"7cd5d0b1-e574-34e0-a5b5-63372b0287ec","instanceIdentifier":"a95ff2f7-492d-3d8d-eabc-366c843471ec","name":"","source":{"id":"9c48b061-11a5-35c2-88f9-eae96cae5727","type":"PROCESSOR","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"ExtractText","comments":"","instanceIdentifier":"24e8c56f-c971-337a-d6e6-79a855eac840"},"destination":{"id":"4dd789a6-65c1-30be-965e-3416ebbc8632","type":"PROCESSOR","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"InvokeHTTP","comments":"","instanceIdentifier":"c7e636cf-c5f0-35c6-d644-154bfba083ec"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c80e485c-419a-3e3e-b75d-724469f7783c"},{"identifier":"f4a44787-e1a9-35e5-ada9-2417e50b9706","instanceIdentifier":"a80c17df-0f3b-3539-f49b-79c02101732b","name":"","source":{"id":"4dd789a6-65c1-30be-965e-3416ebbc8632","type":"PROCESSOR","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"InvokeHTTP","comments":"","instanceIdentifier":"c7e636cf-c5f0-35c6-d644-154bfba083ec"},"destination":{"id":"bae315f3-539d-302b-a709-c736decec958","type":"PROCESSOR","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"c4d03928-018e-1000-011f-5ad6ef018408"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c80e485c-419a-3e3e-b75d-724469f7783c"},{"identifier":"5c3cc096-3a17-36f9-a700-f6bef3b0f4c0","instanceIdentifier":"cd0a4430-bde8-3348-c1be-b172d935caa1","name":"","source":{"id":"650c6526-fa3c-36e1-9420-c72860de55dd","type":"PROCESSOR","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"RouteText","comments":"","instanceIdentifier":"be6bcbbd-2648-3a9a-60e9-513245806693"},"destination":{"id":"2852d208-05ee-3e01-b54a-14000cb346ab","type":"PROCESSOR","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"SplitText","comments":"","instanceIdentifier":"ca39e667-0263-3708-4927-54161d6b1028"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c80e485c-419a-3e3e-b75d-724469f7783c"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"}],"remoteProcessGroups":[],"processors":[{"identifier":"db9f14bd-5d60-3b2c-957f-0023ccd669fc","instanceIdentifier":"1f71a701-63a3-3123-c598-bf3642cb83e5","name":"GetHTTP-flow_status","comments":"","position":{"x":-624.0,"y":-104.0},"type":"org.apache.nifi.processors.standard.GetHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Proxy Host":null,"redirect-cookie-policy":"default","proxy-configuration-service":null,"Filename":"flow_status.json","User Agent":"nifi","Proxy Port":null,"URL":"${nifi_api_url}/flow/status","Connection Timeout":"30 sec","Data Timeout":"30 sec","SSL Context Service":null,"Username":null,"Accept Content-Type":null,"Follow Redirects":"false"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"redirect-cookie-policy":{"name":"redirect-cookie-policy","displayName":"Redirect Cookie Policy","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Filename":{"name":"Filename","displayName":"Filename","identifiesControllerService":false,"sensitive":false},"User Agent":{"name":"User Agent","displayName":"User Agent","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"URL":{"name":"URL","displayName":"URL","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"Data Timeout":{"name":"Data Timeout","displayName":"Data Timeout","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"Accept Content-Type":{"name":"Accept Content-Type","displayName":"Accept Content-Type","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Follow Redirects","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"38ae2ec7-5e9f-3be0-85c8-e5ded6ddc73d","instanceIdentifier":"0d37d498-99e8-3229-5588-270ecf063512","name":"Set-Splunk_variables","comments":"","position":{"x":32.0,"y":-272.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.23.2"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sourcetype":"nifi:api:site_to_site","source":"nifi_self_rest_api","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sourcetype":{"name":"sourcetype","displayName":"sourcetype","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"fcaa8186-1e69-3eda-8b5e-e7c21905645f","instanceIdentifier":"0ef84687-f8f8-3c18-d57c-2fa79da016c1","name":"Set-Splunk_variables","comments":"","position":{"x":26.6109619140625,"y":-444.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.23.2"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sourcetype":"nifi:api:system_diagnostics","source":"nifi_self_rest_api","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sourcetype":{"name":"sourcetype","displayName":"sourcetype","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"1371ddab-cfdc-309e-9127-0bea6d31b3c2","instanceIdentifier":"67876653-76a8-36e7-e4d2-bb08a30bbe84","name":"GetHTTP-system_diagnostics","comments":"","position":{"x":-629.3890380859375,"y":-444.0},"type":"org.apache.nifi.processors.standard.GetHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Proxy Host":null,"redirect-cookie-policy":"default","proxy-configuration-service":null,"Filename":"system-diagnostics.log","User Agent":"nifi","Proxy Port":null,"URL":"${nifi_api_url}/system-diagnostics","Connection Timeout":"30 sec","Data Timeout":"30 sec","SSL Context Service":null,"Username":null,"Accept Content-Type":null,"Follow Redirects":"false"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"redirect-cookie-policy":{"name":"redirect-cookie-policy","displayName":"Redirect Cookie Policy","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Filename":{"name":"Filename","displayName":"Filename","identifiesControllerService":false,"sensitive":false},"User Agent":{"name":"User Agent","displayName":"User Agent","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"URL":{"name":"URL","displayName":"URL","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"Data Timeout":{"name":"Data Timeout","displayName":"Data Timeout","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"Accept Content-Type":{"name":"Accept Content-Type","displayName":"Accept Content-Type","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Follow Redirects","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"f057f8e0-3d6a-39d8-91b0-83d1ad8f2a83","instanceIdentifier":"cfef4c8d-5dfe-3705-ecd9-6a2dc6846487","name":"Set-Splunk_variables","comments":"","position":{"x":32.0,"y":-88.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.23.2"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sourcetype":"nifi:api:flow_status","source":"nifi_self_rest_api","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sourcetype":{"name":"sourcetype","displayName":"sourcetype","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"892456ae-b572-3b87-9ae7-a500b03fd042","instanceIdentifier":"f0ef9d98-82c6-3ecc-9edc-8b3e15a56444","name":"Set-Splunk_variables","comments":"","position":{"x":32.0,"y":328.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.23.2"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sourcetype":"nifi:api:processors_history","source":"nifi_self_rest_api","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sourcetype":{"name":"sourcetype","displayName":"sourcetype","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"8d52a96b-80bf-3be4-ad01-55ab5bf0c8ba","instanceIdentifier":"227af147-b671-3d14-9bfb-917326356faa","name":"GetHTTP-site_to_site","comments":"","position":{"x":-624.0,"y":-272.0},"type":"org.apache.nifi.processors.standard.GetHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Proxy Host":null,"redirect-cookie-policy":"default","proxy-configuration-service":null,"Filename":"site-to-site.json","User Agent":"nifi","Proxy Port":null,"URL":"${nifi_api_url}/site-to-site","Connection Timeout":"30 sec","Data Timeout":"30 sec","SSL Context Service":null,"Username":null,"Accept Content-Type":null,"Follow Redirects":"false"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"redirect-cookie-policy":{"name":"redirect-cookie-policy","displayName":"Redirect Cookie Policy","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Filename":{"name":"Filename","displayName":"Filename","identifiesControllerService":false,"sensitive":false},"User Agent":{"name":"User Agent","displayName":"User Agent","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"URL":{"name":"URL","displayName":"URL","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"Data Timeout":{"name":"Data Timeout","displayName":"Data Timeout","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"Accept Content-Type":{"name":"Accept Content-Type","displayName":"Accept Content-Type","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Follow Redirects","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"7ba9f234-b952-3dd8-8249-715331399bb9","instanceIdentifier":"0def9762-6479-381b-1847-b50cba96b9fe","name":"Set-Splunk_variables","comments":"","position":{"x":32.0,"y":96.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.23.2"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sourcetype":"nifi:api:process_groups_history","source":"nifi_self_rest_api","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sourcetype":{"name":"sourcetype","displayName":"sourcetype","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"}],"inputPorts":[],"outputPorts":[{"identifier":"0b15d067-df10-3c52-9ad7-5eeefac12b96","instanceIdentifier":"f47a2268-13ae-316d-0020-9cefa5b9759c","name":"output_api","comments":"","position":{"x":1048.0,"y":-64.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"}],"connections":[{"identifier":"0f012166-7ff8-3b5a-b816-bc197199f353","instanceIdentifier":"3964ac89-3f82-3a42-7224-a894835bfec9","name":"","source":{"id":"892456ae-b572-3b87-9ae7-a500b03fd042","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"f0ef9d98-82c6-3ecc-9edc-8b3e15a56444"},"destination":{"id":"feec6feb-121f-33df-b53d-cee70c859ddc","type":"FUNNEL","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Funnel","comments":"","instanceIdentifier":"99e217f4-1168-30e8-3f17-765e8bfb4060"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"f1233de2-e722-3f25-a95b-9cb21c06b049","instanceIdentifier":"88e12b89-c743-36f0-a6da-340ecda19f8a","name":"","source":{"id":"e3fc2b30-d233-35ca-a7f2-cdf768a1993a","type":"OUTPUT_PORT","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"out_processgroup_status_history","instanceIdentifier":"2306455c-956a-3a92-cb79-9b83348a5167"},"destination":{"id":"892456ae-b572-3b87-9ae7-a500b03fd042","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"f0ef9d98-82c6-3ecc-9edc-8b3e15a56444"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"067f9472-a224-3eb3-9a56-c5c4f9db64af","instanceIdentifier":"eed9b10f-d135-3090-2229-1d01e0d7da4c","name":"","source":{"id":"38ae2ec7-5e9f-3be0-85c8-e5ded6ddc73d","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"0d37d498-99e8-3229-5588-270ecf063512"},"destination":{"id":"feec6feb-121f-33df-b53d-cee70c859ddc","type":"FUNNEL","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Funnel","comments":"","instanceIdentifier":"99e217f4-1168-30e8-3f17-765e8bfb4060"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"d8d76da0-de63-3f6d-af99-5766dd23b651","instanceIdentifier":"994d4b9f-c7cb-39cd-ac06-ef76255a470a","name":"","source":{"id":"f057f8e0-3d6a-39d8-91b0-83d1ad8f2a83","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"cfef4c8d-5dfe-3705-ecd9-6a2dc6846487"},"destination":{"id":"feec6feb-121f-33df-b53d-cee70c859ddc","type":"FUNNEL","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Funnel","comments":"","instanceIdentifier":"99e217f4-1168-30e8-3f17-765e8bfb4060"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"8a0d00e4-729f-327f-9575-321247ea973f","instanceIdentifier":"3570ad66-aa87-3967-d246-0ed6a6cf5054","name":"","source":{"id":"7ba9f234-b952-3dd8-8249-715331399bb9","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"0def9762-6479-381b-1847-b50cba96b9fe"},"destination":{"id":"feec6feb-121f-33df-b53d-cee70c859ddc","type":"FUNNEL","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Funnel","comments":"","instanceIdentifier":"99e217f4-1168-30e8-3f17-765e8bfb4060"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"0bd9c1ec-6ba2-3feb-9e1e-7e53c7e99cc7","instanceIdentifier":"b3e34b2c-cccf-31d8-4c47-3543b1eb04e3","name":"","source":{"id":"8d52a96b-80bf-3be4-ad01-55ab5bf0c8ba","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"GetHTTP-site_to_site","comments":"","instanceIdentifier":"227af147-b671-3d14-9bfb-917326356faa"},"destination":{"id":"38ae2ec7-5e9f-3be0-85c8-e5ded6ddc73d","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"0d37d498-99e8-3229-5588-270ecf063512"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"72e45bf8-70ef-3809-8430-ba9156d2007f","instanceIdentifier":"206f8e35-2908-33a7-ea53-f15eadb215b7","name":"","source":{"id":"db9f14bd-5d60-3b2c-957f-0023ccd669fc","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"GetHTTP-flow_status","comments":"","instanceIdentifier":"1f71a701-63a3-3123-c598-bf3642cb83e5"},"destination":{"id":"f057f8e0-3d6a-39d8-91b0-83d1ad8f2a83","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"cfef4c8d-5dfe-3705-ecd9-6a2dc6846487"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"7a404d51-1db8-3921-ba09-0f057e2a3323","instanceIdentifier":"2a227140-5008-3e33-2c01-ed91abf3e48d","name":"","source":{"id":"e3fc2b30-d233-35ca-a7f2-cdf768a1993a","type":"OUTPUT_PORT","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"out_processgroup_status_history","instanceIdentifier":"22b4dddc-153f-3c53-e8fb-eb54aedb544f"},"destination":{"id":"7ba9f234-b952-3dd8-8249-715331399bb9","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"0def9762-6479-381b-1847-b50cba96b9fe"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"efc8a424-9d9f-31d7-b6c9-a4b0b4fd565a","instanceIdentifier":"240e7d58-8024-336f-0287-d6c4ec1553b0","name":"","source":{"id":"fcaa8186-1e69-3eda-8b5e-e7c21905645f","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"0ef84687-f8f8-3c18-d57c-2fa79da016c1"},"destination":{"id":"feec6feb-121f-33df-b53d-cee70c859ddc","type":"FUNNEL","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Funnel","comments":"","instanceIdentifier":"99e217f4-1168-30e8-3f17-765e8bfb4060"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"fad0e424-5839-3668-b968-679389f650b7","instanceIdentifier":"b7c9b588-6ce7-33fa-3846-176743a35069","name":"","source":{"id":"1371ddab-cfdc-309e-9127-0bea6d31b3c2","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"GetHTTP-system_diagnostics","comments":"","instanceIdentifier":"67876653-76a8-36e7-e4d2-bb08a30bbe84"},"destination":{"id":"fcaa8186-1e69-3eda-8b5e-e7c21905645f","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"0ef84687-f8f8-3c18-d57c-2fa79da016c1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"237f7b54-89d9-32a7-8f63-b0f561a72312","instanceIdentifier":"9a97b7f4-566f-3a2e-2427-f7ffcd764043","name":"","source":{"id":"feec6feb-121f-33df-b53d-cee70c859ddc","type":"FUNNEL","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Funnel","comments":"","instanceIdentifier":"99e217f4-1168-30e8-3f17-765e8bfb4060"},"destination":{"id":"0b15d067-df10-3c52-9ad7-5eeefac12b96","type":"OUTPUT_PORT","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"output_api","comments":"","instanceIdentifier":"f47a2268-13ae-316d-0020-9cefa5b9759c"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"}],"labels":[],"funnels":[{"identifier":"feec6feb-121f-33df-b53d-cee70c859ddc","instanceIdentifier":"99e217f4-1168-30e8-3f17-765e8bfb4060","position":{"x":760.0,"y":-64.0},"componentType":"FUNNEL","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"}],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"1a66c95c-1283-3811-9208-dc9a6e0d2933"},{"identifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","instanceIdentifier":"14243e22-367d-3a71-5eac-0d773eeed8cd","name":"Monitoring - Logs","comments":"","position":{"x":472.0,"y":392.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"4a012b1c-5e33-3b43-91b2-e6d5731533bf","instanceIdentifier":"54017fb8-d4dd-3402-64e3-4553ee3add90","name":"Set-Splunk_variables","comments":"","position":{"x":2368.0,"y":112.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.23.2"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sourcetype":"nifi:log:app","source":"nifi_app_${now():toNumber():format('yyyyMMddHHmmss')}.log","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sourcetype":{"name":"sourcetype","displayName":"sourcetype","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"cdecc426-2e15-39d4-823a-16214b5f0ef6","instanceIdentifier":"68730610-c280-3e6f-ae6a-fef8ed3444ea","name":"ReadLogsNifi","comments":"","position":{"x":416.0,"y":296.0},"type":"org.apache.nifi.processors.standard.TailFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"tailfile-recursive-lookup":"false","File Location":"Local","Line Start Pattern":null,"Rolling Filename Pattern":null,"Initial Start Position":"Beginning of File","pre-allocated-buffer-size":"65536 B","Post-Rollover Tail Period":"0 sec","tail-base-directory":"${nifi_path}logs","reread-on-nul":"false","tailfile-maximum-age":"1 hours","Max Buffer Size":"64 KB","File to Tail":"nifi\\-.*","tailfile-lookup-frequency":"10 minutes","tail-mode":"Multiple files"},"propertyDescriptors":{"tailfile-recursive-lookup":{"name":"tailfile-recursive-lookup","displayName":"Recursive lookup","identifiesControllerService":false,"sensitive":false},"File Location":{"name":"File Location","displayName":"State Location","identifiesControllerService":false,"sensitive":false},"Line Start Pattern":{"name":"Line Start Pattern","displayName":"Line Start Pattern","identifiesControllerService":false,"sensitive":false},"Rolling Filename Pattern":{"name":"Rolling Filename Pattern","displayName":"Rolling Filename Pattern","identifiesControllerService":false,"sensitive":false},"Initial Start Position":{"name":"Initial Start Position","displayName":"Initial Start Position","identifiesControllerService":false,"sensitive":false},"pre-allocated-buffer-size":{"name":"pre-allocated-buffer-size","displayName":"Pre-Allocated Buffer Size","identifiesControllerService":false,"sensitive":false},"Post-Rollover Tail Period":{"name":"Post-Rollover Tail Period","displayName":"Post-Rollover Tail Period","identifiesControllerService":false,"sensitive":false},"tail-base-directory":{"name":"tail-base-directory","displayName":"Base directory","identifiesControllerService":false,"sensitive":false},"reread-on-nul":{"name":"reread-on-nul","displayName":"Reread when NUL encountered","identifiesControllerService":false,"sensitive":false},"tailfile-maximum-age":{"name":"tailfile-maximum-age","displayName":"Maximum age","identifiesControllerService":false,"sensitive":false},"Max Buffer Size":{"name":"Max Buffer Size","displayName":"Max Buffer Size","identifiesControllerService":false,"sensitive":false},"File to Tail":{"name":"File to Tail","displayName":"File(s) to Tail","identifiesControllerService":false,"sensitive":false},"tailfile-lookup-frequency":{"name":"tailfile-lookup-frequency","displayName":"Lookup frequency","identifiesControllerService":false,"sensitive":false},"tail-mode":{"name":"tail-mode","displayName":"Tailing mode","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"2611bfca-fb8c-3665-a671-451975c74b60","instanceIdentifier":"2a3adae1-b65d-3d93-3020-a6f0be243776","name":"RouteLogsNifi","comments":"","position":{"x":1104.0,"y":296.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"nifi-bootstrap":"${filename:contains('nifi-bootstrap')}","Routing Strategy":"Route to Property name","nifi-user":"${filename:contains('nifi-user')}","nifi-app":"${filename:contains('nifi-app')}"},"propertyDescriptors":{"nifi-bootstrap":{"name":"nifi-bootstrap","displayName":"nifi-bootstrap","identifiesControllerService":false,"sensitive":false},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"nifi-user":{"name":"nifi-user","displayName":"nifi-user","identifiesControllerService":false,"sensitive":false},"nifi-app":{"name":"nifi-app","displayName":"nifi-app","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"f35d3730-e234-392e-b8e7-6fdbfeada841","instanceIdentifier":"4984f7e6-692f-3b28-8b06-78729dc58bf0","name":"Set-Splunk_variables","comments":"","position":{"x":2376.0,"y":464.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.23.2"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sourcetype":"nifi:log:bootstrap","source":"nifi_bootstrap_${now():toNumber():format('yyyyMMddHHmmss')}.log","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sourcetype":{"name":"sourcetype","displayName":"sourcetype","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"f7ddaf54-34aa-3e0c-a2c7-05b1eb792317","instanceIdentifier":"4e2a108c-f4d1-38a8-16f8-774191c1d4f8","name":"Set-Splunk_variables","comments":"","position":{"x":2368.0,"y":280.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.23.2"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sourcetype":"nifi:log:user","source":"nifi_user_${now():toNumber():format('yyyyMMddHHmmss')}.log","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sourcetype":{"name":"sourcetype","displayName":"sourcetype","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"519eca8e-29e4-3d02-81b1-d78c4af5f1fc","instanceIdentifier":"e930e194-ceba-38f8-54b5-1a20a5095a95","name":"nifi-app","comments":"","position":{"x":1720.0,"y":120.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"22a10724-4dd1-35ef-98d3-257057f060fb","instanceIdentifier":"f29ba537-e819-333e-9cd9-f989550b3499","name":"nifi-user","comments":"","position":{"x":1728.0,"y":288.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"76030cc2-2b49-37ab-a02b-7451013e4631","instanceIdentifier":"778f7ba6-3ac7-3449-a373-e02ec3e77838","name":"nifi-bootstrap","comments":"","position":{"x":1728.0,"y":464.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"}],"inputPorts":[],"outputPorts":[{"identifier":"b0934613-cc35-3ec9-b2a3-8840e7883f0e","instanceIdentifier":"5bfd241a-d0db-32ee-3075-0c2a0893d0e4","name":"output_logs","comments":"","position":{"x":3456.0,"y":320.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"}],"connections":[{"identifier":"39c4d0dc-43f2-3e90-9777-d23280072e75","instanceIdentifier":"1ce20a64-4ccd-3edc-ea36-12d3fb8690cd","name":"","source":{"id":"cdecc426-2e15-39d4-823a-16214b5f0ef6","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"ReadLogsNifi","comments":"","instanceIdentifier":"68730610-c280-3e6f-ae6a-fef8ed3444ea"},"destination":{"id":"2611bfca-fb8c-3665-a671-451975c74b60","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"RouteLogsNifi","comments":"","instanceIdentifier":"2a3adae1-b65d-3d93-3020-a6f0be243776"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"5a51004f-0059-3d8a-8c5b-b3734a399820","instanceIdentifier":"3f29300e-e7a2-3e3e-8532-7ca8e0ebdc5d","name":"","source":{"id":"f35d3730-e234-392e-b8e7-6fdbfeada841","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"4984f7e6-692f-3b28-8b06-78729dc58bf0"},"destination":{"id":"ce2e0761-c424-3dad-a3a6-281503d0a293","type":"FUNNEL","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Funnel","comments":"","instanceIdentifier":"27374919-744e-3025-a9c8-047ef48da591"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"9c9d78ac-b569-346f-91f4-db9f30ae6dc0","instanceIdentifier":"e428007e-7490-36b7-c69f-3be283fb636c","name":"","source":{"id":"4a012b1c-5e33-3b43-91b2-e6d5731533bf","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"54017fb8-d4dd-3402-64e3-4553ee3add90"},"destination":{"id":"ce2e0761-c424-3dad-a3a6-281503d0a293","type":"FUNNEL","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Funnel","comments":"","instanceIdentifier":"27374919-744e-3025-a9c8-047ef48da591"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"30d5182e-fe5f-3160-a9cb-26603ba3064f","instanceIdentifier":"9c80f209-c84d-38d6-44e5-82b05379d457","name":"","source":{"id":"76030cc2-2b49-37ab-a02b-7451013e4631","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"nifi-bootstrap","comments":"","instanceIdentifier":"778f7ba6-3ac7-3449-a373-e02ec3e77838"},"destination":{"id":"f35d3730-e234-392e-b8e7-6fdbfeada841","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"4984f7e6-692f-3b28-8b06-78729dc58bf0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"99cdcf0f-6458-30e3-91b7-b26ee1ef25b9","instanceIdentifier":"bc5ed3c7-3290-3140-546d-ef9bf8a9af8a","name":"","source":{"id":"f7ddaf54-34aa-3e0c-a2c7-05b1eb792317","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"4e2a108c-f4d1-38a8-16f8-774191c1d4f8"},"destination":{"id":"ce2e0761-c424-3dad-a3a6-281503d0a293","type":"FUNNEL","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Funnel","comments":"","instanceIdentifier":"27374919-744e-3025-a9c8-047ef48da591"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"67f63e0e-13e5-324f-9229-36ae9109dbbc","instanceIdentifier":"c5e14324-4c4d-3bfb-80b2-54561de8fed5","name":"","source":{"id":"519eca8e-29e4-3d02-81b1-d78c4af5f1fc","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"nifi-app","comments":"","instanceIdentifier":"e930e194-ceba-38f8-54b5-1a20a5095a95"},"destination":{"id":"4a012b1c-5e33-3b43-91b2-e6d5731533bf","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"54017fb8-d4dd-3402-64e3-4553ee3add90"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"3dcb68de-3584-328a-9516-e53fff97e99f","instanceIdentifier":"c2501804-a2f3-38da-6ef1-29602aac6632","name":"","source":{"id":"2611bfca-fb8c-3665-a671-451975c74b60","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"RouteLogsNifi","comments":"","instanceIdentifier":"2a3adae1-b65d-3d93-3020-a6f0be243776"},"destination":{"id":"76030cc2-2b49-37ab-a02b-7451013e4631","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"nifi-bootstrap","comments":"","instanceIdentifier":"778f7ba6-3ac7-3449-a373-e02ec3e77838"},"labelIndex":1,"zIndex":0,"selectedRelationships":["nifi-bootstrap"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"8480415f-9558-392f-a9d6-3fc8b57da4f6","instanceIdentifier":"145af73f-0447-34e2-692d-0713d668a9df","name":"","source":{"id":"2611bfca-fb8c-3665-a671-451975c74b60","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"RouteLogsNifi","comments":"","instanceIdentifier":"2a3adae1-b65d-3d93-3020-a6f0be243776"},"destination":{"id":"22a10724-4dd1-35ef-98d3-257057f060fb","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"nifi-user","comments":"","instanceIdentifier":"f29ba537-e819-333e-9cd9-f989550b3499"},"labelIndex":1,"zIndex":0,"selectedRelationships":["nifi-user"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"4862ed6c-11c7-3485-b9e2-bcb6b524a698","instanceIdentifier":"99f58ed6-1461-3b55-c417-ebdbfe81eb01","name":"","source":{"id":"22a10724-4dd1-35ef-98d3-257057f060fb","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"nifi-user","comments":"","instanceIdentifier":"f29ba537-e819-333e-9cd9-f989550b3499"},"destination":{"id":"f7ddaf54-34aa-3e0c-a2c7-05b1eb792317","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"4e2a108c-f4d1-38a8-16f8-774191c1d4f8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"49e153b7-e19e-39e5-b9d1-7d342d22fb13","instanceIdentifier":"cf4a093a-8b02-36ae-9c80-058b8d3c19b2","name":"","source":{"id":"ce2e0761-c424-3dad-a3a6-281503d0a293","type":"FUNNEL","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Funnel","comments":"","instanceIdentifier":"27374919-744e-3025-a9c8-047ef48da591"},"destination":{"id":"b0934613-cc35-3ec9-b2a3-8840e7883f0e","type":"OUTPUT_PORT","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"output_logs","comments":"","instanceIdentifier":"5bfd241a-d0db-32ee-3075-0c2a0893d0e4"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"e1efa745-81fa-30b6-901d-1d50f268c56e","instanceIdentifier":"2188906e-365c-3b2d-39e8-7c30ded26270","name":"","source":{"id":"2611bfca-fb8c-3665-a671-451975c74b60","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"RouteLogsNifi","comments":"","instanceIdentifier":"2a3adae1-b65d-3d93-3020-a6f0be243776"},"destination":{"id":"519eca8e-29e4-3d02-81b1-d78c4af5f1fc","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"nifi-app","comments":"","instanceIdentifier":"e930e194-ceba-38f8-54b5-1a20a5095a95"},"labelIndex":1,"zIndex":0,"selectedRelationships":["nifi-app"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"}],"labels":[],"funnels":[{"identifier":"ce2e0761-c424-3dad-a3a6-281503d0a293","instanceIdentifier":"27374919-744e-3025-a9c8-047ef48da591","position":{"x":3080.0,"y":320.0},"componentType":"FUNNEL","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"}],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"1a66c95c-1283-3811-9208-dc9a6e0d2933"},{"identifier":"773a63cf-45da-393e-a613-f641fb34fa60","instanceIdentifier":"5f6b1f3d-f75a-3c38-ca26-845d147dfd2b","name":"SendHEC","comments":"","position":{"x":1528.0,"y":408.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"8349b09f-8d76-3cd5-86bb-17ccb1cfb0df","instanceIdentifier":"20d40ca6-7747-35b5-2934-b88e9298c82d","name":"RetryFlowFile","comments":"","position":{"x":696.0,"y":64.0},"type":"org.apache.nifi.processors.standard.RetryFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"penalize-retries":"true","maximum-retries":"3","Fail on Non-numerical Overwrite":"false","reuse-mode":"fail","retry-attribute":"flowfile.retries"},"propertyDescriptors":{"penalize-retries":{"name":"penalize-retries","displayName":"Penalize Retries","identifiesControllerService":false,"sensitive":false},"maximum-retries":{"name":"maximum-retries","displayName":"Maximum Retries","identifiesControllerService":false,"sensitive":false},"Fail on Non-numerical Overwrite":{"name":"Fail on Non-numerical Overwrite","displayName":"Fail on Non-numerical Overwrite","identifiesControllerService":false,"sensitive":false},"reuse-mode":{"name":"reuse-mode","displayName":"Reuse Mode","identifiesControllerService":false,"sensitive":false},"retry-attribute":{"name":"retry-attribute","displayName":"Retry Attribute","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"773a63cf-45da-393e-a613-f641fb34fa60"},{"identifier":"b3287b68-f5e6-3776-a833-754f06252af1","instanceIdentifier":"94a394b7-c736-38c3-e971-af95c1a9f3b7","name":"Send2Splunk-HEC","comments":"","position":{"x":684.0000043888822,"y":303.0000145411145},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","Authorization":"Splunk ${splunk_hec_token}","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"${splunk_hec}/services/collector/raw?sourcetype=${sourcetype}&host=${hostname(true)}&source=${source}","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"10","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":"curl/7.29.0"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"Authorization":{"name":"Authorization","displayName":"Authorization","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":3,"autoTerminatedRelationships":["Response","No Retry","Retry","Original"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"773a63cf-45da-393e-a613-f641fb34fa60"},{"identifier":"0b159b10-2a2c-3fb8-b661-8597a1f32c2a","instanceIdentifier":"145e219d-4a37-3c8a-02d2-6d88e261e79c","name":"LogMessage","comments":"","position":{"x":1464.0,"y":64.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"log-message":"Error to send data to SPLUNK with HEC-Nifi","log-level":"error","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"773a63cf-45da-393e-a613-f641fb34fa60"}],"inputPorts":[{"identifier":"586ff88c-b1ed-31da-9628-f46a6a6dd81f","instanceIdentifier":"bf88dd25-b280-31da-15dc-5d273bfcff5c","name":"HEC_Connect","comments":"","position":{"x":80.0,"y":352.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"773a63cf-45da-393e-a613-f641fb34fa60"}],"outputPorts":[],"connections":[{"identifier":"71a99165-08ca-3965-8a1c-ebea2d950794","instanceIdentifier":"8242b5cc-0a14-3e8c-4598-4fcbe4e0d5e8","name":"","source":{"id":"586ff88c-b1ed-31da-9628-f46a6a6dd81f","type":"INPUT_PORT","groupId":"773a63cf-45da-393e-a613-f641fb34fa60","name":"HEC_Connect","comments":"","instanceIdentifier":"bf88dd25-b280-31da-15dc-5d273bfcff5c"},"destination":{"id":"b3287b68-f5e6-3776-a833-754f06252af1","type":"PROCESSOR","groupId":"773a63cf-45da-393e-a613-f641fb34fa60","name":"Send2Splunk-HEC","comments":"","instanceIdentifier":"94a394b7-c736-38c3-e971-af95c1a9f3b7"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"773a63cf-45da-393e-a613-f641fb34fa60"},{"identifier":"b9a94a16-b378-38a8-8662-d68b9f9ca6eb","instanceIdentifier":"769aeea2-e7cc-3b9e-e0e4-187f743d2da3","name":"","source":{"id":"b3287b68-f5e6-3776-a833-754f06252af1","type":"PROCESSOR","groupId":"773a63cf-45da-393e-a613-f641fb34fa60","name":"Send2Splunk-HEC","comments":"","instanceIdentifier":"94a394b7-c736-38c3-e971-af95c1a9f3b7"},"destination":{"id":"8349b09f-8d76-3cd5-86bb-17ccb1cfb0df","type":"PROCESSOR","groupId":"773a63cf-45da-393e-a613-f641fb34fa60","name":"RetryFlowFile","comments":"","instanceIdentifier":"20d40ca6-7747-35b5-2934-b88e9298c82d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1200.0,"y":240.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"773a63cf-45da-393e-a613-f641fb34fa60"},{"identifier":"c9bb8cf5-8d3e-38b5-bc1f-2d999322b804","instanceIdentifier":"67a61694-7ba1-3826-4dd0-2f3624f5d297","name":"","source":{"id":"8349b09f-8d76-3cd5-86bb-17ccb1cfb0df","type":"PROCESSOR","groupId":"773a63cf-45da-393e-a613-f641fb34fa60","name":"RetryFlowFile","comments":"","instanceIdentifier":"20d40ca6-7747-35b5-2934-b88e9298c82d"},"destination":{"id":"b3287b68-f5e6-3776-a833-754f06252af1","type":"PROCESSOR","groupId":"773a63cf-45da-393e-a613-f641fb34fa60","name":"Send2Splunk-HEC","comments":"","instanceIdentifier":"94a394b7-c736-38c3-e971-af95c1a9f3b7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":576.0,"y":248.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"773a63cf-45da-393e-a613-f641fb34fa60"},{"identifier":"b8fca19c-8925-3b93-81f7-8b44315ceac8","instanceIdentifier":"a1c0c50d-9df5-3045-32ae-69fafa9433e3","name":"","source":{"id":"8349b09f-8d76-3cd5-86bb-17ccb1cfb0df","type":"PROCESSOR","groupId":"773a63cf-45da-393e-a613-f641fb34fa60","name":"RetryFlowFile","comments":"","instanceIdentifier":"20d40ca6-7747-35b5-2934-b88e9298c82d"},"destination":{"id":"0b159b10-2a2c-3fb8-b661-8597a1f32c2a","type":"PROCESSOR","groupId":"773a63cf-45da-393e-a613-f641fb34fa60","name":"LogMessage","comments":"","instanceIdentifier":"145e219d-4a37-3c8a-02d2-6d88e261e79c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["retries_exceeded"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"773a63cf-45da-393e-a613-f641fb34fa60"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"1a66c95c-1283-3811-9208-dc9a6e0d2933"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"f9372630-7b42-393c-a13a-2a3e23f74b98","instanceIdentifier":"7f4bf2f5-4c02-3006-b301-9cb2b7b0a753","name":"","source":{"id":"ae75456f-87bf-3b36-8486-39cb7524995b","type":"OUTPUT_PORT","groupId":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","name":"output_reporting","comments":"","instanceIdentifier":"365378b7-eba7-3355-4a84-ae81bb370287"},"destination":{"id":"810fa907-ffe4-3748-9ee3-60ada51290f2","type":"FUNNEL","groupId":"1a66c95c-1283-3811-9208-dc9a6e0d2933","name":"Funnel","comments":"","instanceIdentifier":"02f7c034-890b-3f8f-6065-6a21bede94db"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1a66c95c-1283-3811-9208-dc9a6e0d2933"},{"identifier":"7d810b1c-63ee-34f6-a92f-063e65645a42","instanceIdentifier":"b899f54f-0a98-3a36-6bff-189064335c39","name":"","source":{"id":"b0934613-cc35-3ec9-b2a3-8840e7883f0e","type":"OUTPUT_PORT","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"output_logs","comments":"","instanceIdentifier":"5bfd241a-d0db-32ee-3075-0c2a0893d0e4"},"destination":{"id":"810fa907-ffe4-3748-9ee3-60ada51290f2","type":"FUNNEL","groupId":"1a66c95c-1283-3811-9208-dc9a6e0d2933","name":"Funnel","comments":"","instanceIdentifier":"02f7c034-890b-3f8f-6065-6a21bede94db"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1a66c95c-1283-3811-9208-dc9a6e0d2933"},{"identifier":"aef67ee3-415e-3277-8d4d-2eed8a088011","instanceIdentifier":"b8aa999d-b682-3902-7d56-783c69e15788","name":"","source":{"id":"0b15d067-df10-3c52-9ad7-5eeefac12b96","type":"OUTPUT_PORT","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"output_api","comments":"","instanceIdentifier":"f47a2268-13ae-316d-0020-9cefa5b9759c"},"destination":{"id":"810fa907-ffe4-3748-9ee3-60ada51290f2","type":"FUNNEL","groupId":"1a66c95c-1283-3811-9208-dc9a6e0d2933","name":"Funnel","comments":"","instanceIdentifier":"02f7c034-890b-3f8f-6065-6a21bede94db"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1a66c95c-1283-3811-9208-dc9a6e0d2933"},{"identifier":"610a00d7-83f6-3f13-8339-c519e3346501","instanceIdentifier":"499fce72-2d45-3074-9591-e7557e0737c4","name":"","source":{"id":"810fa907-ffe4-3748-9ee3-60ada51290f2","type":"FUNNEL","groupId":"1a66c95c-1283-3811-9208-dc9a6e0d2933","name":"Funnel","comments":"","instanceIdentifier":"02f7c034-890b-3f8f-6065-6a21bede94db"},"destination":{"id":"586ff88c-b1ed-31da-9628-f46a6a6dd81f","type":"INPUT_PORT","groupId":"773a63cf-45da-393e-a613-f641fb34fa60","name":"HEC_Connect","comments":"","instanceIdentifier":"bf88dd25-b280-31da-15dc-5d273bfcff5c"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1a66c95c-1283-3811-9208-dc9a6e0d2933"}],"labels":[],"funnels":[{"identifier":"810fa907-ffe4-3748-9ee3-60ada51290f2","instanceIdentifier":"02f7c034-890b-3f8f-6065-6a21bede94db","position":{"x":1200.0,"y":480.0},"componentType":"FUNNEL","groupIdentifier":"1a66c95c-1283-3811-9208-dc9a6e0d2933"}],"controllerServices":[],"variables":{"splunk_hec_token":"c91b35d5-285b-4dd6-952c-2fa8f48a1786","processors_list":"c45766f3-018e-1000-d4c4-8bc3e0de9c9e\nc4577522-018e-1000-7363-2bbfae760791","splunk_hec":"http://20.81.194.76:8088","process_groups_list":"c4574f03-018e-1000-c4c6-bf343a1a92ea","nifi_path":"/opt/nifi/nifi-current/","nifi_api_url":"http://localhost:8080/nifi-api"},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}