flow_definition/NiFiMonitoring.json
{"flowContents":{"identifier":"39594cfa-e9b3-3ea4-8770-1b4934813a47","instanceIdentifier":"cc2c8bb2-4ec5-3cbb-d10c-8de4cd1ff8bf","name":"NiFiMonitoring","comments":"","position":{"x":462.0,"y":71.0},"processGroups":[{"identifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","instanceIdentifier":"658dc36f-530a-3f9f-4ae9-8708b4de352c","name":"Monitoring - ReportingTask","comments":"","position":{"x":472.0,"y":616.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"284dd1ea-c98b-3aa8-9b55-4f99a51e4056","instanceIdentifier":"6832a3d4-bad0-3f0d-e165-b2409bea20a0","name":"Set-Splunk_variables","comments":"","position":{"x":688.0,"y":56.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.23.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sourcetype":"nifi:reporting:task","source":"nifi_self_rest_api","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sourcetype":{"name":"sourcetype","displayName":"sourcetype","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1"},{"identifier":"b9059878-48ed-3a3d-a8a8-1814bfd4d2a0","instanceIdentifier":"22c6f0dd-9588-3a64-9515-7758fc30ba2c","name":"Set-Splunk_variables","comments":"","position":{"x":688.0,"y":216.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.23.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sourcetype":"nifi:reporting:bulletin","source":"nifi_self_rest_api","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sourcetype":{"name":"sourcetype","displayName":"sourcetype","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1"}],"inputPorts":[{"identifier":"3144a3a8-7d04-3dc9-a964-d5dcc605da2d","instanceIdentifier":"885450dd-b555-37aa-eebf-0c15e44e8310","name":"Copy of bulletin_report","comments":"","position":{"x":112.0,"y":240.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":true,"componentType":"INPUT_PORT","groupIdentifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1"},{"identifier":"4effa5ac-363a-31ce-9798-4e1af56e915e","instanceIdentifier":"b4e5d0b7-74f6-3540-b0de-f3c90f60156a","name":"Copy of reporting_task","comments":"","position":{"x":112.0,"y":80.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":true,"componentType":"INPUT_PORT","groupIdentifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1"}],"outputPorts":[{"identifier":"ae75456f-87bf-3b36-8486-39cb7524995b","instanceIdentifier":"faf15bf2-fe15-3487-41a2-2a87218b6d76","name":"output_reporting","comments":"","position":{"x":1384.0,"y":168.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1"}],"connections":[{"identifier":"dea69ea5-e33a-3f87-847b-f67fff0b6678","instanceIdentifier":"62d322d3-9782-32ed-5b19-c547584bd3ac","name":"","source":{"id":"284dd1ea-c98b-3aa8-9b55-4f99a51e4056","type":"PROCESSOR","groupId":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"6832a3d4-bad0-3f0d-e165-b2409bea20a0"},"destination":{"id":"ae75456f-87bf-3b36-8486-39cb7524995b","type":"OUTPUT_PORT","groupId":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","name":"output_reporting","comments":"","instanceIdentifier":"faf15bf2-fe15-3487-41a2-2a87218b6d76"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1"},{"identifier":"9ece8189-d5b7-34a1-a6a3-fe8e44aa85e0","instanceIdentifier":"9381fc69-5972-3736-8777-cbcc9b2e8467","name":"","source":{"id":"b9059878-48ed-3a3d-a8a8-1814bfd4d2a0","type":"PROCESSOR","groupId":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"22c6f0dd-9588-3a64-9515-7758fc30ba2c"},"destination":{"id":"ae75456f-87bf-3b36-8486-39cb7524995b","type":"OUTPUT_PORT","groupId":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","name":"output_reporting","comments":"","instanceIdentifier":"faf15bf2-fe15-3487-41a2-2a87218b6d76"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1"},{"identifier":"2a10f6b3-99ec-3f2a-a1c4-7d7d9aa46e7b","instanceIdentifier":"0929cf33-7d0a-3a69-e9d2-e12d7506b0e9","name":"","source":{"id":"3144a3a8-7d04-3dc9-a964-d5dcc605da2d","type":"INPUT_PORT","groupId":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","name":"Copy of bulletin_report","comments":"","instanceIdentifier":"885450dd-b555-37aa-eebf-0c15e44e8310"},"destination":{"id":"b9059878-48ed-3a3d-a8a8-1814bfd4d2a0","type":"PROCESSOR","groupId":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"22c6f0dd-9588-3a64-9515-7758fc30ba2c"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1"},{"identifier":"f9b83ae9-0f32-34e4-9e40-f9d5b0d3649b","instanceIdentifier":"77460f1f-2068-3451-1056-fbc578fa58d1","name":"","source":{"id":"4effa5ac-363a-31ce-9798-4e1af56e915e","type":"INPUT_PORT","groupId":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","name":"Copy of reporting_task","comments":"","instanceIdentifier":"b4e5d0b7-74f6-3540-b0de-f3c90f60156a"},"destination":{"id":"284dd1ea-c98b-3aa8-9b55-4f99a51e4056","type":"PROCESSOR","groupId":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"6832a3d4-bad0-3f0d-e165-b2409bea20a0"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"39594cfa-e9b3-3ea4-8770-1b4934813a47"},{"identifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","instanceIdentifier":"ad5197fb-de58-3f4d-857a-88652ad69ca2","name":"Monitoring - API","comments":"","position":{"x":472.0,"y":168.0},"processGroups":[{"identifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4","instanceIdentifier":"16ffbdda-0a8d-30ea-9352-8837a018b81d","name":"GetHTTP-processors_history","comments":"","position":{"x":-640.0,"y":304.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"4dd789a6-65c1-30be-965e-3416ebbc8632","instanceIdentifier":"9da63871-f2a1-3f64-ffe0-4114bc630edd","name":"InvokeHTTP","comments":"","position":{"x":1528.0,"y":160.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"http://${hostname(true)}:8080/nifi-api/flow/processors/${pid}/status/history","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Retry","Original"],"scheduledState":"ENABLED","retryCount":5,"retriedRelationships":["Failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4"},{"identifier":"cb31b747-a474-353a-8771-0e993f1e3212","instanceIdentifier":"2eb980be-9fc9-3ebd-85cd-fde751c2ca10","name":"GenerateFlowFile","comments":"","position":{"x":-840.0,"y":168.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"${processors_list}","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"15 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4"},{"identifier":"2852d208-05ee-3e01-b54a-14000cb346ab","instanceIdentifier":"5cdf7da8-3f41-3bd9-ac6c-f6223b99005d","name":"SplitText","comments":"","position":{"x":272.0,"y":168.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4"},{"identifier":"9c48b061-11a5-35c2-88f9-eae96cae5727","instanceIdentifier":"2d0f3e51-0d86-3161-b09a-7e5cbd08be4e","name":"ExtractText","comments":"","position":{"x":840.0,"y":168.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","extract-text-enable-named-groups":"false","pid":"(.+)","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true","extract-text-enable-repeating-capture-group":"false"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false},"extract-text-enable-named-groups":{"name":"extract-text-enable-named-groups","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false},"pid":{"name":"pid","displayName":"pid","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false},"extract-text-enable-repeating-capture-group":{"name":"extract-text-enable-repeating-capture-group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4"},{"identifier":"3d1842cf-6e00-3b04-879c-5b1c615e5783","instanceIdentifier":"018a1000-3024-14c6-221b-db5238757067","name":"RouteText","comments":"","position":{"x":-272.0,"y":168.0},"type":"org.apache.nifi.processors.standard.RouteText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"Routing Strategy":"Route to 'matched' if lines matches any condition","Ignore Leading/Trailing Whitespace":"true","Matching Strategy":"Contains","Character Set":"UTF-8","Ignore Case":"false","Grouping Regular Expression":null,"empty":"<insert_value>"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"Ignore Leading/Trailing Whitespace":{"name":"Ignore Leading/Trailing Whitespace","displayName":"Ignore Leading/Trailing Whitespace","identifiesControllerService":false,"sensitive":false},"Matching Strategy":{"name":"Matching Strategy","displayName":"Matching Strategy","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Ignore Case":{"name":"Ignore Case","displayName":"Ignore Case","identifiesControllerService":false,"sensitive":false},"Grouping Regular Expression":{"name":"Grouping Regular Expression","displayName":"Grouping Regular Expression","identifiesControllerService":false,"sensitive":false},"empty":{"name":"empty","displayName":"empty","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","matched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4"},{"identifier":"7d7ffc48-1a93-32e9-8f5c-615d19ade85f","instanceIdentifier":"3de55eca-d6d3-3744-d8d1-3b2e6fe5be46","name":"LogMessage","comments":"","position":{"x":848.0,"y":600.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"log-message":"Error in processgroups status history","log-level":"error","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4"}],"inputPorts":[],"outputPorts":[{"identifier":"e3fc2b30-d233-35ca-a7f2-cdf768a1993a","instanceIdentifier":"3e1053d3-8a80-310d-f4cb-e7f491726b19","name":"out_processgroup_status_history","position":{"x":2184.0,"y":192.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4"}],"connections":[{"identifier":"f171de96-8983-31c8-98c2-f8f2ea3cda87","instanceIdentifier":"018a1002-3024-14c6-956f-c3b50bdf594a","name":"","source":{"id":"3d1842cf-6e00-3b04-879c-5b1c615e5783","type":"PROCESSOR","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"RouteText","comments":"","instanceIdentifier":"018a1000-3024-14c6-221b-db5238757067"},"destination":{"id":"2852d208-05ee-3e01-b54a-14000cb346ab","type":"PROCESSOR","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"SplitText","comments":"","instanceIdentifier":"5cdf7da8-3f41-3bd9-ac6c-f6223b99005d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4"},{"identifier":"fd9729b3-c5f6-3875-b62b-66870c460d9d","instanceIdentifier":"5cf0773f-f606-354f-15a6-8b0fd553a738","name":"","source":{"id":"2852d208-05ee-3e01-b54a-14000cb346ab","type":"PROCESSOR","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"SplitText","comments":"","instanceIdentifier":"5cdf7da8-3f41-3bd9-ac6c-f6223b99005d"},"destination":{"id":"9c48b061-11a5-35c2-88f9-eae96cae5727","type":"PROCESSOR","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"ExtractText","comments":"","instanceIdentifier":"2d0f3e51-0d86-3161-b09a-7e5cbd08be4e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4"},{"identifier":"36eff55d-9a71-3bb2-9911-10f8725f1cc2","instanceIdentifier":"018a1001-3024-14c6-b946-a7bad44ac961","name":"","source":{"id":"cb31b747-a474-353a-8771-0e993f1e3212","type":"PROCESSOR","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"GenerateFlowFile","comments":"","instanceIdentifier":"2eb980be-9fc9-3ebd-85cd-fde751c2ca10"},"destination":{"id":"3d1842cf-6e00-3b04-879c-5b1c615e5783","type":"PROCESSOR","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"RouteText","comments":"","instanceIdentifier":"018a1000-3024-14c6-221b-db5238757067"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4"},{"identifier":"ca2f2fc8-4730-3a74-9f11-4a39888940a3","instanceIdentifier":"3c036765-cd26-337b-3f61-d41f336654f0","name":"","source":{"id":"4dd789a6-65c1-30be-965e-3416ebbc8632","type":"PROCESSOR","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"InvokeHTTP","comments":"","instanceIdentifier":"9da63871-f2a1-3f64-ffe0-4114bc630edd"},"destination":{"id":"7d7ffc48-1a93-32e9-8f5c-615d19ade85f","type":"PROCESSOR","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"LogMessage","comments":"","instanceIdentifier":"3de55eca-d6d3-3744-d8d1-3b2e6fe5be46"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4"},{"identifier":"6fa1498f-5d54-39b4-8ee4-8981efa71217","instanceIdentifier":"e6493148-255f-3462-aa27-874adb18d94b","name":"","source":{"id":"2852d208-05ee-3e01-b54a-14000cb346ab","type":"PROCESSOR","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"SplitText","comments":"","instanceIdentifier":"5cdf7da8-3f41-3bd9-ac6c-f6223b99005d"},"destination":{"id":"7d7ffc48-1a93-32e9-8f5c-615d19ade85f","type":"PROCESSOR","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"LogMessage","comments":"","instanceIdentifier":"3de55eca-d6d3-3744-d8d1-3b2e6fe5be46"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4"},{"identifier":"7cd5d0b1-e574-34e0-a5b5-63372b0287ec","instanceIdentifier":"8eda7366-c255-3e43-cc29-3fd05a54d8e5","name":"","source":{"id":"9c48b061-11a5-35c2-88f9-eae96cae5727","type":"PROCESSOR","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"ExtractText","comments":"","instanceIdentifier":"2d0f3e51-0d86-3161-b09a-7e5cbd08be4e"},"destination":{"id":"4dd789a6-65c1-30be-965e-3416ebbc8632","type":"PROCESSOR","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"InvokeHTTP","comments":"","instanceIdentifier":"9da63871-f2a1-3f64-ffe0-4114bc630edd"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4"},{"identifier":"f4a44787-e1a9-35e5-ada9-2417e50b9706","instanceIdentifier":"7c4e902a-b476-3d4f-fcd8-9346502e77a9","name":"","source":{"id":"4dd789a6-65c1-30be-965e-3416ebbc8632","type":"PROCESSOR","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"InvokeHTTP","comments":"","instanceIdentifier":"9da63871-f2a1-3f64-ffe0-4114bc630edd"},"destination":{"id":"e3fc2b30-d233-35ca-a7f2-cdf768a1993a","type":"OUTPUT_PORT","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"out_processgroup_status_history","instanceIdentifier":"3e1053d3-8a80-310d-f4cb-e7f491726b19"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"c80e485c-419a-3e3e-b75d-724469f7783c","instanceIdentifier":"b5e1c34b-3e49-3af5-a1d4-b2ef6895b5cb","name":"GetHTTP-process_groups_history","comments":"","position":{"x":-640.0,"y":72.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"4dd789a6-65c1-30be-965e-3416ebbc8632","instanceIdentifier":"e06b97e0-2570-3639-fa25-f9ab6ed959d3","name":"InvokeHTTP","comments":"","position":{"x":1528.0,"y":160.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"http://${hostname(true)}:8080/nifi-api/flow/process-groups/${pid}/status/history","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Retry","Original"],"scheduledState":"ENABLED","retryCount":5,"retriedRelationships":["Failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c80e485c-419a-3e3e-b75d-724469f7783c"},{"identifier":"cb31b747-a474-353a-8771-0e993f1e3212","instanceIdentifier":"5928d530-0e4c-30fd-c609-65dee436a73a","name":"GenerateFlowFile","comments":"","position":{"x":-832.0,"y":168.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"${process_groups_list}","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"15 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c80e485c-419a-3e3e-b75d-724469f7783c"},{"identifier":"650c6526-fa3c-36e1-9420-c72860de55dd","instanceIdentifier":"04c63024-018a-1000-3307-321fd0438cc2","name":"RouteText","comments":"","position":{"x":-280.0,"y":168.0},"type":"org.apache.nifi.processors.standard.RouteText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"Routing Strategy":"Route to 'matched' if lines matches any condition","Ignore Leading/Trailing Whitespace":"true","Matching Strategy":"Contains","Character Set":"UTF-8","Ignore Case":"false","Grouping Regular Expression":null,"empty":"<insert_value>"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"Ignore Leading/Trailing Whitespace":{"name":"Ignore Leading/Trailing Whitespace","displayName":"Ignore Leading/Trailing Whitespace","identifiesControllerService":false,"sensitive":false},"Matching Strategy":{"name":"Matching Strategy","displayName":"Matching Strategy","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Ignore Case":{"name":"Ignore Case","displayName":"Ignore Case","identifiesControllerService":false,"sensitive":false},"Grouping Regular Expression":{"name":"Grouping Regular Expression","displayName":"Grouping Regular Expression","identifiesControllerService":false,"sensitive":false},"empty":{"name":"empty","displayName":"empty","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","matched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c80e485c-419a-3e3e-b75d-724469f7783c"},{"identifier":"2852d208-05ee-3e01-b54a-14000cb346ab","instanceIdentifier":"630b6454-0195-3746-ec1f-67eb5634b4fd","name":"SplitText","comments":"","position":{"x":272.0,"y":168.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c80e485c-419a-3e3e-b75d-724469f7783c"},{"identifier":"9c48b061-11a5-35c2-88f9-eae96cae5727","instanceIdentifier":"c155a37c-1f4d-3f46-3f2c-cc6af663fd5a","name":"ExtractText","comments":"","position":{"x":840.0,"y":168.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","extract-text-enable-named-groups":"false","pid":"(.+)","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true","extract-text-enable-repeating-capture-group":"false"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false},"extract-text-enable-named-groups":{"name":"extract-text-enable-named-groups","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false},"pid":{"name":"pid","displayName":"pid","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false},"extract-text-enable-repeating-capture-group":{"name":"extract-text-enable-repeating-capture-group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c80e485c-419a-3e3e-b75d-724469f7783c"},{"identifier":"7d7ffc48-1a93-32e9-8f5c-615d19ade85f","instanceIdentifier":"1ad8df17-a243-3922-7233-50cda37d2466","name":"LogMessage","comments":"","position":{"x":848.0,"y":600.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"log-message":"Error in processgroups status history","log-level":"error","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c80e485c-419a-3e3e-b75d-724469f7783c"}],"inputPorts":[],"outputPorts":[{"identifier":"e3fc2b30-d233-35ca-a7f2-cdf768a1993a","instanceIdentifier":"8a81325d-e4a2-3ba7-215b-91d9d45a9082","name":"out_processgroup_status_history","position":{"x":2184.0,"y":192.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"c80e485c-419a-3e3e-b75d-724469f7783c"}],"connections":[{"identifier":"fd9729b3-c5f6-3875-b62b-66870c460d9d","instanceIdentifier":"27a7dea5-f2c3-38a9-2c3a-d79015ae058f","name":"","source":{"id":"2852d208-05ee-3e01-b54a-14000cb346ab","type":"PROCESSOR","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"SplitText","comments":"","instanceIdentifier":"630b6454-0195-3746-ec1f-67eb5634b4fd"},"destination":{"id":"9c48b061-11a5-35c2-88f9-eae96cae5727","type":"PROCESSOR","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"ExtractText","comments":"","instanceIdentifier":"c155a37c-1f4d-3f46-3f2c-cc6af663fd5a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c80e485c-419a-3e3e-b75d-724469f7783c"},{"identifier":"e6a287e7-f498-3da8-bbf7-a49bebfef349","instanceIdentifier":"04c63d02-018a-1000-ea9b-dc0ef7dbc57e","name":"","source":{"id":"cb31b747-a474-353a-8771-0e993f1e3212","type":"PROCESSOR","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"GenerateFlowFile","comments":"","instanceIdentifier":"5928d530-0e4c-30fd-c609-65dee436a73a"},"destination":{"id":"650c6526-fa3c-36e1-9420-c72860de55dd","type":"PROCESSOR","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"RouteText","comments":"","instanceIdentifier":"04c63024-018a-1000-3307-321fd0438cc2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c80e485c-419a-3e3e-b75d-724469f7783c"},{"identifier":"ca2f2fc8-4730-3a74-9f11-4a39888940a3","instanceIdentifier":"a271d17d-3298-3f09-d9fa-781b13ee065d","name":"","source":{"id":"4dd789a6-65c1-30be-965e-3416ebbc8632","type":"PROCESSOR","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"InvokeHTTP","comments":"","instanceIdentifier":"e06b97e0-2570-3639-fa25-f9ab6ed959d3"},"destination":{"id":"7d7ffc48-1a93-32e9-8f5c-615d19ade85f","type":"PROCESSOR","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"LogMessage","comments":"","instanceIdentifier":"1ad8df17-a243-3922-7233-50cda37d2466"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c80e485c-419a-3e3e-b75d-724469f7783c"},{"identifier":"6fa1498f-5d54-39b4-8ee4-8981efa71217","instanceIdentifier":"813d90cc-5d6d-3276-1045-f51d021f416a","name":"","source":{"id":"2852d208-05ee-3e01-b54a-14000cb346ab","type":"PROCESSOR","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"SplitText","comments":"","instanceIdentifier":"630b6454-0195-3746-ec1f-67eb5634b4fd"},"destination":{"id":"7d7ffc48-1a93-32e9-8f5c-615d19ade85f","type":"PROCESSOR","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"LogMessage","comments":"","instanceIdentifier":"1ad8df17-a243-3922-7233-50cda37d2466"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c80e485c-419a-3e3e-b75d-724469f7783c"},{"identifier":"7cd5d0b1-e574-34e0-a5b5-63372b0287ec","instanceIdentifier":"4f674769-a18e-3d3b-1bfd-10b25498c935","name":"","source":{"id":"9c48b061-11a5-35c2-88f9-eae96cae5727","type":"PROCESSOR","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"ExtractText","comments":"","instanceIdentifier":"c155a37c-1f4d-3f46-3f2c-cc6af663fd5a"},"destination":{"id":"4dd789a6-65c1-30be-965e-3416ebbc8632","type":"PROCESSOR","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"InvokeHTTP","comments":"","instanceIdentifier":"e06b97e0-2570-3639-fa25-f9ab6ed959d3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c80e485c-419a-3e3e-b75d-724469f7783c"},{"identifier":"f4a44787-e1a9-35e5-ada9-2417e50b9706","instanceIdentifier":"d417b9b9-a7df-30ce-5f2e-028f483f6cea","name":"","source":{"id":"4dd789a6-65c1-30be-965e-3416ebbc8632","type":"PROCESSOR","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"InvokeHTTP","comments":"","instanceIdentifier":"e06b97e0-2570-3639-fa25-f9ab6ed959d3"},"destination":{"id":"e3fc2b30-d233-35ca-a7f2-cdf768a1993a","type":"OUTPUT_PORT","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"out_processgroup_status_history","instanceIdentifier":"8a81325d-e4a2-3ba7-215b-91d9d45a9082"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c80e485c-419a-3e3e-b75d-724469f7783c"},{"identifier":"5c3cc096-3a17-36f9-a700-f6bef3b0f4c0","instanceIdentifier":"04c6bc36-018a-1000-7db7-babbe61a8b19","name":"","source":{"id":"650c6526-fa3c-36e1-9420-c72860de55dd","type":"PROCESSOR","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"RouteText","comments":"","instanceIdentifier":"04c63024-018a-1000-3307-321fd0438cc2"},"destination":{"id":"2852d208-05ee-3e01-b54a-14000cb346ab","type":"PROCESSOR","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"SplitText","comments":"","instanceIdentifier":"630b6454-0195-3746-ec1f-67eb5634b4fd"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c80e485c-419a-3e3e-b75d-724469f7783c"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"}],"remoteProcessGroups":[],"processors":[{"identifier":"db9f14bd-5d60-3b2c-957f-0023ccd669fc","instanceIdentifier":"a6c8e5f4-5393-3fe0-0e2c-e1dfdfd371a5","name":"GetHTTP-flow_status","comments":"","position":{"x":-624.0,"y":-104.0},"type":"org.apache.nifi.processors.standard.GetHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"Proxy Host":null,"redirect-cookie-policy":"default","proxy-configuration-service":null,"Filename":"flow_status.json","User Agent":"nifi","Proxy Port":null,"URL":"${nifi_api_url}/flow/status","Connection Timeout":"30 sec","Data Timeout":"30 sec","SSL Context Service":null,"Username":null,"Accept Content-Type":null,"Follow Redirects":"false"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"redirect-cookie-policy":{"name":"redirect-cookie-policy","displayName":"Redirect Cookie Policy","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Filename":{"name":"Filename","displayName":"Filename","identifiesControllerService":false,"sensitive":false},"User Agent":{"name":"User Agent","displayName":"User Agent","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"URL":{"name":"URL","displayName":"URL","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"Data Timeout":{"name":"Data Timeout","displayName":"Data Timeout","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"Accept Content-Type":{"name":"Accept Content-Type","displayName":"Accept Content-Type","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Follow Redirects","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"38ae2ec7-5e9f-3be0-85c8-e5ded6ddc73d","instanceIdentifier":"eb911464-7ab9-3d93-1ed6-56a509adc1b4","name":"Set-Splunk_variables","comments":"","position":{"x":32.0,"y":-272.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.23.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sourcetype":"nifi:api:site_to_site","source":"nifi_self_rest_api","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sourcetype":{"name":"sourcetype","displayName":"sourcetype","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"fcaa8186-1e69-3eda-8b5e-e7c21905645f","instanceIdentifier":"86fe1a6a-7204-31cf-e885-d54bee7c6b5a","name":"Set-Splunk_variables","comments":"","position":{"x":26.6109619140625,"y":-444.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.23.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sourcetype":"nifi:api:system_diagnostics","source":"nifi_self_rest_api","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sourcetype":{"name":"sourcetype","displayName":"sourcetype","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"1371ddab-cfdc-309e-9127-0bea6d31b3c2","instanceIdentifier":"9780c646-802e-30a2-60e3-de5bdb3927a0","name":"GetHTTP-system_diagnostics","comments":"","position":{"x":-629.3890380859375,"y":-444.0},"type":"org.apache.nifi.processors.standard.GetHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"Proxy Host":null,"redirect-cookie-policy":"default","proxy-configuration-service":null,"Filename":"system-diagnostics.log","User Agent":"nifi","Proxy Port":null,"URL":"${nifi_api_url}/system-diagnostics","Connection Timeout":"30 sec","Data Timeout":"30 sec","SSL Context Service":null,"Username":null,"Accept Content-Type":null,"Follow Redirects":"false"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"redirect-cookie-policy":{"name":"redirect-cookie-policy","displayName":"Redirect Cookie Policy","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Filename":{"name":"Filename","displayName":"Filename","identifiesControllerService":false,"sensitive":false},"User Agent":{"name":"User Agent","displayName":"User Agent","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"URL":{"name":"URL","displayName":"URL","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"Data Timeout":{"name":"Data Timeout","displayName":"Data Timeout","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"Accept Content-Type":{"name":"Accept Content-Type","displayName":"Accept Content-Type","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Follow Redirects","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"f057f8e0-3d6a-39d8-91b0-83d1ad8f2a83","instanceIdentifier":"34ddc7f6-a429-3b80-2d07-32cd9ab49b65","name":"Set-Splunk_variables","comments":"","position":{"x":32.0,"y":-88.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.23.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sourcetype":"nifi:api:flow_status","source":"nifi_self_rest_api","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sourcetype":{"name":"sourcetype","displayName":"sourcetype","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"892456ae-b572-3b87-9ae7-a500b03fd042","instanceIdentifier":"c03c4341-f9aa-336b-9754-41649c48e385","name":"Set-Splunk_variables","comments":"","position":{"x":32.0,"y":328.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.23.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sourcetype":"nifi:api:processors_history","source":"nifi_self_rest_api","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sourcetype":{"name":"sourcetype","displayName":"sourcetype","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"8d52a96b-80bf-3be4-ad01-55ab5bf0c8ba","instanceIdentifier":"fcc3a6b2-c577-34ad-9228-a4f789e27b75","name":"GetHTTP-site_to_site","comments":"","position":{"x":-624.0,"y":-272.0},"type":"org.apache.nifi.processors.standard.GetHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"Proxy Host":null,"redirect-cookie-policy":"default","proxy-configuration-service":null,"Filename":"site-to-site.json","User Agent":"nifi","Proxy Port":null,"URL":"${nifi_api_url}/site-to-site","Connection Timeout":"30 sec","Data Timeout":"30 sec","SSL Context Service":null,"Username":null,"Accept Content-Type":null,"Follow Redirects":"false"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"redirect-cookie-policy":{"name":"redirect-cookie-policy","displayName":"Redirect Cookie Policy","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Filename":{"name":"Filename","displayName":"Filename","identifiesControllerService":false,"sensitive":false},"User Agent":{"name":"User Agent","displayName":"User Agent","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"URL":{"name":"URL","displayName":"URL","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"Data Timeout":{"name":"Data Timeout","displayName":"Data Timeout","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"Accept Content-Type":{"name":"Accept Content-Type","displayName":"Accept Content-Type","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Follow Redirects","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"7ba9f234-b952-3dd8-8249-715331399bb9","instanceIdentifier":"195cd743-38c4-313f-740f-f6fe1bffd379","name":"Set-Splunk_variables","comments":"","position":{"x":32.0,"y":96.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.23.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sourcetype":"nifi:api:process_groups_history","source":"nifi_self_rest_api","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sourcetype":{"name":"sourcetype","displayName":"sourcetype","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"}],"inputPorts":[],"outputPorts":[{"identifier":"0b15d067-df10-3c52-9ad7-5eeefac12b96","instanceIdentifier":"b4cb4823-773d-3f2d-99ef-75245c4b5ba0","name":"output_api","comments":"","position":{"x":1048.0,"y":-64.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"}],"connections":[{"identifier":"0f012166-7ff8-3b5a-b816-bc197199f353","instanceIdentifier":"22215288-2e2c-308d-28f8-5762886f87f8","name":"","source":{"id":"892456ae-b572-3b87-9ae7-a500b03fd042","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"c03c4341-f9aa-336b-9754-41649c48e385"},"destination":{"id":"feec6feb-121f-33df-b53d-cee70c859ddc","type":"FUNNEL","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Funnel","comments":"","instanceIdentifier":"f83abfcc-b5b3-34fa-6a4f-7e1ea6016c27"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"f1233de2-e722-3f25-a95b-9cb21c06b049","instanceIdentifier":"5c98c175-e619-344f-1482-6ebb9cdd44fc","name":"","source":{"id":"e3fc2b30-d233-35ca-a7f2-cdf768a1993a","type":"OUTPUT_PORT","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"out_processgroup_status_history","instanceIdentifier":"3e1053d3-8a80-310d-f4cb-e7f491726b19"},"destination":{"id":"892456ae-b572-3b87-9ae7-a500b03fd042","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"c03c4341-f9aa-336b-9754-41649c48e385"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"067f9472-a224-3eb3-9a56-c5c4f9db64af","instanceIdentifier":"4ef25f64-38fa-3c00-a99c-0512ad6ddcb2","name":"","source":{"id":"38ae2ec7-5e9f-3be0-85c8-e5ded6ddc73d","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"eb911464-7ab9-3d93-1ed6-56a509adc1b4"},"destination":{"id":"feec6feb-121f-33df-b53d-cee70c859ddc","type":"FUNNEL","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Funnel","comments":"","instanceIdentifier":"f83abfcc-b5b3-34fa-6a4f-7e1ea6016c27"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"d8d76da0-de63-3f6d-af99-5766dd23b651","instanceIdentifier":"a319df7c-77af-3414-e9d4-8cb67b031ad7","name":"","source":{"id":"f057f8e0-3d6a-39d8-91b0-83d1ad8f2a83","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"34ddc7f6-a429-3b80-2d07-32cd9ab49b65"},"destination":{"id":"feec6feb-121f-33df-b53d-cee70c859ddc","type":"FUNNEL","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Funnel","comments":"","instanceIdentifier":"f83abfcc-b5b3-34fa-6a4f-7e1ea6016c27"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"8a0d00e4-729f-327f-9575-321247ea973f","instanceIdentifier":"481130f6-ac33-3e47-ee01-f76c06439102","name":"","source":{"id":"7ba9f234-b952-3dd8-8249-715331399bb9","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"195cd743-38c4-313f-740f-f6fe1bffd379"},"destination":{"id":"feec6feb-121f-33df-b53d-cee70c859ddc","type":"FUNNEL","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Funnel","comments":"","instanceIdentifier":"f83abfcc-b5b3-34fa-6a4f-7e1ea6016c27"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"0bd9c1ec-6ba2-3feb-9e1e-7e53c7e99cc7","instanceIdentifier":"31dc5da3-71ab-3394-be35-febd363417f6","name":"","source":{"id":"8d52a96b-80bf-3be4-ad01-55ab5bf0c8ba","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"GetHTTP-site_to_site","comments":"","instanceIdentifier":"fcc3a6b2-c577-34ad-9228-a4f789e27b75"},"destination":{"id":"38ae2ec7-5e9f-3be0-85c8-e5ded6ddc73d","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"eb911464-7ab9-3d93-1ed6-56a509adc1b4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"72e45bf8-70ef-3809-8430-ba9156d2007f","instanceIdentifier":"322dcfcd-b3f8-3ac5-bf1d-44d7c2958c5b","name":"","source":{"id":"db9f14bd-5d60-3b2c-957f-0023ccd669fc","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"GetHTTP-flow_status","comments":"","instanceIdentifier":"a6c8e5f4-5393-3fe0-0e2c-e1dfdfd371a5"},"destination":{"id":"f057f8e0-3d6a-39d8-91b0-83d1ad8f2a83","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"34ddc7f6-a429-3b80-2d07-32cd9ab49b65"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"7a404d51-1db8-3921-ba09-0f057e2a3323","instanceIdentifier":"cc1aeaf8-fc2e-3335-6a33-911f4ca1a523","name":"","source":{"id":"e3fc2b30-d233-35ca-a7f2-cdf768a1993a","type":"OUTPUT_PORT","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"out_processgroup_status_history","instanceIdentifier":"8a81325d-e4a2-3ba7-215b-91d9d45a9082"},"destination":{"id":"7ba9f234-b952-3dd8-8249-715331399bb9","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"195cd743-38c4-313f-740f-f6fe1bffd379"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"efc8a424-9d9f-31d7-b6c9-a4b0b4fd565a","instanceIdentifier":"4e7036a6-cd23-3077-69fd-396eda6c0a7f","name":"","source":{"id":"fcaa8186-1e69-3eda-8b5e-e7c21905645f","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"86fe1a6a-7204-31cf-e885-d54bee7c6b5a"},"destination":{"id":"feec6feb-121f-33df-b53d-cee70c859ddc","type":"FUNNEL","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Funnel","comments":"","instanceIdentifier":"f83abfcc-b5b3-34fa-6a4f-7e1ea6016c27"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"fad0e424-5839-3668-b968-679389f650b7","instanceIdentifier":"f1366a0f-7af7-3759-e3c8-5148eea40b80","name":"","source":{"id":"1371ddab-cfdc-309e-9127-0bea6d31b3c2","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"GetHTTP-system_diagnostics","comments":"","instanceIdentifier":"9780c646-802e-30a2-60e3-de5bdb3927a0"},"destination":{"id":"fcaa8186-1e69-3eda-8b5e-e7c21905645f","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"86fe1a6a-7204-31cf-e885-d54bee7c6b5a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"237f7b54-89d9-32a7-8f63-b0f561a72312","instanceIdentifier":"22648049-8f41-3348-f245-6df49fd7fb77","name":"","source":{"id":"feec6feb-121f-33df-b53d-cee70c859ddc","type":"FUNNEL","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Funnel","comments":"","instanceIdentifier":"f83abfcc-b5b3-34fa-6a4f-7e1ea6016c27"},"destination":{"id":"0b15d067-df10-3c52-9ad7-5eeefac12b96","type":"OUTPUT_PORT","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"output_api","comments":"","instanceIdentifier":"b4cb4823-773d-3f2d-99ef-75245c4b5ba0"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"}],"labels":[],"funnels":[{"identifier":"feec6feb-121f-33df-b53d-cee70c859ddc","instanceIdentifier":"f83abfcc-b5b3-34fa-6a4f-7e1ea6016c27","position":{"x":760.0,"y":-64.0},"componentType":"FUNNEL","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"}],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"39594cfa-e9b3-3ea4-8770-1b4934813a47"},{"identifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","instanceIdentifier":"f0bcf35b-3ab2-366a-cc64-a392b1066461","name":"Monitoring - Logs","comments":"","position":{"x":472.0,"y":392.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"4a012b1c-5e33-3b43-91b2-e6d5731533bf","instanceIdentifier":"65d91455-20e7-3ab5-a3f8-d750d3969f98","name":"Set-Splunk_variables","comments":"","position":{"x":2368.0,"y":112.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.23.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sourcetype":"nifi:log:app","source":"nifi_app_${now():toNumber():format('yyyyMMddHHmmss')}.log","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sourcetype":{"name":"sourcetype","displayName":"sourcetype","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"cdecc426-2e15-39d4-823a-16214b5f0ef6","instanceIdentifier":"d96dab4c-2845-35cb-401c-cdb674c4f13a","name":"ReadLogsNifi","comments":"","position":{"x":416.0,"y":296.0},"type":"org.apache.nifi.processors.standard.TailFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"tailfile-recursive-lookup":"false","File Location":"Local","Line Start Pattern":null,"Rolling Filename Pattern":null,"Initial Start Position":"Beginning of File","pre-allocated-buffer-size":"65536 B","Post-Rollover Tail Period":"0 sec","tail-base-directory":"${nifi_path}logs","reread-on-nul":"false","tailfile-maximum-age":"1 hours","Max Buffer Size":"64 KB","File to Tail":"nifi\\-.*","tailfile-lookup-frequency":"10 minutes","tail-mode":"Multiple files"},"propertyDescriptors":{"tailfile-recursive-lookup":{"name":"tailfile-recursive-lookup","displayName":"Recursive lookup","identifiesControllerService":false,"sensitive":false},"File Location":{"name":"File Location","displayName":"State Location","identifiesControllerService":false,"sensitive":false},"Line Start Pattern":{"name":"Line Start Pattern","displayName":"Line Start Pattern","identifiesControllerService":false,"sensitive":false},"Rolling Filename Pattern":{"name":"Rolling Filename Pattern","displayName":"Rolling Filename Pattern","identifiesControllerService":false,"sensitive":false},"Initial Start Position":{"name":"Initial Start Position","displayName":"Initial Start Position","identifiesControllerService":false,"sensitive":false},"pre-allocated-buffer-size":{"name":"pre-allocated-buffer-size","displayName":"Pre-Allocated Buffer Size","identifiesControllerService":false,"sensitive":false},"Post-Rollover Tail Period":{"name":"Post-Rollover Tail Period","displayName":"Post-Rollover Tail Period","identifiesControllerService":false,"sensitive":false},"tail-base-directory":{"name":"tail-base-directory","displayName":"Base directory","identifiesControllerService":false,"sensitive":false},"reread-on-nul":{"name":"reread-on-nul","displayName":"Reread when NUL encountered","identifiesControllerService":false,"sensitive":false},"tailfile-maximum-age":{"name":"tailfile-maximum-age","displayName":"Maximum age","identifiesControllerService":false,"sensitive":false},"Max Buffer Size":{"name":"Max Buffer Size","displayName":"Max Buffer Size","identifiesControllerService":false,"sensitive":false},"File to Tail":{"name":"File to Tail","displayName":"File(s) to Tail","identifiesControllerService":false,"sensitive":false},"tailfile-lookup-frequency":{"name":"tailfile-lookup-frequency","displayName":"Lookup frequency","identifiesControllerService":false,"sensitive":false},"tail-mode":{"name":"tail-mode","displayName":"Tailing mode","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"3 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"2611bfca-fb8c-3665-a671-451975c74b60","instanceIdentifier":"b0aba1e9-0217-32ce-cf91-1d486c655931","name":"RouteLogsNifi","comments":"","position":{"x":1104.0,"y":296.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"nifi-bootstrap":"${filename:contains('nifi-bootstrap')}","Routing Strategy":"Route to Property name","nifi-user":"${filename:contains('nifi-user')}","nifi-app":"${filename:contains('nifi-app')}"},"propertyDescriptors":{"nifi-bootstrap":{"name":"nifi-bootstrap","displayName":"nifi-bootstrap","identifiesControllerService":false,"sensitive":false},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"nifi-user":{"name":"nifi-user","displayName":"nifi-user","identifiesControllerService":false,"sensitive":false},"nifi-app":{"name":"nifi-app","displayName":"nifi-app","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"f35d3730-e234-392e-b8e7-6fdbfeada841","instanceIdentifier":"50744520-06e0-33fa-8a95-0c0b88fd42b0","name":"Set-Splunk_variables","comments":"","position":{"x":2376.0,"y":464.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.23.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sourcetype":"nifi:log:bootstrap","source":"nifi_bootstrap_${now():toNumber():format('yyyyMMddHHmmss')}.log","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sourcetype":{"name":"sourcetype","displayName":"sourcetype","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"f7ddaf54-34aa-3e0c-a2c7-05b1eb792317","instanceIdentifier":"e8414aad-253e-3b63-460d-72df0fdf088e","name":"Set-Splunk_variables","comments":"","position":{"x":2368.0,"y":280.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.23.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sourcetype":"nifi:log:user","source":"nifi_user_${now():toNumber():format('yyyyMMddHHmmss')}.log","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sourcetype":{"name":"sourcetype","displayName":"sourcetype","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"519eca8e-29e4-3d02-81b1-d78c4af5f1fc","instanceIdentifier":"b393d938-45fe-3c59-f719-de3eed8f5b63","name":"nifi-app","comments":"","position":{"x":1720.0,"y":120.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"22a10724-4dd1-35ef-98d3-257057f060fb","instanceIdentifier":"15666152-f3e2-397e-d289-1764ed766734","name":"nifi-user","comments":"","position":{"x":1728.0,"y":288.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"76030cc2-2b49-37ab-a02b-7451013e4631","instanceIdentifier":"aaaadfdd-e098-3823-edb7-51ffc7914443","name":"nifi-bootstrap","comments":"","position":{"x":1728.0,"y":464.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"}],"inputPorts":[],"outputPorts":[{"identifier":"b0934613-cc35-3ec9-b2a3-8840e7883f0e","instanceIdentifier":"1e20e4b4-f2eb-370b-676f-d1c83204c82c","name":"output_logs","comments":"","position":{"x":3456.0,"y":320.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"}],"connections":[{"identifier":"39c4d0dc-43f2-3e90-9777-d23280072e75","instanceIdentifier":"9e242ee8-61b6-3ee9-8a53-fa08b274e52a","name":"","source":{"id":"cdecc426-2e15-39d4-823a-16214b5f0ef6","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"ReadLogsNifi","comments":"","instanceIdentifier":"d96dab4c-2845-35cb-401c-cdb674c4f13a"},"destination":{"id":"2611bfca-fb8c-3665-a671-451975c74b60","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"RouteLogsNifi","comments":"","instanceIdentifier":"b0aba1e9-0217-32ce-cf91-1d486c655931"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"5a51004f-0059-3d8a-8c5b-b3734a399820","instanceIdentifier":"2c30a764-afe8-37a6-5c60-a221f12d468f","name":"","source":{"id":"f35d3730-e234-392e-b8e7-6fdbfeada841","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"50744520-06e0-33fa-8a95-0c0b88fd42b0"},"destination":{"id":"ce2e0761-c424-3dad-a3a6-281503d0a293","type":"FUNNEL","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Funnel","comments":"","instanceIdentifier":"c1cf786d-b302-3cf8-a345-12df16af251c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"9c9d78ac-b569-346f-91f4-db9f30ae6dc0","instanceIdentifier":"1be54f2a-f0a8-3f5b-7b11-53c76423e6bb","name":"","source":{"id":"4a012b1c-5e33-3b43-91b2-e6d5731533bf","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"65d91455-20e7-3ab5-a3f8-d750d3969f98"},"destination":{"id":"ce2e0761-c424-3dad-a3a6-281503d0a293","type":"FUNNEL","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Funnel","comments":"","instanceIdentifier":"c1cf786d-b302-3cf8-a345-12df16af251c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"99cdcf0f-6458-30e3-91b7-b26ee1ef25b9","instanceIdentifier":"ec5fc5d7-b758-3aff-5f06-f8b4619e7a44","name":"","source":{"id":"f7ddaf54-34aa-3e0c-a2c7-05b1eb792317","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"e8414aad-253e-3b63-460d-72df0fdf088e"},"destination":{"id":"ce2e0761-c424-3dad-a3a6-281503d0a293","type":"FUNNEL","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Funnel","comments":"","instanceIdentifier":"c1cf786d-b302-3cf8-a345-12df16af251c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"30d5182e-fe5f-3160-a9cb-26603ba3064f","instanceIdentifier":"7c29c76c-2cd8-39fd-8d79-9f1b1a736a95","name":"","source":{"id":"76030cc2-2b49-37ab-a02b-7451013e4631","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"nifi-bootstrap","comments":"","instanceIdentifier":"aaaadfdd-e098-3823-edb7-51ffc7914443"},"destination":{"id":"f35d3730-e234-392e-b8e7-6fdbfeada841","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"50744520-06e0-33fa-8a95-0c0b88fd42b0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"67f63e0e-13e5-324f-9229-36ae9109dbbc","instanceIdentifier":"c7c598e0-c8b1-313c-a9c3-e0e8be949107","name":"","source":{"id":"519eca8e-29e4-3d02-81b1-d78c4af5f1fc","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"nifi-app","comments":"","instanceIdentifier":"b393d938-45fe-3c59-f719-de3eed8f5b63"},"destination":{"id":"4a012b1c-5e33-3b43-91b2-e6d5731533bf","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"65d91455-20e7-3ab5-a3f8-d750d3969f98"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"3dcb68de-3584-328a-9516-e53fff97e99f","instanceIdentifier":"d3360470-98a5-3ba8-3cc1-74c31353b46a","name":"","source":{"id":"2611bfca-fb8c-3665-a671-451975c74b60","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"RouteLogsNifi","comments":"","instanceIdentifier":"b0aba1e9-0217-32ce-cf91-1d486c655931"},"destination":{"id":"76030cc2-2b49-37ab-a02b-7451013e4631","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"nifi-bootstrap","comments":"","instanceIdentifier":"aaaadfdd-e098-3823-edb7-51ffc7914443"},"labelIndex":1,"zIndex":0,"selectedRelationships":["nifi-bootstrap"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"8480415f-9558-392f-a9d6-3fc8b57da4f6","instanceIdentifier":"4473b06a-43e5-3f24-f01f-71167f24de66","name":"","source":{"id":"2611bfca-fb8c-3665-a671-451975c74b60","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"RouteLogsNifi","comments":"","instanceIdentifier":"b0aba1e9-0217-32ce-cf91-1d486c655931"},"destination":{"id":"22a10724-4dd1-35ef-98d3-257057f060fb","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"nifi-user","comments":"","instanceIdentifier":"15666152-f3e2-397e-d289-1764ed766734"},"labelIndex":1,"zIndex":0,"selectedRelationships":["nifi-user"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"4862ed6c-11c7-3485-b9e2-bcb6b524a698","instanceIdentifier":"91f8243d-8d76-308b-389c-d6a701748f90","name":"","source":{"id":"22a10724-4dd1-35ef-98d3-257057f060fb","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"nifi-user","comments":"","instanceIdentifier":"15666152-f3e2-397e-d289-1764ed766734"},"destination":{"id":"f7ddaf54-34aa-3e0c-a2c7-05b1eb792317","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"e8414aad-253e-3b63-460d-72df0fdf088e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"49e153b7-e19e-39e5-b9d1-7d342d22fb13","instanceIdentifier":"b524487e-f250-3a13-7742-e78ca60e7a47","name":"","source":{"id":"ce2e0761-c424-3dad-a3a6-281503d0a293","type":"FUNNEL","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Funnel","comments":"","instanceIdentifier":"c1cf786d-b302-3cf8-a345-12df16af251c"},"destination":{"id":"b0934613-cc35-3ec9-b2a3-8840e7883f0e","type":"OUTPUT_PORT","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"output_logs","comments":"","instanceIdentifier":"1e20e4b4-f2eb-370b-676f-d1c83204c82c"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"e1efa745-81fa-30b6-901d-1d50f268c56e","instanceIdentifier":"da2866e5-990e-354d-4d7a-6e104f459160","name":"","source":{"id":"2611bfca-fb8c-3665-a671-451975c74b60","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"RouteLogsNifi","comments":"","instanceIdentifier":"b0aba1e9-0217-32ce-cf91-1d486c655931"},"destination":{"id":"519eca8e-29e4-3d02-81b1-d78c4af5f1fc","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"nifi-app","comments":"","instanceIdentifier":"b393d938-45fe-3c59-f719-de3eed8f5b63"},"labelIndex":1,"zIndex":0,"selectedRelationships":["nifi-app"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"}],"labels":[],"funnels":[{"identifier":"ce2e0761-c424-3dad-a3a6-281503d0a293","instanceIdentifier":"c1cf786d-b302-3cf8-a345-12df16af251c","position":{"x":3080.0,"y":320.0},"componentType":"FUNNEL","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"}],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"39594cfa-e9b3-3ea4-8770-1b4934813a47"},{"identifier":"773a63cf-45da-393e-a613-f641fb34fa60","instanceIdentifier":"a6d79e04-1545-3cc8-a811-d2612274043a","name":"SendHEC","comments":"","position":{"x":1528.0,"y":408.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"8349b09f-8d76-3cd5-86bb-17ccb1cfb0df","instanceIdentifier":"03218d07-dfe2-3112-403f-bc6ee64a1e91","name":"RetryFlowFile","comments":"","position":{"x":696.0,"y":64.0},"type":"org.apache.nifi.processors.standard.RetryFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"penalize-retries":"true","maximum-retries":"3","Fail on Non-numerical Overwrite":"false","reuse-mode":"fail","retry-attribute":"flowfile.retries"},"propertyDescriptors":{"penalize-retries":{"name":"penalize-retries","displayName":"Penalize Retries","identifiesControllerService":false,"sensitive":false},"maximum-retries":{"name":"maximum-retries","displayName":"Maximum Retries","identifiesControllerService":false,"sensitive":false},"Fail on Non-numerical Overwrite":{"name":"Fail on Non-numerical Overwrite","displayName":"Fail on Non-numerical Overwrite","identifiesControllerService":false,"sensitive":false},"reuse-mode":{"name":"reuse-mode","displayName":"Reuse Mode","identifiesControllerService":false,"sensitive":false},"retry-attribute":{"name":"retry-attribute","displayName":"Retry Attribute","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"773a63cf-45da-393e-a613-f641fb34fa60"},{"identifier":"b3287b68-f5e6-3776-a833-754f06252af1","instanceIdentifier":"8825f63c-f1a0-3af4-d5b0-e6cd31816d5c","name":"Send2Splunk-HEC","comments":"","position":{"x":684.0000043888822,"y":303.0000145411145},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","Authorization":"Splunk ${splunk_hec_token}","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"${splunk_hec}/services/collector/raw?sourcetype=${sourcetype}&host=${hostname(true)}&source=${source}","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"10","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":"curl/7.29.0"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"Authorization":{"name":"Authorization","displayName":"Authorization","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":3,"autoTerminatedRelationships":["Response","No Retry","Retry","Original"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"773a63cf-45da-393e-a613-f641fb34fa60"},{"identifier":"0b159b10-2a2c-3fb8-b661-8597a1f32c2a","instanceIdentifier":"e40cbdb3-d219-3b91-495b-d986ad9677fb","name":"LogMessage","comments":"","position":{"x":1464.0,"y":64.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"log-message":"Error to send data to SPLUNK with HEC-Nifi","log-level":"error","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"773a63cf-45da-393e-a613-f641fb34fa60"}],"inputPorts":[{"identifier":"586ff88c-b1ed-31da-9628-f46a6a6dd81f","instanceIdentifier":"fb0b1d8e-07c1-3ed9-fd84-09e88d58bf47","name":"HEC_Connect","comments":"","position":{"x":80.0,"y":352.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"773a63cf-45da-393e-a613-f641fb34fa60"}],"outputPorts":[],"connections":[{"identifier":"71a99165-08ca-3965-8a1c-ebea2d950794","instanceIdentifier":"97ea7b7a-2770-3f18-91ea-41faf0f9dc07","name":"","source":{"id":"586ff88c-b1ed-31da-9628-f46a6a6dd81f","type":"INPUT_PORT","groupId":"773a63cf-45da-393e-a613-f641fb34fa60","name":"HEC_Connect","comments":"","instanceIdentifier":"fb0b1d8e-07c1-3ed9-fd84-09e88d58bf47"},"destination":{"id":"b3287b68-f5e6-3776-a833-754f06252af1","type":"PROCESSOR","groupId":"773a63cf-45da-393e-a613-f641fb34fa60","name":"Send2Splunk-HEC","comments":"","instanceIdentifier":"8825f63c-f1a0-3af4-d5b0-e6cd31816d5c"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"773a63cf-45da-393e-a613-f641fb34fa60"},{"identifier":"b9a94a16-b378-38a8-8662-d68b9f9ca6eb","instanceIdentifier":"48bd4b4b-e068-3847-dca8-bb398d9eea58","name":"","source":{"id":"b3287b68-f5e6-3776-a833-754f06252af1","type":"PROCESSOR","groupId":"773a63cf-45da-393e-a613-f641fb34fa60","name":"Send2Splunk-HEC","comments":"","instanceIdentifier":"8825f63c-f1a0-3af4-d5b0-e6cd31816d5c"},"destination":{"id":"8349b09f-8d76-3cd5-86bb-17ccb1cfb0df","type":"PROCESSOR","groupId":"773a63cf-45da-393e-a613-f641fb34fa60","name":"RetryFlowFile","comments":"","instanceIdentifier":"03218d07-dfe2-3112-403f-bc6ee64a1e91"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1200.0,"y":240.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"773a63cf-45da-393e-a613-f641fb34fa60"},{"identifier":"c9bb8cf5-8d3e-38b5-bc1f-2d999322b804","instanceIdentifier":"1e665016-c2fe-3aa0-db67-3ac76ace0b7e","name":"","source":{"id":"8349b09f-8d76-3cd5-86bb-17ccb1cfb0df","type":"PROCESSOR","groupId":"773a63cf-45da-393e-a613-f641fb34fa60","name":"RetryFlowFile","comments":"","instanceIdentifier":"03218d07-dfe2-3112-403f-bc6ee64a1e91"},"destination":{"id":"b3287b68-f5e6-3776-a833-754f06252af1","type":"PROCESSOR","groupId":"773a63cf-45da-393e-a613-f641fb34fa60","name":"Send2Splunk-HEC","comments":"","instanceIdentifier":"8825f63c-f1a0-3af4-d5b0-e6cd31816d5c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":576.0,"y":248.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"773a63cf-45da-393e-a613-f641fb34fa60"},{"identifier":"b8fca19c-8925-3b93-81f7-8b44315ceac8","instanceIdentifier":"882fe922-94df-3bf1-54a4-466c87a66c2e","name":"","source":{"id":"8349b09f-8d76-3cd5-86bb-17ccb1cfb0df","type":"PROCESSOR","groupId":"773a63cf-45da-393e-a613-f641fb34fa60","name":"RetryFlowFile","comments":"","instanceIdentifier":"03218d07-dfe2-3112-403f-bc6ee64a1e91"},"destination":{"id":"0b159b10-2a2c-3fb8-b661-8597a1f32c2a","type":"PROCESSOR","groupId":"773a63cf-45da-393e-a613-f641fb34fa60","name":"LogMessage","comments":"","instanceIdentifier":"e40cbdb3-d219-3b91-495b-d986ad9677fb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["retries_exceeded"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"773a63cf-45da-393e-a613-f641fb34fa60"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"39594cfa-e9b3-3ea4-8770-1b4934813a47"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"f9372630-7b42-393c-a13a-2a3e23f74b98","instanceIdentifier":"1f6963c3-fbc2-3505-e49a-4a7ab8cecadb","name":"","source":{"id":"ae75456f-87bf-3b36-8486-39cb7524995b","type":"OUTPUT_PORT","groupId":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","name":"output_reporting","comments":"","instanceIdentifier":"faf15bf2-fe15-3487-41a2-2a87218b6d76"},"destination":{"id":"810fa907-ffe4-3748-9ee3-60ada51290f2","type":"FUNNEL","groupId":"39594cfa-e9b3-3ea4-8770-1b4934813a47","name":"Funnel","comments":"","instanceIdentifier":"f86c8874-7ea8-3936-1d82-66ebbd18b579"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"39594cfa-e9b3-3ea4-8770-1b4934813a47"},{"identifier":"7d810b1c-63ee-34f6-a92f-063e65645a42","instanceIdentifier":"6fa5d5d9-afe3-3c7c-e06f-c6fca87e9acf","name":"","source":{"id":"b0934613-cc35-3ec9-b2a3-8840e7883f0e","type":"OUTPUT_PORT","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"output_logs","comments":"","instanceIdentifier":"1e20e4b4-f2eb-370b-676f-d1c83204c82c"},"destination":{"id":"810fa907-ffe4-3748-9ee3-60ada51290f2","type":"FUNNEL","groupId":"39594cfa-e9b3-3ea4-8770-1b4934813a47","name":"Funnel","comments":"","instanceIdentifier":"f86c8874-7ea8-3936-1d82-66ebbd18b579"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"39594cfa-e9b3-3ea4-8770-1b4934813a47"},{"identifier":"aef67ee3-415e-3277-8d4d-2eed8a088011","instanceIdentifier":"c306f487-0def-3b6d-66e1-2f61ffca76ec","name":"","source":{"id":"0b15d067-df10-3c52-9ad7-5eeefac12b96","type":"OUTPUT_PORT","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"output_api","comments":"","instanceIdentifier":"b4cb4823-773d-3f2d-99ef-75245c4b5ba0"},"destination":{"id":"810fa907-ffe4-3748-9ee3-60ada51290f2","type":"FUNNEL","groupId":"39594cfa-e9b3-3ea4-8770-1b4934813a47","name":"Funnel","comments":"","instanceIdentifier":"f86c8874-7ea8-3936-1d82-66ebbd18b579"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"39594cfa-e9b3-3ea4-8770-1b4934813a47"},{"identifier":"610a00d7-83f6-3f13-8339-c519e3346501","instanceIdentifier":"28282a51-bfed-3af4-a571-2385bfb3de58","name":"","source":{"id":"810fa907-ffe4-3748-9ee3-60ada51290f2","type":"FUNNEL","groupId":"39594cfa-e9b3-3ea4-8770-1b4934813a47","name":"Funnel","comments":"","instanceIdentifier":"f86c8874-7ea8-3936-1d82-66ebbd18b579"},"destination":{"id":"586ff88c-b1ed-31da-9628-f46a6a6dd81f","type":"INPUT_PORT","groupId":"773a63cf-45da-393e-a613-f641fb34fa60","name":"HEC_Connect","comments":"","instanceIdentifier":"fb0b1d8e-07c1-3ed9-fd84-09e88d58bf47"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"39594cfa-e9b3-3ea4-8770-1b4934813a47"}],"labels":[],"funnels":[{"identifier":"810fa907-ffe4-3748-9ee3-60ada51290f2","instanceIdentifier":"f86c8874-7ea8-3936-1d82-66ebbd18b579","position":{"x":1200.0,"y":480.0},"componentType":"FUNNEL","groupIdentifier":"39594cfa-e9b3-3ea4-8770-1b4934813a47"}],"controllerServices":[],"variables":{"splunk_hec_token":"<insert_value>","processors_list":"<insert_value>","splunk_hec":"<insert_value>","process_groups_list":"<insert_value>","nifi_path":"<insert_value>","nifi_api_url":"<insert_value>"},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}