flow_definition/NifiMonitoringTemplate.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>7438d8f1-0186-1000-8b82-3441a4bcc707</groupId>
    <name>NifiMonitoringTemplate1.2.0</name>
    <snippet>
        <processGroups>
            <id>64a13363-0e30-3725-0000-000000000000</id>
            <parentGroupId>0d43e682-eae6-37a8-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>64a13363-0e30-3725-840e-b61640cd2cfe</versionedComponentId>
            <comments></comments>
            <contents>
                <connections>
                    <id>0b8f0c6a-09a4-3f87-0000-000000000000</id>
                    <parentGroupId>64a13363-0e30-3725-0000-000000000000</parentGroupId>
                    <versionedComponentId>7d810b1c-63ee-34f6-a92f-063e65645a42</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>64a13363-0e30-3725-0000-000000000000</groupId>
                        <id>ae8fe587-4e8b-3e56-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>810fa907-ffe4-3748-9ee3-60ada51290f2</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>49b8087b-1dc7-3a89-0000-000000000000</groupId>
                        <id>3aba1ea4-fb9a-369e-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>b0934613-cc35-3ec9-b2a3-8840e7883f0e</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>13ffe6db-b52e-3391-0000-000000000000</id>
                    <parentGroupId>64a13363-0e30-3725-0000-000000000000</parentGroupId>
                    <versionedComponentId>f9372630-7b42-393c-a13a-2a3e23f74b98</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>64a13363-0e30-3725-0000-000000000000</groupId>
                        <id>ae8fe587-4e8b-3e56-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>810fa907-ffe4-3748-9ee3-60ada51290f2</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>a93eda33-4356-355d-0000-000000000000</groupId>
                        <id>c3775144-c28d-3364-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>ae75456f-87bf-3b36-8486-39cb7524995b</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>51b89750-6a6a-368e-0000-000000000000</id>
                    <parentGroupId>64a13363-0e30-3725-0000-000000000000</parentGroupId>
                    <versionedComponentId>aef67ee3-415e-3277-8d4d-2eed8a088011</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>64a13363-0e30-3725-0000-000000000000</groupId>
                        <id>ae8fe587-4e8b-3e56-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>810fa907-ffe4-3748-9ee3-60ada51290f2</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>4f5a638a-f3dc-3f32-0000-000000000000</groupId>
                        <id>6c23e3ee-fac1-3697-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>0b15d067-df10-3c52-9ad7-5eeefac12b96</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>becc23d3-42d8-3d45-0000-000000000000</id>
                    <parentGroupId>64a13363-0e30-3725-0000-000000000000</parentGroupId>
                    <versionedComponentId>610a00d7-83f6-3f13-8339-c519e3346501</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>326c8e6f-2916-3351-0000-000000000000</groupId>
                        <id>56843294-a655-31e9-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                        <versionedComponentId>586ff88c-b1ed-31da-9628-f46a6a6dd81f</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>64a13363-0e30-3725-0000-000000000000</groupId>
                        <id>ae8fe587-4e8b-3e56-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>810fa907-ffe4-3748-9ee3-60ada51290f2</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <funnels>
                    <id>ae8fe587-4e8b-3e56-0000-000000000000</id>
                    <parentGroupId>64a13363-0e30-3725-0000-000000000000</parentGroupId>
                    <position>
                        <x>1200.0</x>
                        <y>480.0</y>
                    </position>
                    <versionedComponentId>810fa907-ffe4-3748-9ee3-60ada51290f2</versionedComponentId>
                </funnels>
                <processGroups>
                    <id>326c8e6f-2916-3351-0000-000000000000</id>
                    <parentGroupId>64a13363-0e30-3725-0000-000000000000</parentGroupId>
                    <position>
                        <x>1528.0</x>
                        <y>408.0</y>
                    </position>
                    <versionedComponentId>773a63cf-45da-393e-a613-f641fb34fa60</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>1a8e2e44-30e7-3841-0000-000000000000</id>
                            <parentGroupId>326c8e6f-2916-3351-0000-000000000000</parentGroupId>
                            <versionedComponentId>b8fca19c-8925-3b93-81f7-8b44315ceac8</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>326c8e6f-2916-3351-0000-000000000000</groupId>
<id>2f6b8a8c-a465-320d-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>0b159b10-2a2c-3fb8-b661-8597a1f32c2a</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>retries_exceeded</selectedRelationships>
                            <source>
<groupId>326c8e6f-2916-3351-0000-000000000000</groupId>
<id>4ef4a24b-3bc5-3b5c-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>8349b09f-8d76-3cd5-86bb-17ccb1cfb0df</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>2549ef21-64dd-3739-0000-000000000000</id>
                            <parentGroupId>326c8e6f-2916-3351-0000-000000000000</parentGroupId>
                            <versionedComponentId>b9a94a16-b378-38a8-8662-d68b9f9ca6eb</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>1200.0</x>
<y>240.0</y>
                            </bends>
                            <destination>
<groupId>326c8e6f-2916-3351-0000-000000000000</groupId>
<id>4ef4a24b-3bc5-3b5c-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>8349b09f-8d76-3cd5-86bb-17ccb1cfb0df</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>0</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Failure</selectedRelationships>
                            <source>
<groupId>326c8e6f-2916-3351-0000-000000000000</groupId>
<id>2f625e13-ee38-3b52-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>b3287b68-f5e6-3776-a833-754f06252af1</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>a9bc71b3-6850-3a0d-0000-000000000000</id>
                            <parentGroupId>326c8e6f-2916-3351-0000-000000000000</parentGroupId>
                            <versionedComponentId>71a99165-08ca-3965-8a1c-ebea2d950794</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>326c8e6f-2916-3351-0000-000000000000</groupId>
<id>2f625e13-ee38-3b52-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>b3287b68-f5e6-3776-a833-754f06252af1</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>326c8e6f-2916-3351-0000-000000000000</groupId>
<id>56843294-a655-31e9-0000-000000000000</id>
<type>INPUT_PORT</type>
<versionedComponentId>586ff88c-b1ed-31da-9628-f46a6a6dd81f</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>f8f76e01-6635-3b6f-0000-000000000000</id>
                            <parentGroupId>326c8e6f-2916-3351-0000-000000000000</parentGroupId>
                            <versionedComponentId>c9bb8cf5-8d3e-38b5-bc1f-2d999322b804</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>576.0</x>
<y>248.0</y>
                            </bends>
                            <destination>
<groupId>326c8e6f-2916-3351-0000-000000000000</groupId>
<id>2f625e13-ee38-3b52-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>b3287b68-f5e6-3776-a833-754f06252af1</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>retry</selectedRelationships>
                            <source>
<groupId>326c8e6f-2916-3351-0000-000000000000</groupId>
<id>4ef4a24b-3bc5-3b5c-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>8349b09f-8d76-3cd5-86bb-17ccb1cfb0df</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <inputPorts>
                            <id>56843294-a655-31e9-0000-000000000000</id>
                            <parentGroupId>326c8e6f-2916-3351-0000-000000000000</parentGroupId>
                            <position>
<x>80.0</x>
<y>352.0</y>
                            </position>
                            <versionedComponentId>586ff88c-b1ed-31da-9628-f46a6a6dd81f</versionedComponentId>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>HEC_Connect</name>
                            <state>STOPPED</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <processors>
                            <id>2f625e13-ee38-3b52-0000-000000000000</id>
                            <parentGroupId>326c8e6f-2916-3351-0000-000000000000</parentGroupId>
                            <position>
<x>684.0000043888822</x>
<y>303.0000145411145</y>
                            </position>
                            <versionedComponentId>b3287b68-f5e6-3776-a833-754f06252af1</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.19.1</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>3</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>HTTP Method</key>
        <value>
            <name>HTTP Method</name>
        </value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>
            <name>Remote URL</name>
        </value>
    </entry>
    <entry>
        <key>disable-http2</key>
        <value>
            <name>disable-http2</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>
            <name>Connection Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>
            <name>Read Timeout</name>
        </value>
    </entry>
    <entry>
        <key>idle-timeout</key>
        <value>
            <name>idle-timeout</name>
        </value>
    </entry>
    <entry>
        <key>max-idle-connections</key>
        <value>
            <name>max-idle-connections</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host</key>
        <value>
            <name>Proxy Host</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Port</key>
        <value>
            <dependencies>
                <propertyName>Proxy Host</propertyName>
            </dependencies>
            <name>Proxy Port</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>
            <dependencies>
                <propertyName>Proxy Host</propertyName>
            </dependencies>
            <name>Proxy Type</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
        <value>
            <dependencies>
                <propertyName>Proxy Host</propertyName>
            </dependencies>
            <name>invokehttp-proxy-user</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
        <value>
            <dependencies>
                <propertyName>Proxy Host</propertyName>
            </dependencies>
            <name>invokehttp-proxy-password</name>
        </value>
    </entry>
    <entry>
        <key>oauth2-access-token-provider</key>
        <value>
            <identifiesControllerService>org.apache.nifi.oauth2.OAuth2AccessTokenProvider</identifiesControllerService>
            <name>oauth2-access-token-provider</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
        <value>
            <name>Basic Authentication Username</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
        <value>
            <name>Basic Authentication Password</name>
        </value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>
            <dependencies>
                <propertyName>Basic Authentication Username</propertyName>
            </dependencies>
            <name>Digest Authentication</name>
        </value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>
            <name>Penalize on "No Retry"</name>
        </value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>
            <dependencies>
                <dependentValues>POST</dependentValues>
                <dependentValues>PATCH</dependentValues>
                <dependentValues>PUT</dependentValues>
                <propertyName>HTTP Method</propertyName>
            </dependencies>
            <name>send-message-body</name>
        </value>
    </entry>
    <entry>
        <key>form-body-form-name</key>
        <value>
            <dependencies>
                <dependentValues>true</dependentValues>
                <propertyName>send-message-body</propertyName>
            </dependencies>
            <name>form-body-form-name</name>
        </value>
    </entry>
    <entry>
        <key>set-form-filename</key>
        <value>
            <dependencies>
                <propertyName>form-body-form-name</propertyName>
            </dependencies>
            <name>set-form-filename</name>
        </value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>
            <dependencies>
                <dependentValues>POST</dependentValues>
                <dependentValues>PATCH</dependentValues>
                <dependentValues>PUT</dependentValues>
                <propertyName>HTTP Method</propertyName>
            </dependencies>
            <name>Use Chunked Encoding</name>
        </value>
    </entry>
    <entry>
        <key>Content-Encoding</key>
        <value>
            <dependencies>
                <dependentValues>POST</dependentValues>
                <dependentValues>PATCH</dependentValues>
                <dependentValues>PUT</dependentValues>
                <propertyName>HTTP Method</propertyName>
            </dependencies>
            <name>Content-Encoding</name>
        </value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>
            <dependencies>
                <dependentValues>POST</dependentValues>
                <dependentValues>PATCH</dependentValues>
                <dependentValues>PUT</dependentValues>
                <propertyName>HTTP Method</propertyName>
            </dependencies>
            <name>Content-Type</name>
        </value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>
            <name>Include Date Header</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
        <value>
            <name>Attributes to Send</name>
        </value>
    </entry>
    <entry>
        <key>Useragent</key>
        <value>
            <name>Useragent</name>
        </value>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
        <value>
            <name>Put Response Body In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>
            <dependencies>
                <propertyName>Put Response Body In Attribute</propertyName>
            </dependencies>
            <name>Max Length To Put In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>ignore-response-content</key>
        <value>
            <name>ignore-response-content</name>
        </value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>
            <name>use-etag</name>
        </value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>
            <dependencies>
                <dependentValues>true</dependentValues>
                <propertyName>use-etag</propertyName>
            </dependencies>
            <name>etag-max-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>cookie-strategy</key>
        <value>
            <name>cookie-strategy</name>
        </value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>
            <name>Always Output Response</name>
        </value>
    </entry>
    <entry>
        <key>flow-file-naming-strategy</key>
        <value>
            <name>flow-file-naming-strategy</name>
        </value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>
            <name>Add Response Headers to Request</name>
        </value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>
            <name>Follow Redirects</name>
        </value>
    </entry>
    <entry>
        <key>Authorization</key>
        <value>
            <name>Authorization</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>HTTP Method</key>
        <value>POST</value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>${splunk_hec}/services/collector/raw?sourcetype=${sourcetype}&amp;host=${hostname(true)}&amp;source=${source}</value>
    </entry>
    <entry>
        <key>disable-http2</key>
        <value>False</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>15 secs</value>
    </entry>
    <entry>
        <key>idle-timeout</key>
        <value>5 mins</value>
    </entry>
    <entry>
        <key>max-idle-connections</key>
        <value>10</value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
    </entry>
    <entry>
        <key>Proxy Host</key>
    </entry>
    <entry>
        <key>Proxy Port</key>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>http</value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
    </entry>
    <entry>
        <key>oauth2-access-token-provider</key>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>false</value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>true</value>
    </entry>
    <entry>
        <key>form-body-form-name</key>
    </entry>
    <entry>
        <key>set-form-filename</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Content-Encoding</key>
        <value>DISABLED</value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>${mime.type}</value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>True</value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
    </entry>
    <entry>
        <key>Useragent</key>
        <value>curl/7.29.0</value>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>256</value>
    </entry>
    <entry>
        <key>ignore-response-content</key>
        <value>false</value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>false</value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>10MB</value>
    </entry>
    <entry>
        <key>cookie-strategy</key>
        <value>DISABLED</value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>false</value>
    </entry>
    <entry>
        <key>flow-file-naming-strategy</key>
        <value>RANDOM</value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>True</value>
    </entry>
    <entry>
        <key>Authorization</key>
        <value>Splunk ${splunk_hec_token}</value>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Send2Splunk-HEC</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>No Retry</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Original</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Response</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Retry</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                        </processors>
                        <processors>
                            <id>2f6b8a8c-a465-320d-0000-000000000000</id>
                            <parentGroupId>326c8e6f-2916-3351-0000-000000000000</parentGroupId>
                            <position>
<x>1464.0</x>
<y>64.0</y>
                            </position>
                            <versionedComponentId>0b159b10-2a2c-3fb8-b661-8597a1f32c2a</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.19.1</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>log-level</key>
        <value>
            <name>log-level</name>
        </value>
    </entry>
    <entry>
        <key>log-prefix</key>
        <value>
            <name>log-prefix</name>
        </value>
    </entry>
    <entry>
        <key>log-message</key>
        <value>
            <name>log-message</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>log-level</key>
        <value>error</value>
    </entry>
    <entry>
        <key>log-prefix</key>
    </entry>
    <entry>
        <key>log-message</key>
        <value>Error to send data to SPLUNK with HEC-Nifi</value>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>LogMessage</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.LogMessage</type>
                        </processors>
                        <processors>
                            <id>4ef4a24b-3bc5-3b5c-0000-000000000000</id>
                            <parentGroupId>326c8e6f-2916-3351-0000-000000000000</parentGroupId>
                            <position>
<x>696.0</x>
<y>64.0</y>
                            </position>
                            <versionedComponentId>8349b09f-8d76-3cd5-86bb-17ccb1cfb0df</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.19.1</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>retry-attribute</key>
        <value>
            <name>retry-attribute</name>
        </value>
    </entry>
    <entry>
        <key>maximum-retries</key>
        <value>
            <name>maximum-retries</name>
        </value>
    </entry>
    <entry>
        <key>penalize-retries</key>
        <value>
            <name>penalize-retries</name>
        </value>
    </entry>
    <entry>
        <key>Fail on Non-numerical Overwrite</key>
        <value>
            <name>Fail on Non-numerical Overwrite</name>
        </value>
    </entry>
    <entry>
        <key>reuse-mode</key>
        <value>
            <name>reuse-mode</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>retry-attribute</key>
        <value>flowfile.retries</value>
    </entry>
    <entry>
        <key>maximum-retries</key>
        <value>3</value>
    </entry>
    <entry>
        <key>penalize-retries</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Fail on Non-numerical Overwrite</key>
        <value>false</value>
    </entry>
    <entry>
        <key>reuse-mode</key>
        <value>fail</value>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>RetryFlowFile</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>retries_exceeded</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>retry</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.RetryFlowFile</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>SendHEC</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>49b8087b-1dc7-3a89-0000-000000000000</id>
                    <parentGroupId>64a13363-0e30-3725-0000-000000000000</parentGroupId>
                    <position>
                        <x>472.0</x>
                        <y>392.0</y>
                    </position>
                    <versionedComponentId>853bbb21-0f61-3315-8cbd-9ec6c4aebeed</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>09333d48-ddaf-39e5-0000-000000000000</id>
                            <parentGroupId>49b8087b-1dc7-3a89-0000-000000000000</parentGroupId>
                            <versionedComponentId>67f63e0e-13e5-324f-9229-36ae9109dbbc</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>49b8087b-1dc7-3a89-0000-000000000000</groupId>
<id>bc9388d0-fcae-3930-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>4a012b1c-5e33-3b43-91b2-e6d5731533bf</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <prioritizers>org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer</prioritizers>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>49b8087b-1dc7-3a89-0000-000000000000</groupId>
<id>b5774014-4f73-38c8-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>519eca8e-29e4-3d02-81b1-d78c4af5f1fc</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>5bcbb204-1f21-3768-0000-000000000000</id>
                            <parentGroupId>49b8087b-1dc7-3a89-0000-000000000000</parentGroupId>
                            <versionedComponentId>4862ed6c-11c7-3485-b9e2-bcb6b524a698</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>49b8087b-1dc7-3a89-0000-000000000000</groupId>
<id>c9619dc2-9052-3c53-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>f7ddaf54-34aa-3e0c-a2c7-05b1eb792317</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <prioritizers>org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer</prioritizers>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>49b8087b-1dc7-3a89-0000-000000000000</groupId>
<id>4cd0e2ee-0630-3fb0-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>22a10724-4dd1-35ef-98d3-257057f060fb</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>5bcbc7af-1a9c-33a7-0000-000000000000</id>
                            <parentGroupId>49b8087b-1dc7-3a89-0000-000000000000</parentGroupId>
                            <versionedComponentId>30d5182e-fe5f-3160-a9cb-26603ba3064f</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>49b8087b-1dc7-3a89-0000-000000000000</groupId>
<id>e14ba35c-cbc8-3604-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>f35d3730-e234-392e-b8e7-6fdbfeada841</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <prioritizers>org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer</prioritizers>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>49b8087b-1dc7-3a89-0000-000000000000</groupId>
<id>275e23c8-2c67-3ef2-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>76030cc2-2b49-37ab-a02b-7451013e4631</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>64d616d3-3091-3e27-0000-000000000000</id>
                            <parentGroupId>49b8087b-1dc7-3a89-0000-000000000000</parentGroupId>
                            <versionedComponentId>8480415f-9558-392f-a9d6-3fc8b57da4f6</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>49b8087b-1dc7-3a89-0000-000000000000</groupId>
<id>4cd0e2ee-0630-3fb0-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>22a10724-4dd1-35ef-98d3-257057f060fb</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <prioritizers>org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer</prioritizers>
                            <selectedRelationships>nifi-user</selectedRelationships>
                            <source>
<groupId>49b8087b-1dc7-3a89-0000-000000000000</groupId>
<id>b8cda94f-174e-36e5-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>2611bfca-fb8c-3665-a671-451975c74b60</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>6de3cba1-37aa-39e1-0000-000000000000</id>
                            <parentGroupId>49b8087b-1dc7-3a89-0000-000000000000</parentGroupId>
                            <versionedComponentId>9c9d78ac-b569-346f-91f4-db9f30ae6dc0</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>49b8087b-1dc7-3a89-0000-000000000000</groupId>
<id>677e2a35-27c0-3baf-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>ce2e0761-c424-3dad-a3a6-281503d0a293</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <prioritizers>org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer</prioritizers>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>49b8087b-1dc7-3a89-0000-000000000000</groupId>
<id>bc9388d0-fcae-3930-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>4a012b1c-5e33-3b43-91b2-e6d5731533bf</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>83b68997-a7c0-3212-0000-000000000000</id>
                            <parentGroupId>49b8087b-1dc7-3a89-0000-000000000000</parentGroupId>
                            <versionedComponentId>e1efa745-81fa-30b6-901d-1d50f268c56e</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>49b8087b-1dc7-3a89-0000-000000000000</groupId>
<id>b5774014-4f73-38c8-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>519eca8e-29e4-3d02-81b1-d78c4af5f1fc</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <prioritizers>org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer</prioritizers>
                            <selectedRelationships>nifi-app</selectedRelationships>
                            <source>
<groupId>49b8087b-1dc7-3a89-0000-000000000000</groupId>
<id>b8cda94f-174e-36e5-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>2611bfca-fb8c-3665-a671-451975c74b60</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>9fc3e51d-5e0f-395a-0000-000000000000</id>
                            <parentGroupId>49b8087b-1dc7-3a89-0000-000000000000</parentGroupId>
                            <versionedComponentId>99cdcf0f-6458-30e3-91b7-b26ee1ef25b9</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>49b8087b-1dc7-3a89-0000-000000000000</groupId>
<id>677e2a35-27c0-3baf-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>ce2e0761-c424-3dad-a3a6-281503d0a293</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <prioritizers>org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer</prioritizers>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>49b8087b-1dc7-3a89-0000-000000000000</groupId>
<id>c9619dc2-9052-3c53-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>f7ddaf54-34aa-3e0c-a2c7-05b1eb792317</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>b33d5b7e-712d-331d-0000-000000000000</id>
                            <parentGroupId>49b8087b-1dc7-3a89-0000-000000000000</parentGroupId>
                            <versionedComponentId>49e153b7-e19e-39e5-b9d1-7d342d22fb13</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>49b8087b-1dc7-3a89-0000-000000000000</groupId>
<id>3aba1ea4-fb9a-369e-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>b0934613-cc35-3ec9-b2a3-8840e7883f0e</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>49b8087b-1dc7-3a89-0000-000000000000</groupId>
<id>677e2a35-27c0-3baf-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>ce2e0761-c424-3dad-a3a6-281503d0a293</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>bb2548a0-9c0e-3c35-0000-000000000000</id>
                            <parentGroupId>49b8087b-1dc7-3a89-0000-000000000000</parentGroupId>
                            <versionedComponentId>3dcb68de-3584-328a-9516-e53fff97e99f</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>49b8087b-1dc7-3a89-0000-000000000000</groupId>
<id>275e23c8-2c67-3ef2-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>76030cc2-2b49-37ab-a02b-7451013e4631</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <prioritizers>org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer</prioritizers>
                            <selectedRelationships>nifi-bootstrap</selectedRelationships>
                            <source>
<groupId>49b8087b-1dc7-3a89-0000-000000000000</groupId>
<id>b8cda94f-174e-36e5-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>2611bfca-fb8c-3665-a671-451975c74b60</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>c441665e-5e9c-30fd-0000-000000000000</id>
                            <parentGroupId>49b8087b-1dc7-3a89-0000-000000000000</parentGroupId>
                            <versionedComponentId>5a51004f-0059-3d8a-8c5b-b3734a399820</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>49b8087b-1dc7-3a89-0000-000000000000</groupId>
<id>677e2a35-27c0-3baf-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>ce2e0761-c424-3dad-a3a6-281503d0a293</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <prioritizers>org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer</prioritizers>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>49b8087b-1dc7-3a89-0000-000000000000</groupId>
<id>e14ba35c-cbc8-3604-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>f35d3730-e234-392e-b8e7-6fdbfeada841</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>c91f0dc2-bd4b-3506-0000-000000000000</id>
                            <parentGroupId>49b8087b-1dc7-3a89-0000-000000000000</parentGroupId>
                            <versionedComponentId>39c4d0dc-43f2-3e90-9777-d23280072e75</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>49b8087b-1dc7-3a89-0000-000000000000</groupId>
<id>b8cda94f-174e-36e5-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>2611bfca-fb8c-3665-a671-451975c74b60</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <prioritizers>org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer</prioritizers>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>49b8087b-1dc7-3a89-0000-000000000000</groupId>
<id>8546ad1c-caab-366a-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>cdecc426-2e15-39d4-823a-16214b5f0ef6</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <funnels>
                            <id>677e2a35-27c0-3baf-0000-000000000000</id>
                            <parentGroupId>49b8087b-1dc7-3a89-0000-000000000000</parentGroupId>
                            <position>
<x>3080.0</x>
<y>320.0</y>
                            </position>
                            <versionedComponentId>ce2e0761-c424-3dad-a3a6-281503d0a293</versionedComponentId>
                        </funnels>
                        <outputPorts>
                            <id>3aba1ea4-fb9a-369e-0000-000000000000</id>
                            <parentGroupId>49b8087b-1dc7-3a89-0000-000000000000</parentGroupId>
                            <position>
<x>3456.0</x>
<y>320.0</y>
                            </position>
                            <versionedComponentId>b0934613-cc35-3ec9-b2a3-8840e7883f0e</versionedComponentId>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>output_logs</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>275e23c8-2c67-3ef2-0000-000000000000</id>
                            <parentGroupId>49b8087b-1dc7-3a89-0000-000000000000</parentGroupId>
                            <position>
<x>1728.0</x>
<y>464.0</y>
                            </position>
                            <versionedComponentId>76030cc2-2b49-37ab-a02b-7451013e4631</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.19.1</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>log-level</key>
        <value>
            <name>log-level</name>
        </value>
    </entry>
    <entry>
        <key>log-prefix</key>
        <value>
            <name>log-prefix</name>
        </value>
    </entry>
    <entry>
        <key>log-message</key>
        <value>
            <name>log-message</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>log-level</key>
        <value>info</value>
    </entry>
    <entry>
        <key>log-prefix</key>
    </entry>
    <entry>
        <key>log-message</key>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>nifi-bootstrap</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.LogMessage</type>
                        </processors>
                        <processors>
                            <id>4cd0e2ee-0630-3fb0-0000-000000000000</id>
                            <parentGroupId>49b8087b-1dc7-3a89-0000-000000000000</parentGroupId>
                            <position>
<x>1728.0</x>
<y>288.0</y>
                            </position>
                            <versionedComponentId>22a10724-4dd1-35ef-98d3-257057f060fb</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.19.1</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>log-level</key>
        <value>
            <name>log-level</name>
        </value>
    </entry>
    <entry>
        <key>log-prefix</key>
        <value>
            <name>log-prefix</name>
        </value>
    </entry>
    <entry>
        <key>log-message</key>
        <value>
            <name>log-message</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>log-level</key>
        <value>info</value>
    </entry>
    <entry>
        <key>log-prefix</key>
    </entry>
    <entry>
        <key>log-message</key>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>nifi-user</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.LogMessage</type>
                        </processors>
                        <processors>
                            <id>8546ad1c-caab-366a-0000-000000000000</id>
                            <parentGroupId>49b8087b-1dc7-3a89-0000-000000000000</parentGroupId>
                            <position>
<x>416.0</x>
<y>296.0</y>
                            </position>
                            <versionedComponentId>cdecc426-2e15-39d4-823a-16214b5f0ef6</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.19.1</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>tail-mode</key>
        <value>
            <name>tail-mode</name>
        </value>
    </entry>
    <entry>
        <key>File to Tail</key>
        <value>
            <name>File to Tail</name>
        </value>
    </entry>
    <entry>
        <key>Rolling Filename Pattern</key>
        <value>
            <name>Rolling Filename Pattern</name>
        </value>
    </entry>
    <entry>
        <key>Post-Rollover Tail Period</key>
        <value>
            <name>Post-Rollover Tail Period</name>
        </value>
    </entry>
    <entry>
        <key>tail-base-directory</key>
        <value>
            <name>tail-base-directory</name>
        </value>
    </entry>
    <entry>
        <key>Initial Start Position</key>
        <value>
            <name>Initial Start Position</name>
        </value>
    </entry>
    <entry>
        <key>File Location</key>
        <value>
            <name>File Location</name>
        </value>
    </entry>
    <entry>
        <key>tailfile-recursive-lookup</key>
        <value>
            <name>tailfile-recursive-lookup</name>
        </value>
    </entry>
    <entry>
        <key>tailfile-lookup-frequency</key>
        <value>
            <name>tailfile-lookup-frequency</name>
        </value>
    </entry>
    <entry>
        <key>tailfile-maximum-age</key>
        <value>
            <name>tailfile-maximum-age</name>
        </value>
    </entry>
    <entry>
        <key>reread-on-nul</key>
        <value>
            <name>reread-on-nul</name>
        </value>
    </entry>
    <entry>
        <key>Line Start Pattern</key>
        <value>
            <dependencies>
                <dependentValues>Single file</dependentValues>
                <propertyName>tail-mode</propertyName>
            </dependencies>
            <name>Line Start Pattern</name>
        </value>
    </entry>
    <entry>
        <key>pre-allocated-buffer-size</key>
        <value>
            <name>pre-allocated-buffer-size</name>
        </value>
    </entry>
    <entry>
        <key>Max Buffer Size</key>
        <value>
            <dependencies>
                <propertyName>Line Start Pattern</propertyName>
            </dependencies>
            <name>Max Buffer Size</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>tail-mode</key>
        <value>Multiple files</value>
    </entry>
    <entry>
        <key>File to Tail</key>
        <value>nifi\-.*</value>
    </entry>
    <entry>
        <key>Rolling Filename Pattern</key>
    </entry>
    <entry>
        <key>Post-Rollover Tail Period</key>
        <value>0 sec</value>
    </entry>
    <entry>
        <key>tail-base-directory</key>
        <value>${nifi_path}logs</value>
    </entry>
    <entry>
        <key>Initial Start Position</key>
        <value>Beginning of File</value>
    </entry>
    <entry>
        <key>File Location</key>
        <value>Local</value>
    </entry>
    <entry>
        <key>tailfile-recursive-lookup</key>
        <value>false</value>
    </entry>
    <entry>
        <key>tailfile-lookup-frequency</key>
        <value>10 minutes</value>
    </entry>
    <entry>
        <key>tailfile-maximum-age</key>
        <value>1 hours</value>
    </entry>
    <entry>
        <key>reread-on-nul</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Line Start Pattern</key>
    </entry>
    <entry>
        <key>pre-allocated-buffer-size</key>
        <value>65536 B</value>
    </entry>
    <entry>
        <key>Max Buffer Size</key>
        <value>64 KB</value>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>3 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ReadLogsNifi</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.TailFile</type>
                        </processors>
                        <processors>
                            <id>b5774014-4f73-38c8-0000-000000000000</id>
                            <parentGroupId>49b8087b-1dc7-3a89-0000-000000000000</parentGroupId>
                            <position>
<x>1720.0</x>
<y>120.0</y>
                            </position>
                            <versionedComponentId>519eca8e-29e4-3d02-81b1-d78c4af5f1fc</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.19.1</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>log-level</key>
        <value>
            <name>log-level</name>
        </value>
    </entry>
    <entry>
        <key>log-prefix</key>
        <value>
            <name>log-prefix</name>
        </value>
    </entry>
    <entry>
        <key>log-message</key>
        <value>
            <name>log-message</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>log-level</key>
        <value>info</value>
    </entry>
    <entry>
        <key>log-prefix</key>
    </entry>
    <entry>
        <key>log-message</key>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>nifi-app</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.LogMessage</type>
                        </processors>
                        <processors>
                            <id>b8cda94f-174e-36e5-0000-000000000000</id>
                            <parentGroupId>49b8087b-1dc7-3a89-0000-000000000000</parentGroupId>
                            <position>
<x>1104.0</x>
<y>296.0</y>
                            </position>
                            <versionedComponentId>2611bfca-fb8c-3665-a671-451975c74b60</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.19.1</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Routing Strategy</key>
        <value>
            <name>Routing Strategy</name>
        </value>
    </entry>
    <entry>
        <key>nifi-app</key>
        <value>
            <name>nifi-app</name>
        </value>
    </entry>
    <entry>
        <key>nifi-bootstrap</key>
        <value>
            <name>nifi-bootstrap</name>
        </value>
    </entry>
    <entry>
        <key>nifi-user</key>
        <value>
            <name>nifi-user</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Routing Strategy</key>
        <value>Route to Property name</value>
    </entry>
    <entry>
        <key>nifi-app</key>
        <value>${filename:contains('nifi-app')}</value>
    </entry>
    <entry>
        <key>nifi-bootstrap</key>
        <value>${filename:contains('nifi-bootstrap')}</value>
    </entry>
    <entry>
        <key>nifi-user</key>
        <value>${filename:contains('nifi-user')}</value>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>RouteLogsNifi</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>nifi-app</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>nifi-bootstrap</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>nifi-user</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>unmatched</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                        </processors>
                        <processors>
                            <id>bc9388d0-fcae-3930-0000-000000000000</id>
                            <parentGroupId>49b8087b-1dc7-3a89-0000-000000000000</parentGroupId>
                            <position>
<x>2368.0</x>
<y>112.0</y>
                            </position>
                            <versionedComponentId>4a012b1c-5e33-3b43-91b2-e6d5731533bf</versionedComponentId>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.19.1</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>source</key>
        <value>
            <name>source</name>
        </value>
    </entry>
    <entry>
        <key>sourcetype</key>
        <value>
            <name>sourcetype</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>source</key>
        <value>nifi_app_${now():toNumber():format('yyyyMMddHHmmss')}.log</value>
    </entry>
    <entry>
        <key>sourcetype</key>
        <value>nifi:log:app</value>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Set-Splunk_variables</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>c9619dc2-9052-3c53-0000-000000000000</id>
                            <parentGroupId>49b8087b-1dc7-3a89-0000-000000000000</parentGroupId>
                            <position>
<x>2368.0</x>
<y>280.0</y>
                            </position>
                            <versionedComponentId>f7ddaf54-34aa-3e0c-a2c7-05b1eb792317</versionedComponentId>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.19.1</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>source</key>
        <value>
            <name>source</name>
        </value>
    </entry>
    <entry>
        <key>sourcetype</key>
        <value>
            <name>sourcetype</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>source</key>
        <value>nifi_user_${now():toNumber():format('yyyyMMddHHmmss')}.log</value>
    </entry>
    <entry>
        <key>sourcetype</key>
        <value>nifi:log:user</value>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Set-Splunk_variables</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>e14ba35c-cbc8-3604-0000-000000000000</id>
                            <parentGroupId>49b8087b-1dc7-3a89-0000-000000000000</parentGroupId>
                            <position>
<x>2376.0</x>
<y>464.0</y>
                            </position>
                            <versionedComponentId>f35d3730-e234-392e-b8e7-6fdbfeada841</versionedComponentId>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.19.1</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>source</key>
        <value>
            <name>source</name>
        </value>
    </entry>
    <entry>
        <key>sourcetype</key>
        <value>
            <name>sourcetype</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>source</key>
        <value>nifi_bootstrap_${now():toNumber():format('yyyyMMddHHmmss')}.log</value>
    </entry>
    <entry>
        <key>sourcetype</key>
        <value>nifi:log:bootstrap</value>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Set-Splunk_variables</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Monitoring - Logs</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>4f5a638a-f3dc-3f32-0000-000000000000</id>
                    <parentGroupId>64a13363-0e30-3725-0000-000000000000</parentGroupId>
                    <position>
                        <x>472.0</x>
                        <y>168.0</y>
                    </position>
                    <versionedComponentId>2398c9d0-623d-3ad1-903b-b70ff553b6d2</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>172f79c9-4a5e-3c0f-0000-000000000000</id>
                            <parentGroupId>4f5a638a-f3dc-3f32-0000-000000000000</parentGroupId>
                            <versionedComponentId>fad0e424-5839-3668-b968-679389f650b7</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>4f5a638a-f3dc-3f32-0000-000000000000</groupId>
<id>cf016549-44fd-3bda-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>fcaa8186-1e69-3eda-8b5e-e7c21905645f</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>4f5a638a-f3dc-3f32-0000-000000000000</groupId>
<id>aa65c23f-8a8a-32b4-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>1371ddab-cfdc-309e-9127-0bea6d31b3c2</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>47ce2e3b-cbfc-3b75-0000-000000000000</id>
                            <parentGroupId>4f5a638a-f3dc-3f32-0000-000000000000</parentGroupId>
                            <versionedComponentId>efc8a424-9d9f-31d7-b6c9-a4b0b4fd565a</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>4f5a638a-f3dc-3f32-0000-000000000000</groupId>
<id>63ed6321-324e-30f6-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>feec6feb-121f-33df-b53d-cee70c859ddc</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>4f5a638a-f3dc-3f32-0000-000000000000</groupId>
<id>cf016549-44fd-3bda-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>fcaa8186-1e69-3eda-8b5e-e7c21905645f</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>560862ca-390e-380a-0000-000000000000</id>
                            <parentGroupId>4f5a638a-f3dc-3f32-0000-000000000000</parentGroupId>
                            <versionedComponentId>067f9472-a224-3eb3-9a56-c5c4f9db64af</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>4f5a638a-f3dc-3f32-0000-000000000000</groupId>
<id>63ed6321-324e-30f6-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>feec6feb-121f-33df-b53d-cee70c859ddc</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>4f5a638a-f3dc-3f32-0000-000000000000</groupId>
<id>6ee3474e-cf3d-3d64-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>38ae2ec7-5e9f-3be0-85c8-e5ded6ddc73d</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>74118eed-7f1d-3f3b-0000-000000000000</id>
                            <parentGroupId>4f5a638a-f3dc-3f32-0000-000000000000</parentGroupId>
                            <versionedComponentId>72e45bf8-70ef-3809-8430-ba9156d2007f</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>4f5a638a-f3dc-3f32-0000-000000000000</groupId>
<id>eec669ae-dea1-3f6c-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>f057f8e0-3d6a-39d8-91b0-83d1ad8f2a83</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>4f5a638a-f3dc-3f32-0000-000000000000</groupId>
<id>b43076ac-5c10-30b3-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>db9f14bd-5d60-3b2c-957f-0023ccd669fc</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>7a404d51-1db8-3921-0000-000000000000</id>
                            <parentGroupId>4f5a638a-f3dc-3f32-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>4f5a638a-f3dc-3f32-0000-000000000000</groupId>
<id>7ba9f234-b952-3dd8-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>c80e485c-419a-3e3e-0000-000000000000</groupId>
<id>e3fc2b30-d233-35ca-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>7d687ea5-5061-360b-0000-000000000000</id>
                            <parentGroupId>4f5a638a-f3dc-3f32-0000-000000000000</parentGroupId>
                            <versionedComponentId>237f7b54-89d9-32a7-8f63-b0f561a72312</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>4f5a638a-f3dc-3f32-0000-000000000000</groupId>
<id>6c23e3ee-fac1-3697-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>0b15d067-df10-3c52-9ad7-5eeefac12b96</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>4f5a638a-f3dc-3f32-0000-000000000000</groupId>
<id>63ed6321-324e-30f6-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>feec6feb-121f-33df-b53d-cee70c859ddc</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>8a0d00e4-729f-327f-0000-000000000000</id>
                            <parentGroupId>4f5a638a-f3dc-3f32-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>552.0</x>
<y>-48.0</y>
                            </bends>
                            <destination>
<groupId>4f5a638a-f3dc-3f32-0000-000000000000</groupId>
<id>63ed6321-324e-30f6-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>feec6feb-121f-33df-b53d-cee70c859ddc</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>0</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>4f5a638a-f3dc-3f32-0000-000000000000</groupId>
<id>7ba9f234-b952-3dd8-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>daaaa8cf-1c6a-3ba9-0000-000000000000</id>
                            <parentGroupId>4f5a638a-f3dc-3f32-0000-000000000000</parentGroupId>
                            <versionedComponentId>0bd9c1ec-6ba2-3feb-9e1e-7e53c7e99cc7</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>4f5a638a-f3dc-3f32-0000-000000000000</groupId>
<id>6ee3474e-cf3d-3d64-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>38ae2ec7-5e9f-3be0-85c8-e5ded6ddc73d</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>4f5a638a-f3dc-3f32-0000-000000000000</groupId>
<id>8630ef21-6895-3483-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>8d52a96b-80bf-3be4-ad01-55ab5bf0c8ba</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>ed7ab239-b901-3eee-0000-000000000000</id>
                            <parentGroupId>4f5a638a-f3dc-3f32-0000-000000000000</parentGroupId>
                            <versionedComponentId>d8d76da0-de63-3f6d-af99-5766dd23b651</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>4f5a638a-f3dc-3f32-0000-000000000000</groupId>
<id>63ed6321-324e-30f6-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>feec6feb-121f-33df-b53d-cee70c859ddc</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>4f5a638a-f3dc-3f32-0000-000000000000</groupId>
<id>eec669ae-dea1-3f6c-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>f057f8e0-3d6a-39d8-91b0-83d1ad8f2a83</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <funnels>
                            <id>63ed6321-324e-30f6-0000-000000000000</id>
                            <parentGroupId>4f5a638a-f3dc-3f32-0000-000000000000</parentGroupId>
                            <position>
<x>736.0</x>
<y>-224.0</y>
                            </position>
                            <versionedComponentId>feec6feb-121f-33df-b53d-cee70c859ddc</versionedComponentId>
                        </funnels>
                        <outputPorts>
                            <id>6c23e3ee-fac1-3697-0000-000000000000</id>
                            <parentGroupId>4f5a638a-f3dc-3f32-0000-000000000000</parentGroupId>
                            <position>
<x>1048.0</x>
<y>-224.0</y>
                            </position>
                            <versionedComponentId>0b15d067-df10-3c52-9ad7-5eeefac12b96</versionedComponentId>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>output_api</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processGroups>
                            <id>c80e485c-419a-3e3e-0000-000000000000</id>
                            <parentGroupId>4f5a638a-f3dc-3f32-0000-000000000000</parentGroupId>
                            <position>
<x>-648.0</x>
<y>104.0</y>
                            </position>
                            <comments></comments>
                            <contents>
<connections>
    <id>6fa1498f-5d54-39b4-0000-000000000000</id>
    <parentGroupId>c80e485c-419a-3e3e-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>c80e485c-419a-3e3e-0000-000000000000</groupId>
        <id>7d7ffc48-1a93-32e9-0000-000000000000</id>
        <type>PROCESSOR</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>failure</selectedRelationships>
    <source>
        <groupId>c80e485c-419a-3e3e-0000-000000000000</groupId>
        <id>2852d208-05ee-3e01-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>7cd5d0b1-e574-34e0-0000-000000000000</id>
    <parentGroupId>c80e485c-419a-3e3e-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>c80e485c-419a-3e3e-0000-000000000000</groupId>
        <id>4dd789a6-65c1-30be-0000-000000000000</id>
        <type>PROCESSOR</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>matched</selectedRelationships>
    <source>
        <groupId>c80e485c-419a-3e3e-0000-000000000000</groupId>
        <id>9c48b061-11a5-35c2-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>bd94e076-f814-31c4-0000-000000000000</id>
    <parentGroupId>c80e485c-419a-3e3e-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>c80e485c-419a-3e3e-0000-000000000000</groupId>
        <id>2852d208-05ee-3e01-0000-000000000000</id>
        <type>PROCESSOR</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>success</selectedRelationships>
    <source>
        <groupId>c80e485c-419a-3e3e-0000-000000000000</groupId>
        <id>cb31b747-a474-353a-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>ca2f2fc8-4730-3a74-0000-000000000000</id>
    <parentGroupId>c80e485c-419a-3e3e-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>c80e485c-419a-3e3e-0000-000000000000</groupId>
        <id>7d7ffc48-1a93-32e9-0000-000000000000</id>
        <type>PROCESSOR</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>Failure</selectedRelationships>
    <selectedRelationships>No Retry</selectedRelationships>
    <source>
        <groupId>c80e485c-419a-3e3e-0000-000000000000</groupId>
        <id>4dd789a6-65c1-30be-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>f4a44787-e1a9-35e5-0000-000000000000</id>
    <parentGroupId>c80e485c-419a-3e3e-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>c80e485c-419a-3e3e-0000-000000000000</groupId>
        <id>e3fc2b30-d233-35ca-0000-000000000000</id>
        <type>OUTPUT_PORT</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>Response</selectedRelationships>
    <source>
        <groupId>c80e485c-419a-3e3e-0000-000000000000</groupId>
        <id>4dd789a6-65c1-30be-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>fd9729b3-c5f6-3875-0000-000000000000</id>
    <parentGroupId>c80e485c-419a-3e3e-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>c80e485c-419a-3e3e-0000-000000000000</groupId>
        <id>9c48b061-11a5-35c2-0000-000000000000</id>
        <type>PROCESSOR</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>splits</selectedRelationships>
    <source>
        <groupId>c80e485c-419a-3e3e-0000-000000000000</groupId>
        <id>2852d208-05ee-3e01-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<outputPorts>
    <id>e3fc2b30-d233-35ca-0000-000000000000</id>
    <parentGroupId>c80e485c-419a-3e3e-0000-000000000000</parentGroupId>
    <position>
        <x>2184.0</x>
        <y>192.0</y>
    </position>
    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
    <name>out_processgroup_status_history</name>
    <state>STOPPED</state>
    <type>OUTPUT_PORT</type>
</outputPorts>
<processors>
    <id>2852d208-05ee-3e01-0000-000000000000</id>
    <parentGroupId>c80e485c-419a-3e3e-0000-000000000000</parentGroupId>
    <position>
        <x>272.0</x>
        <y>168.0</y>
    </position>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.19.1</version>
    </bundle>
    <config>
        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>Line Split Count</key>
                <value>
                    <name>Line Split Count</name>
                </value>
            </entry>
            <entry>
                <key>Maximum Fragment Size</key>
                <value>
                    <name>Maximum Fragment Size</name>
                </value>
            </entry>
            <entry>
                <key>Header Line Count</key>
                <value>
                    <name>Header Line Count</name>
                </value>
            </entry>
            <entry>
                <key>Header Line Marker Characters</key>
                <value>
                    <name>Header Line Marker Characters</name>
                </value>
            </entry>
            <entry>
                <key>Remove Trailing Newlines</key>
                <value>
                    <name>Remove Trailing Newlines</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>Line Split Count</key>
                <value>1</value>
            </entry>
            <entry>
                <key>Maximum Fragment Size</key>
            </entry>
            <entry>
                <key>Header Line Count</key>
                <value>0</value>
            </entry>
            <entry>
                <key>Header Line Marker Characters</key>
            </entry>
            <entry>
                <key>Remove Trailing Newlines</key>
                <value>true</value>
            </entry>
        </properties>
        <retryCount>10</retryCount>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>SplitText</name>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
        <retry>false</retry>
    </relationships>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
        <retry>false</retry>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>splits</name>
        <retry>false</retry>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.standard.SplitText</type>
</processors>
<processors>
    <id>4dd789a6-65c1-30be-0000-000000000000</id>
    <parentGroupId>c80e485c-419a-3e3e-0000-000000000000</parentGroupId>
    <position>
        <x>1528.0</x>
        <y>160.0</y>
    </position>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.19.1</version>
    </bundle>
    <config>
        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>HTTP Method</key>
                <value>
                    <name>HTTP Method</name>
                </value>
            </entry>
            <entry>
                <key>Remote URL</key>
                <value>
                    <name>Remote URL</name>
                </value>
            </entry>
            <entry>
                <key>disable-http2</key>
                <value>
                    <name>disable-http2</name>
                </value>
            </entry>
            <entry>
                <key>SSL Context Service</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                    <name>SSL Context Service</name>
                </value>
            </entry>
            <entry>
                <key>Connection Timeout</key>
                <value>
                    <name>Connection Timeout</name>
                </value>
            </entry>
            <entry>
                <key>Read Timeout</key>
                <value>
                    <name>Read Timeout</name>
                </value>
            </entry>
            <entry>
                <key>idle-timeout</key>
                <value>
                    <name>idle-timeout</name>
                </value>
            </entry>
            <entry>
                <key>max-idle-connections</key>
                <value>
                    <name>max-idle-connections</name>
                </value>
            </entry>
            <entry>
                <key>proxy-configuration-service</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                    <name>proxy-configuration-service</name>
                </value>
            </entry>
            <entry>
                <key>Proxy Host</key>
                <value>
                    <name>Proxy Host</name>
                </value>
            </entry>
            <entry>
                <key>Proxy Port</key>
                <value>
                    <dependencies>
                        <propertyName>Proxy Host</propertyName>
                    </dependencies>
                    <name>Proxy Port</name>
                </value>
            </entry>
            <entry>
                <key>Proxy Type</key>
                <value>
                    <dependencies>
                        <propertyName>Proxy Host</propertyName>
                    </dependencies>
                    <name>Proxy Type</name>
                </value>
            </entry>
            <entry>
                <key>invokehttp-proxy-user</key>
                <value>
                    <dependencies>
                        <propertyName>Proxy Host</propertyName>
                    </dependencies>
                    <name>invokehttp-proxy-user</name>
                </value>
            </entry>
            <entry>
                <key>invokehttp-proxy-password</key>
                <value>
                    <dependencies>
                        <propertyName>Proxy Host</propertyName>
                    </dependencies>
                    <name>invokehttp-proxy-password</name>
                </value>
            </entry>
            <entry>
                <key>oauth2-access-token-provider</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.oauth2.OAuth2AccessTokenProvider</identifiesControllerService>
                    <name>oauth2-access-token-provider</name>
                </value>
            </entry>
            <entry>
                <key>Basic Authentication Username</key>
                <value>
                    <name>Basic Authentication Username</name>
                </value>
            </entry>
            <entry>
                <key>Basic Authentication Password</key>
                <value>
                    <name>Basic Authentication Password</name>
                </value>
            </entry>
            <entry>
                <key>Digest Authentication</key>
                <value>
                    <dependencies>
                        <propertyName>Basic Authentication Username</propertyName>
                    </dependencies>
                    <name>Digest Authentication</name>
                </value>
            </entry>
            <entry>
                <key>Penalize on "No Retry"</key>
                <value>
                    <name>Penalize on "No Retry"</name>
                </value>
            </entry>
            <entry>
                <key>send-message-body</key>
                <value>
                    <dependencies>
                        <dependentValues>POST</dependentValues>
                        <dependentValues>PATCH</dependentValues>
                        <dependentValues>PUT</dependentValues>
                        <propertyName>HTTP Method</propertyName>
                    </dependencies>
                    <name>send-message-body</name>
                </value>
            </entry>
            <entry>
                <key>form-body-form-name</key>
                <value>
                    <dependencies>
                        <dependentValues>true</dependentValues>
                        <propertyName>send-message-body</propertyName>
                    </dependencies>
                    <name>form-body-form-name</name>
                </value>
            </entry>
            <entry>
                <key>set-form-filename</key>
                <value>
                    <dependencies>
                        <propertyName>form-body-form-name</propertyName>
                    </dependencies>
                    <name>set-form-filename</name>
                </value>
            </entry>
            <entry>
                <key>Use Chunked Encoding</key>
                <value>
                    <dependencies>
                        <dependentValues>POST</dependentValues>
                        <dependentValues>PATCH</dependentValues>
                        <dependentValues>PUT</dependentValues>
                        <propertyName>HTTP Method</propertyName>
                    </dependencies>
                    <name>Use Chunked Encoding</name>
                </value>
            </entry>
            <entry>
                <key>Content-Encoding</key>
                <value>
                    <dependencies>
                        <dependentValues>POST</dependentValues>
                        <dependentValues>PATCH</dependentValues>
                        <dependentValues>PUT</dependentValues>
                        <propertyName>HTTP Method</propertyName>
                    </dependencies>
                    <name>Content-Encoding</name>
                </value>
            </entry>
            <entry>
                <key>Content-Type</key>
                <value>
                    <dependencies>
                        <dependentValues>POST</dependentValues>
                        <dependentValues>PATCH</dependentValues>
                        <dependentValues>PUT</dependentValues>
                        <propertyName>HTTP Method</propertyName>
                    </dependencies>
                    <name>Content-Type</name>
                </value>
            </entry>
            <entry>
                <key>Include Date Header</key>
                <value>
                    <name>Include Date Header</name>
                </value>
            </entry>
            <entry>
                <key>Attributes to Send</key>
                <value>
                    <name>Attributes to Send</name>
                </value>
            </entry>
            <entry>
                <key>Useragent</key>
                <value>
                    <name>Useragent</name>
                </value>
            </entry>
            <entry>
                <key>Put Response Body In Attribute</key>
                <value>
                    <name>Put Response Body In Attribute</name>
                </value>
            </entry>
            <entry>
                <key>Max Length To Put In Attribute</key>
                <value>
                    <dependencies>
                        <propertyName>Put Response Body In Attribute</propertyName>
                    </dependencies>
                    <name>Max Length To Put In Attribute</name>
                </value>
            </entry>
            <entry>
                <key>ignore-response-content</key>
                <value>
                    <name>ignore-response-content</name>
                </value>
            </entry>
            <entry>
                <key>use-etag</key>
                <value>
                    <name>use-etag</name>
                </value>
            </entry>
            <entry>
                <key>etag-max-cache-size</key>
                <value>
                    <dependencies>
                        <dependentValues>true</dependentValues>
                        <propertyName>use-etag</propertyName>
                    </dependencies>
                    <name>etag-max-cache-size</name>
                </value>
            </entry>
            <entry>
                <key>cookie-strategy</key>
                <value>
                    <name>cookie-strategy</name>
                </value>
            </entry>
            <entry>
                <key>Always Output Response</key>
                <value>
                    <name>Always Output Response</name>
                </value>
            </entry>
            <entry>
                <key>flow-file-naming-strategy</key>
                <value>
                    <name>flow-file-naming-strategy</name>
                </value>
            </entry>
            <entry>
                <key>Add Response Headers to Request</key>
                <value>
                    <name>Add Response Headers to Request</name>
                </value>
            </entry>
            <entry>
                <key>Follow Redirects</key>
                <value>
                    <name>Follow Redirects</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>HTTP Method</key>
                <value>GET</value>
            </entry>
            <entry>
                <key>Remote URL</key>
                <value>http://${hostname(true)}:8080/nifi-api/flow/process-groups/${pid}/status/history</value>
            </entry>
            <entry>
                <key>disable-http2</key>
                <value>False</value>
            </entry>
            <entry>
                <key>SSL Context Service</key>
            </entry>
            <entry>
                <key>Connection Timeout</key>
                <value>5 secs</value>
            </entry>
            <entry>
                <key>Read Timeout</key>
                <value>15 secs</value>
            </entry>
            <entry>
                <key>idle-timeout</key>
                <value>5 mins</value>
            </entry>
            <entry>
                <key>max-idle-connections</key>
                <value>5</value>
            </entry>
            <entry>
                <key>proxy-configuration-service</key>
            </entry>
            <entry>
                <key>Proxy Host</key>
            </entry>
            <entry>
                <key>Proxy Port</key>
            </entry>
            <entry>
                <key>Proxy Type</key>
                <value>http</value>
            </entry>
            <entry>
                <key>invokehttp-proxy-user</key>
            </entry>
            <entry>
                <key>invokehttp-proxy-password</key>
            </entry>
            <entry>
                <key>oauth2-access-token-provider</key>
            </entry>
            <entry>
                <key>Basic Authentication Username</key>
            </entry>
            <entry>
                <key>Basic Authentication Password</key>
            </entry>
            <entry>
                <key>Digest Authentication</key>
                <value>false</value>
            </entry>
            <entry>
                <key>Penalize on "No Retry"</key>
                <value>false</value>
            </entry>
            <entry>
                <key>send-message-body</key>
                <value>true</value>
            </entry>
            <entry>
                <key>form-body-form-name</key>
            </entry>
            <entry>
                <key>set-form-filename</key>
                <value>true</value>
            </entry>
            <entry>
                <key>Use Chunked Encoding</key>
                <value>false</value>
            </entry>
            <entry>
                <key>Content-Encoding</key>
                <value>DISABLED</value>
            </entry>
            <entry>
                <key>Content-Type</key>
                <value>${mime.type}</value>
            </entry>
            <entry>
                <key>Include Date Header</key>
                <value>True</value>
            </entry>
            <entry>
                <key>Attributes to Send</key>
            </entry>
            <entry>
                <key>Useragent</key>
            </entry>
            <entry>
                <key>Put Response Body In Attribute</key>
            </entry>
            <entry>
                <key>Max Length To Put In Attribute</key>
                <value>256</value>
            </entry>
            <entry>
                <key>ignore-response-content</key>
                <value>false</value>
            </entry>
            <entry>
                <key>use-etag</key>
                <value>false</value>
            </entry>
            <entry>
                <key>etag-max-cache-size</key>
                <value>10MB</value>
            </entry>
            <entry>
                <key>cookie-strategy</key>
                <value>DISABLED</value>
            </entry>
            <entry>
                <key>Always Output Response</key>
                <value>false</value>
            </entry>
            <entry>
                <key>flow-file-naming-strategy</key>
                <value>RANDOM</value>
            </entry>
            <entry>
                <key>Add Response Headers to Request</key>
                <value>false</value>
            </entry>
            <entry>
                <key>Follow Redirects</key>
                <value>True</value>
            </entry>
        </properties>
        <retriedRelationships>Failure</retriedRelationships>
        <retryCount>5</retryCount>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>InvokeHTTP</name>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>Failure</name>
        <retry>true</retry>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>No Retry</name>
        <retry>false</retry>
    </relationships>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>Original</name>
        <retry>false</retry>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>Response</name>
        <retry>false</retry>
    </relationships>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>Retry</name>
        <retry>false</retry>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
</processors>
<processors>
    <id>7d7ffc48-1a93-32e9-0000-000000000000</id>
    <parentGroupId>c80e485c-419a-3e3e-0000-000000000000</parentGroupId>
    <position>
        <x>848.0</x>
        <y>600.0</y>
    </position>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.19.1</version>
    </bundle>
    <config>
        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>log-level</key>
                <value>
                    <name>log-level</name>
                </value>
            </entry>
            <entry>
                <key>log-prefix</key>
                <value>
                    <name>log-prefix</name>
                </value>
            </entry>
            <entry>
                <key>log-message</key>
                <value>
                    <name>log-message</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>log-level</key>
                <value>error</value>
            </entry>
            <entry>
                <key>log-prefix</key>
            </entry>
            <entry>
                <key>log-message</key>
                <value>Error in processgroups status history</value>
            </entry>
        </properties>
        <retryCount>10</retryCount>
        <runDurationMillis>25</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>LogMessage</name>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
        <retry>false</retry>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.standard.LogMessage</type>
</processors>
<processors>
    <id>9c48b061-11a5-35c2-0000-000000000000</id>
    <parentGroupId>c80e485c-419a-3e3e-0000-000000000000</parentGroupId>
    <position>
        <x>840.0</x>
        <y>168.0</y>
    </position>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.19.1</version>
    </bundle>
    <config>
        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>Character Set</key>
                <value>
                    <name>Character Set</name>
                </value>
            </entry>
            <entry>
                <key>Maximum Buffer Size</key>
                <value>
                    <name>Maximum Buffer Size</name>
                </value>
            </entry>
            <entry>
                <key>Maximum Capture Group Length</key>
                <value>
                    <name>Maximum Capture Group Length</name>
                </value>
            </entry>
            <entry>
                <key>Enable Canonical Equivalence</key>
                <value>
                    <name>Enable Canonical Equivalence</name>
                </value>
            </entry>
            <entry>
                <key>Enable Case-insensitive Matching</key>
                <value>
                    <name>Enable Case-insensitive Matching</name>
                </value>
            </entry>
            <entry>
                <key>Permit Whitespace and Comments in Pattern</key>
                <value>
                    <name>Permit Whitespace and Comments in Pattern</name>
                </value>
            </entry>
            <entry>
                <key>Enable DOTALL Mode</key>
                <value>
                    <name>Enable DOTALL Mode</name>
                </value>
            </entry>
            <entry>
                <key>Enable Literal Parsing of the Pattern</key>
                <value>
                    <name>Enable Literal Parsing of the Pattern</name>
                </value>
            </entry>
            <entry>
                <key>Enable Multiline Mode</key>
                <value>
                    <name>Enable Multiline Mode</name>
                </value>
            </entry>
            <entry>
                <key>Enable Unicode-aware Case Folding</key>
                <value>
                    <name>Enable Unicode-aware Case Folding</name>
                </value>
            </entry>
            <entry>
                <key>Enable Unicode Predefined Character Classes</key>
                <value>
                    <name>Enable Unicode Predefined Character Classes</name>
                </value>
            </entry>
            <entry>
                <key>Enable Unix Lines Mode</key>
                <value>
                    <name>Enable Unix Lines Mode</name>
                </value>
            </entry>
            <entry>
                <key>Include Capture Group 0</key>
                <value>
                    <name>Include Capture Group 0</name>
                </value>
            </entry>
            <entry>
                <key>extract-text-enable-repeating-capture-group</key>
                <value>
                    <name>extract-text-enable-repeating-capture-group</name>
                </value>
            </entry>
            <entry>
                <key>extract-text-enable-named-groups</key>
                <value>
                    <name>extract-text-enable-named-groups</name>
                </value>
            </entry>
            <entry>
                <key>pid</key>
                <value>
                    <name>pid</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>Character Set</key>
                <value>UTF-8</value>
            </entry>
            <entry>
                <key>Maximum Buffer Size</key>
                <value>1 MB</value>
            </entry>
            <entry>
                <key>Maximum Capture Group Length</key>
                <value>1024</value>
            </entry>
            <entry>
                <key>Enable Canonical Equivalence</key>
                <value>false</value>
            </entry>
            <entry>
                <key>Enable Case-insensitive Matching</key>
                <value>false</value>
            </entry>
            <entry>
                <key>Permit Whitespace and Comments in Pattern</key>
                <value>false</value>
            </entry>
            <entry>
                <key>Enable DOTALL Mode</key>
                <value>false</value>
            </entry>
            <entry>
                <key>Enable Literal Parsing of the Pattern</key>
                <value>false</value>
            </entry>
            <entry>
                <key>Enable Multiline Mode</key>
                <value>false</value>
            </entry>
            <entry>
                <key>Enable Unicode-aware Case Folding</key>
                <value>false</value>
            </entry>
            <entry>
                <key>Enable Unicode Predefined Character Classes</key>
                <value>false</value>
            </entry>
            <entry>
                <key>Enable Unix Lines Mode</key>
                <value>false</value>
            </entry>
            <entry>
                <key>Include Capture Group 0</key>
                <value>true</value>
            </entry>
            <entry>
                <key>extract-text-enable-repeating-capture-group</key>
                <value>false</value>
            </entry>
            <entry>
                <key>extract-text-enable-named-groups</key>
                <value>false</value>
            </entry>
            <entry>
                <key>pid</key>
                <value>(.+)</value>
            </entry>
        </properties>
        <retryCount>10</retryCount>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>ExtractText</name>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>matched</name>
        <retry>false</retry>
    </relationships>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>unmatched</name>
        <retry>false</retry>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.standard.ExtractText</type>
</processors>
<processors>
    <id>cb31b747-a474-353a-0000-000000000000</id>
    <parentGroupId>c80e485c-419a-3e3e-0000-000000000000</parentGroupId>
    <position>
        <x>-280.0</x>
        <y>168.0</y>
    </position>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.19.1</version>
    </bundle>
    <config>
        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>File Size</key>
                <value>
                    <name>File Size</name>
                </value>
            </entry>
            <entry>
                <key>Batch Size</key>
                <value>
                    <name>Batch Size</name>
                </value>
            </entry>
            <entry>
                <key>Data Format</key>
                <value>
                    <name>Data Format</name>
                </value>
            </entry>
            <entry>
                <key>Unique FlowFiles</key>
                <value>
                    <name>Unique FlowFiles</name>
                </value>
            </entry>
            <entry>
                <key>generate-ff-custom-text</key>
                <value>
                    <name>generate-ff-custom-text</name>
                </value>
            </entry>
            <entry>
                <key>character-set</key>
                <value>
                    <name>character-set</name>
                </value>
            </entry>
            <entry>
                <key>mime-type</key>
                <value>
                    <name>mime-type</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>File Size</key>
                <value>0B</value>
            </entry>
            <entry>
                <key>Batch Size</key>
                <value>1</value>
            </entry>
            <entry>
                <key>Data Format</key>
                <value>Text</value>
            </entry>
            <entry>
                <key>Unique FlowFiles</key>
                <value>false</value>
            </entry>
            <entry>
                <key>generate-ff-custom-text</key>
                <value>${processorgroups_status_history}</value>
            </entry>
            <entry>
                <key>character-set</key>
                <value>UTF-8</value>
            </entry>
            <entry>
                <key>mime-type</key>
            </entry>
        </properties>
        <retryCount>10</retryCount>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>15 min</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>GenerateFlowFile</name>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
        <retry>false</retry>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
</processors>
                            </contents>
                            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                            <name>GetHTTP-processgroups_history</name>
                            <variables/>
                        </processGroups>
                        <processors>
                            <id>6ee3474e-cf3d-3d64-0000-000000000000</id>
                            <parentGroupId>4f5a638a-f3dc-3f32-0000-000000000000</parentGroupId>
                            <position>
<x>32.0</x>
<y>-264.0</y>
                            </position>
                            <versionedComponentId>38ae2ec7-5e9f-3be0-85c8-e5ded6ddc73d</versionedComponentId>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.19.1</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>source</key>
        <value>
            <name>source</name>
        </value>
    </entry>
    <entry>
        <key>sourcetype</key>
        <value>
            <name>sourcetype</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>source</key>
        <value>nifi_self_rest_api</value>
    </entry>
    <entry>
        <key>sourcetype</key>
        <value>nifi:api:site_to_site</value>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Set-Splunk_variables</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>7ba9f234-b952-3dd8-0000-000000000000</id>
                            <parentGroupId>4f5a638a-f3dc-3f32-0000-000000000000</parentGroupId>
                            <position>
<x>32.0</x>
<y>128.0</y>
                            </position>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.19.1</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>source</key>
        <value>
            <name>source</name>
        </value>
    </entry>
    <entry>
        <key>sourcetype</key>
        <value>
            <name>sourcetype</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>source</key>
        <value>nifi_self_rest_api</value>
    </entry>
    <entry>
        <key>sourcetype</key>
        <value>nifi:api:processgroups_status_history</value>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Set-Splunk_variables</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>8630ef21-6895-3483-0000-000000000000</id>
                            <parentGroupId>4f5a638a-f3dc-3f32-0000-000000000000</parentGroupId>
                            <position>
<x>-624.0</x>
<y>-264.0</y>
                            </position>
                            <versionedComponentId>8d52a96b-80bf-3be4-ad01-55ab5bf0c8ba</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.19.1</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>URL</key>
        <value>
            <name>URL</name>
        </value>
    </entry>
    <entry>
        <key>Filename</key>
        <value>
            <name>Filename</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Username</key>
        <value>
            <name>Username</name>
        </value>
    </entry>
    <entry>
        <key>Password</key>
        <value>
            <name>Password</name>
        </value>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>
            <name>Connection Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Data Timeout</key>
        <value>
            <name>Data Timeout</name>
        </value>
    </entry>
    <entry>
        <key>User Agent</key>
        <value>
            <name>User Agent</name>
        </value>
    </entry>
    <entry>
        <key>Accept Content-Type</key>
        <value>
            <name>Accept Content-Type</name>
        </value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>
            <name>Follow Redirects</name>
        </value>
    </entry>
    <entry>
        <key>redirect-cookie-policy</key>
        <value>
            <name>redirect-cookie-policy</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host</key>
        <value>
            <name>Proxy Host</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Port</key>
        <value>
            <name>Proxy Port</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>URL</key>
        <value>${nifi_api_url}/site-to-site</value>
    </entry>
    <entry>
        <key>Filename</key>
        <value>site-to-site.json</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Username</key>
    </entry>
    <entry>
        <key>Password</key>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>30 sec</value>
    </entry>
    <entry>
        <key>Data Timeout</key>
        <value>30 sec</value>
    </entry>
    <entry>
        <key>User Agent</key>
        <value>nifi</value>
    </entry>
    <entry>
        <key>Accept Content-Type</key>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>false</value>
    </entry>
    <entry>
        <key>redirect-cookie-policy</key>
        <value>default</value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
    </entry>
    <entry>
        <key>Proxy Host</key>
    </entry>
    <entry>
        <key>Proxy Port</key>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>1 min</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>GetHTTP-site_to_site</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.GetHTTP</type>
                        </processors>
                        <processors>
                            <id>aa65c23f-8a8a-32b4-0000-000000000000</id>
                            <parentGroupId>4f5a638a-f3dc-3f32-0000-000000000000</parentGroupId>
                            <position>
<x>-624.0</x>
<y>-456.0</y>
                            </position>
                            <versionedComponentId>1371ddab-cfdc-309e-9127-0bea6d31b3c2</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.19.1</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>URL</key>
        <value>
            <name>URL</name>
        </value>
    </entry>
    <entry>
        <key>Filename</key>
        <value>
            <name>Filename</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Username</key>
        <value>
            <name>Username</name>
        </value>
    </entry>
    <entry>
        <key>Password</key>
        <value>
            <name>Password</name>
        </value>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>
            <name>Connection Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Data Timeout</key>
        <value>
            <name>Data Timeout</name>
        </value>
    </entry>
    <entry>
        <key>User Agent</key>
        <value>
            <name>User Agent</name>
        </value>
    </entry>
    <entry>
        <key>Accept Content-Type</key>
        <value>
            <name>Accept Content-Type</name>
        </value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>
            <name>Follow Redirects</name>
        </value>
    </entry>
    <entry>
        <key>redirect-cookie-policy</key>
        <value>
            <name>redirect-cookie-policy</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host</key>
        <value>
            <name>Proxy Host</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Port</key>
        <value>
            <name>Proxy Port</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>URL</key>
        <value>${nifi_api_url}/system-diagnostics</value>
    </entry>
    <entry>
        <key>Filename</key>
        <value>system-diagnostics.log</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Username</key>
    </entry>
    <entry>
        <key>Password</key>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>30 sec</value>
    </entry>
    <entry>
        <key>Data Timeout</key>
        <value>30 sec</value>
    </entry>
    <entry>
        <key>User Agent</key>
        <value>nifi</value>
    </entry>
    <entry>
        <key>Accept Content-Type</key>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>false</value>
    </entry>
    <entry>
        <key>redirect-cookie-policy</key>
        <value>default</value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
    </entry>
    <entry>
        <key>Proxy Host</key>
    </entry>
    <entry>
        <key>Proxy Port</key>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>1 min</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>GetHTTP-system_diagnostics</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.GetHTTP</type>
                        </processors>
                        <processors>
                            <id>b43076ac-5c10-30b3-0000-000000000000</id>
                            <parentGroupId>4f5a638a-f3dc-3f32-0000-000000000000</parentGroupId>
                            <position>
<x>-624.0</x>
<y>-80.0</y>
                            </position>
                            <versionedComponentId>db9f14bd-5d60-3b2c-957f-0023ccd669fc</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.19.1</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>URL</key>
        <value>
            <name>URL</name>
        </value>
    </entry>
    <entry>
        <key>Filename</key>
        <value>
            <name>Filename</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Username</key>
        <value>
            <name>Username</name>
        </value>
    </entry>
    <entry>
        <key>Password</key>
        <value>
            <name>Password</name>
        </value>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>
            <name>Connection Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Data Timeout</key>
        <value>
            <name>Data Timeout</name>
        </value>
    </entry>
    <entry>
        <key>User Agent</key>
        <value>
            <name>User Agent</name>
        </value>
    </entry>
    <entry>
        <key>Accept Content-Type</key>
        <value>
            <name>Accept Content-Type</name>
        </value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>
            <name>Follow Redirects</name>
        </value>
    </entry>
    <entry>
        <key>redirect-cookie-policy</key>
        <value>
            <name>redirect-cookie-policy</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host</key>
        <value>
            <name>Proxy Host</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Port</key>
        <value>
            <name>Proxy Port</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>URL</key>
        <value>${nifi_api_url}/flow/status</value>
    </entry>
    <entry>
        <key>Filename</key>
        <value>flow_status.json</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Username</key>
    </entry>
    <entry>
        <key>Password</key>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>30 sec</value>
    </entry>
    <entry>
        <key>Data Timeout</key>
        <value>30 sec</value>
    </entry>
    <entry>
        <key>User Agent</key>
        <value>nifi</value>
    </entry>
    <entry>
        <key>Accept Content-Type</key>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>false</value>
    </entry>
    <entry>
        <key>redirect-cookie-policy</key>
        <value>default</value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
    </entry>
    <entry>
        <key>Proxy Host</key>
    </entry>
    <entry>
        <key>Proxy Port</key>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>1 min</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>GetHTTP-_flow_status</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.GetHTTP</type>
                        </processors>
                        <processors>
                            <id>cf016549-44fd-3bda-0000-000000000000</id>
                            <parentGroupId>4f5a638a-f3dc-3f32-0000-000000000000</parentGroupId>
                            <position>
<x>32.0</x>
<y>-432.0</y>
                            </position>
                            <versionedComponentId>fcaa8186-1e69-3eda-8b5e-e7c21905645f</versionedComponentId>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.19.1</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>source</key>
        <value>
            <name>source</name>
        </value>
    </entry>
    <entry>
        <key>sourcetype</key>
        <value>
            <name>sourcetype</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>source</key>
        <value>nifi_self_rest_api</value>
    </entry>
    <entry>
        <key>sourcetype</key>
        <value>nifi:api:system_diagnostics</value>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Set-Splunk_variables</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>eec669ae-dea1-3f6c-0000-000000000000</id>
                            <parentGroupId>4f5a638a-f3dc-3f32-0000-000000000000</parentGroupId>
                            <position>
<x>32.0</x>
<y>-88.0</y>
                            </position>
                            <versionedComponentId>f057f8e0-3d6a-39d8-91b0-83d1ad8f2a83</versionedComponentId>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.19.1</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>source</key>
        <value>
            <name>source</name>
        </value>
    </entry>
    <entry>
        <key>sourcetype</key>
        <value>
            <name>sourcetype</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>source</key>
        <value>nifi_self_rest_api</value>
    </entry>
    <entry>
        <key>sourcetype</key>
        <value>nifi:api:flow_status</value>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Set-Splunk_variables</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Monitoring - API</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>a93eda33-4356-355d-0000-000000000000</id>
                    <parentGroupId>64a13363-0e30-3725-0000-000000000000</parentGroupId>
                    <position>
                        <x>464.0</x>
                        <y>616.0</y>
                    </position>
                    <versionedComponentId>3db4e7e7-cb11-3fb1-a036-8492f85f57d1</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>20a3c8ad-d5dc-320c-0000-000000000000</id>
                            <parentGroupId>a93eda33-4356-355d-0000-000000000000</parentGroupId>
                            <versionedComponentId>dea69ea5-e33a-3f87-847b-f67fff0b6678</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>a93eda33-4356-355d-0000-000000000000</groupId>
<id>c3775144-c28d-3364-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>ae75456f-87bf-3b36-8486-39cb7524995b</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>a93eda33-4356-355d-0000-000000000000</groupId>
<id>ef57e234-bc55-32fa-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>284dd1ea-c98b-3aa8-9b55-4f99a51e4056</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>21ef1032-b81a-3bd8-0000-000000000000</id>
                            <parentGroupId>a93eda33-4356-355d-0000-000000000000</parentGroupId>
                            <versionedComponentId>9ece8189-d5b7-34a1-a6a3-fe8e44aa85e0</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>a93eda33-4356-355d-0000-000000000000</groupId>
<id>c3775144-c28d-3364-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>ae75456f-87bf-3b36-8486-39cb7524995b</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>a93eda33-4356-355d-0000-000000000000</groupId>
<id>d913f957-41d4-3119-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>b9059878-48ed-3a3d-a8a8-1814bfd4d2a0</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>31e41bfd-e125-3e74-0000-000000000000</id>
                            <parentGroupId>a93eda33-4356-355d-0000-000000000000</parentGroupId>
                            <versionedComponentId>f9b83ae9-0f32-34e4-9e40-f9d5b0d3649b</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>a93eda33-4356-355d-0000-000000000000</groupId>
<id>ef57e234-bc55-32fa-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>284dd1ea-c98b-3aa8-9b55-4f99a51e4056</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>a93eda33-4356-355d-0000-000000000000</groupId>
<id>75080339-3195-3cb9-0000-000000000000</id>
<type>INPUT_PORT</type>
<versionedComponentId>4effa5ac-363a-31ce-9798-4e1af56e915e</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>763cc6fa-1a01-3f1d-0000-000000000000</id>
                            <parentGroupId>a93eda33-4356-355d-0000-000000000000</parentGroupId>
                            <versionedComponentId>2a10f6b3-99ec-3f2a-a1c4-7d7d9aa46e7b</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>a93eda33-4356-355d-0000-000000000000</groupId>
<id>d913f957-41d4-3119-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>b9059878-48ed-3a3d-a8a8-1814bfd4d2a0</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>a93eda33-4356-355d-0000-000000000000</groupId>
<id>fa41e573-e347-3bc2-0000-000000000000</id>
<type>INPUT_PORT</type>
<versionedComponentId>3144a3a8-7d04-3dc9-a964-d5dcc605da2d</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <inputPorts>
                            <id>75080339-3195-3cb9-0000-000000000000</id>
                            <parentGroupId>a93eda33-4356-355d-0000-000000000000</parentGroupId>
                            <position>
<x>112.0</x>
<y>80.0</y>
                            </position>
                            <versionedComponentId>4effa5ac-363a-31ce-9798-4e1af56e915e</versionedComponentId>
                            <allowRemoteAccess>true</allowRemoteAccess>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>reporting_task</name>
                            <state>STOPPED</state>
                            <transmitting>false</transmitting>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <inputPorts>
                            <id>fa41e573-e347-3bc2-0000-000000000000</id>
                            <parentGroupId>a93eda33-4356-355d-0000-000000000000</parentGroupId>
                            <position>
<x>112.0</x>
<y>240.0</y>
                            </position>
                            <versionedComponentId>3144a3a8-7d04-3dc9-a964-d5dcc605da2d</versionedComponentId>
                            <allowRemoteAccess>true</allowRemoteAccess>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>bulletin_report</name>
                            <state>STOPPED</state>
                            <transmitting>false</transmitting>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <outputPorts>
                            <id>c3775144-c28d-3364-0000-000000000000</id>
                            <parentGroupId>a93eda33-4356-355d-0000-000000000000</parentGroupId>
                            <position>
<x>1384.0</x>
<y>168.0</y>
                            </position>
                            <versionedComponentId>ae75456f-87bf-3b36-8486-39cb7524995b</versionedComponentId>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>output_reporting</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>d913f957-41d4-3119-0000-000000000000</id>
                            <parentGroupId>a93eda33-4356-355d-0000-000000000000</parentGroupId>
                            <position>
<x>688.0</x>
<y>216.0</y>
                            </position>
                            <versionedComponentId>b9059878-48ed-3a3d-a8a8-1814bfd4d2a0</versionedComponentId>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.19.1</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>source</key>
        <value>
            <name>source</name>
        </value>
    </entry>
    <entry>
        <key>sourcetype</key>
        <value>
            <name>sourcetype</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>source</key>
        <value>nifi_self_rest_api</value>
    </entry>
    <entry>
        <key>sourcetype</key>
        <value>nifi:reporting:bulletin</value>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Set-Splunk_variables</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>ef57e234-bc55-32fa-0000-000000000000</id>
                            <parentGroupId>a93eda33-4356-355d-0000-000000000000</parentGroupId>
                            <position>
<x>688.0</x>
<y>56.0</y>
                            </position>
                            <versionedComponentId>284dd1ea-c98b-3aa8-9b55-4f99a51e4056</versionedComponentId>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.19.1</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>source</key>
        <value>
            <name>source</name>
        </value>
    </entry>
    <entry>
        <key>sourcetype</key>
        <value>
            <name>sourcetype</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>source</key>
        <value>nifi_self_rest_api</value>
    </entry>
    <entry>
        <key>sourcetype</key>
        <value>nifi:reporting:task</value>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Set-Splunk_variables</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Monitoring - ReportingTask</name>
                    <variables/>
                </processGroups>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>NifiMonitoringTemplate1.2.0</name>
            <variables>
                <entry>
                    <key>splunk_hec_token</key>
                    <value>nifimonitoring123</value>
                </entry>
                <entry>
                    <key>processorgroups_status_history</key>
                    <value>312879cc-42f3-3b91-6a01-f61617a2abe0
0b3c1ad5-7743-3986-88ce-ba76c51acbca
3e9de984-4b75-37a8-eee1-c0cd38677b57</value>
                </entry>
                <entry>
                    <key>nifi_path</key>
                    <value>/opt/nifi/nifi-current/</value>
                </entry>
                <entry>
                    <key>splunk_hec</key>
                    <value>http://splunk1:8088/</value>
                </entry>
                <entry>
                    <key>nifi_api_url</key>
                    <value>http://127.0.0.1:8080/nifi-api</value>
                </entry>
            </variables>
        </processGroups>
    </snippet>
    <timestamp>03/09/2023 19:46:05 UTC</timestamp>
</template>
