flow_definition/NiFiMonitoring.json
{"flowContents":{"identifier":"c8cbd629-9ba3-396c-bf55-886c3536d555","instanceIdentifier":"e43a3cd2-2093-1fe7-081b-d2d622233555","name":"NiFiMonitoring","comments":"","position":{"x":-1601.2538469576002,"y":480.382802507109},"processGroups":[{"identifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","instanceIdentifier":"b4cc027f-fdbc-337c-3099-a2d4e1dace01","name":"Monitoring - ReportingTask","comments":"","position":{"x":472.0,"y":616.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"284dd1ea-c98b-3aa8-9b55-4f99a51e4056","instanceIdentifier":"de767e84-86d3-361a-7ca7-797229224e61","name":"Set-Splunk_variables","comments":"","position":{"x":688.0,"y":56.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.19.1"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sourcetype":"nifi:reporting:task","source":"nifi_self_rest_api","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sourcetype":{"name":"sourcetype","displayName":"sourcetype","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1"},{"identifier":"b9059878-48ed-3a3d-a8a8-1814bfd4d2a0","instanceIdentifier":"db6dec61-82b0-3930-5e5c-ce9d0a6907cb","name":"Set-Splunk_variables","comments":"","position":{"x":688.0,"y":216.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.19.1"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sourcetype":"nifi:reporting:bulletin","source":"nifi_self_rest_api","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sourcetype":{"name":"sourcetype","displayName":"sourcetype","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1"}],"inputPorts":[{"identifier":"3144a3a8-7d04-3dc9-a964-d5dcc605da2d","instanceIdentifier":"bdc2b254-5c98-3011-82e4-35c9c95baef0","name":"Copy of bulletin_report","comments":"","position":{"x":112.0,"y":240.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":true,"componentType":"INPUT_PORT","groupIdentifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1"},{"identifier":"4effa5ac-363a-31ce-9798-4e1af56e915e","instanceIdentifier":"6945058c-db48-3488-e0ca-53d7659363ac","name":"Copy of reporting_task","comments":"","position":{"x":112.0,"y":80.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":true,"componentType":"INPUT_PORT","groupIdentifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1"}],"outputPorts":[{"identifier":"ae75456f-87bf-3b36-8486-39cb7524995b","instanceIdentifier":"ece4d266-12cf-32c6-b147-4d97b03c9540","name":"output_reporting","comments":"","position":{"x":1384.0,"y":168.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1"}],"connections":[{"identifier":"dea69ea5-e33a-3f87-847b-f67fff0b6678","instanceIdentifier":"673f1448-2334-31f7-957d-12d1ebd85dee","name":"","source":{"id":"284dd1ea-c98b-3aa8-9b55-4f99a51e4056","type":"PROCESSOR","groupId":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"de767e84-86d3-361a-7ca7-797229224e61"},"destination":{"id":"ae75456f-87bf-3b36-8486-39cb7524995b","type":"OUTPUT_PORT","groupId":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","name":"output_reporting","comments":"","instanceIdentifier":"ece4d266-12cf-32c6-b147-4d97b03c9540"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1"},{"identifier":"9ece8189-d5b7-34a1-a6a3-fe8e44aa85e0","instanceIdentifier":"e79d59e2-6c24-3218-ac8b-e60e353214b9","name":"","source":{"id":"b9059878-48ed-3a3d-a8a8-1814bfd4d2a0","type":"PROCESSOR","groupId":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"db6dec61-82b0-3930-5e5c-ce9d0a6907cb"},"destination":{"id":"ae75456f-87bf-3b36-8486-39cb7524995b","type":"OUTPUT_PORT","groupId":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","name":"output_reporting","comments":"","instanceIdentifier":"ece4d266-12cf-32c6-b147-4d97b03c9540"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1"},{"identifier":"2a10f6b3-99ec-3f2a-a1c4-7d7d9aa46e7b","instanceIdentifier":"c47a28a7-16ac-3226-671c-9f2971342de3","name":"","source":{"id":"3144a3a8-7d04-3dc9-a964-d5dcc605da2d","type":"INPUT_PORT","groupId":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","name":"Copy of bulletin_report","comments":"","instanceIdentifier":"bdc2b254-5c98-3011-82e4-35c9c95baef0"},"destination":{"id":"b9059878-48ed-3a3d-a8a8-1814bfd4d2a0","type":"PROCESSOR","groupId":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"db6dec61-82b0-3930-5e5c-ce9d0a6907cb"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1"},{"identifier":"f9b83ae9-0f32-34e4-9e40-f9d5b0d3649b","instanceIdentifier":"3150edb4-242f-3d34-cbbb-f567fa2ac540","name":"","source":{"id":"4effa5ac-363a-31ce-9798-4e1af56e915e","type":"INPUT_PORT","groupId":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","name":"Copy of reporting_task","comments":"","instanceIdentifier":"6945058c-db48-3488-e0ca-53d7659363ac"},"destination":{"id":"284dd1ea-c98b-3aa8-9b55-4f99a51e4056","type":"PROCESSOR","groupId":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"de767e84-86d3-361a-7ca7-797229224e61"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"c8cbd629-9ba3-396c-bf55-886c3536d555"},{"identifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","instanceIdentifier":"b4a01415-9321-3018-9551-ac336bd9e92c","name":"Monitoring - API","comments":"","position":{"x":472.0,"y":168.0},"processGroups":[{"identifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4","instanceIdentifier":"d9bcd535-e668-3df3-417b-9cdedfc0748d","name":"GetHTTP-processors_history","comments":"","position":{"x":-640.0,"y":304.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"4dd789a6-65c1-30be-965e-3416ebbc8632","instanceIdentifier":"d1edba5c-87f0-39e7-4e60-5d00f3437e60","name":"InvokeHTTP","comments":"","position":{"x":1528.0,"y":160.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"http://${hostname(true)}:8080/nifi-api/flow/processors/${pid}/status/history","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Retry","Original"],"scheduledState":"ENABLED","retryCount":5,"retriedRelationships":["Failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4"},{"identifier":"cb31b747-a474-353a-8771-0e993f1e3212","instanceIdentifier":"43918dd1-b6db-3e7d-97de-ba11512f468e","name":"GenerateFlowFile","comments":"","position":{"x":-280.0,"y":168.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"${processors_list}","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"15 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4"},{"identifier":"2852d208-05ee-3e01-b54a-14000cb346ab","instanceIdentifier":"96d158a6-b0a9-3875-3693-986d9e7fff18","name":"SplitText","comments":"","position":{"x":272.0,"y":168.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4"},{"identifier":"9c48b061-11a5-35c2-88f9-eae96cae5727","instanceIdentifier":"c7837e85-10cd-3bfb-8a62-dbd604ace1a0","name":"ExtractText","comments":"","position":{"x":840.0,"y":168.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","extract-text-enable-named-groups":"false","pid":"(.+)","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true","extract-text-enable-repeating-capture-group":"false"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false},"extract-text-enable-named-groups":{"name":"extract-text-enable-named-groups","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false},"pid":{"name":"pid","displayName":"pid","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false},"extract-text-enable-repeating-capture-group":{"name":"extract-text-enable-repeating-capture-group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4"},{"identifier":"7d7ffc48-1a93-32e9-8f5c-615d19ade85f","instanceIdentifier":"2f90bdd9-73e8-3eff-0824-5f1e8f9fb959","name":"LogMessage","comments":"","position":{"x":848.0,"y":600.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"log-message":"Error in processgroups status history","log-level":"error","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4"}],"inputPorts":[],"outputPorts":[{"identifier":"e3fc2b30-d233-35ca-a7f2-cdf768a1993a","instanceIdentifier":"3f8ba4af-1a8b-3770-f227-956093bf3942","name":"out_processgroup_status_history","position":{"x":2184.0,"y":192.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4"}],"connections":[{"identifier":"fd9729b3-c5f6-3875-b62b-66870c460d9d","instanceIdentifier":"5fe93528-51a5-3390-89ba-2e85b344f3b4","name":"","source":{"id":"2852d208-05ee-3e01-b54a-14000cb346ab","type":"PROCESSOR","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"SplitText","comments":"","instanceIdentifier":"96d158a6-b0a9-3875-3693-986d9e7fff18"},"destination":{"id":"9c48b061-11a5-35c2-88f9-eae96cae5727","type":"PROCESSOR","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"ExtractText","comments":"","instanceIdentifier":"c7837e85-10cd-3bfb-8a62-dbd604ace1a0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4"},{"identifier":"bd94e076-f814-31c4-b739-000bd25185ae","instanceIdentifier":"069df02d-4d39-345a-9fc6-8c863a0f74e5","name":"","source":{"id":"cb31b747-a474-353a-8771-0e993f1e3212","type":"PROCESSOR","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"GenerateFlowFile","comments":"","instanceIdentifier":"43918dd1-b6db-3e7d-97de-ba11512f468e"},"destination":{"id":"2852d208-05ee-3e01-b54a-14000cb346ab","type":"PROCESSOR","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"SplitText","comments":"","instanceIdentifier":"96d158a6-b0a9-3875-3693-986d9e7fff18"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4"},{"identifier":"ca2f2fc8-4730-3a74-9f11-4a39888940a3","instanceIdentifier":"3e00c604-3ee7-3712-376a-d1b9ff4dd79b","name":"","source":{"id":"4dd789a6-65c1-30be-965e-3416ebbc8632","type":"PROCESSOR","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"InvokeHTTP","comments":"","instanceIdentifier":"d1edba5c-87f0-39e7-4e60-5d00f3437e60"},"destination":{"id":"7d7ffc48-1a93-32e9-8f5c-615d19ade85f","type":"PROCESSOR","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"LogMessage","comments":"","instanceIdentifier":"2f90bdd9-73e8-3eff-0824-5f1e8f9fb959"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4"},{"identifier":"6fa1498f-5d54-39b4-8ee4-8981efa71217","instanceIdentifier":"6e0ba85e-3f9d-35b2-6ed3-6e72a04f283a","name":"","source":{"id":"2852d208-05ee-3e01-b54a-14000cb346ab","type":"PROCESSOR","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"SplitText","comments":"","instanceIdentifier":"96d158a6-b0a9-3875-3693-986d9e7fff18"},"destination":{"id":"7d7ffc48-1a93-32e9-8f5c-615d19ade85f","type":"PROCESSOR","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"LogMessage","comments":"","instanceIdentifier":"2f90bdd9-73e8-3eff-0824-5f1e8f9fb959"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4"},{"identifier":"7cd5d0b1-e574-34e0-a5b5-63372b0287ec","instanceIdentifier":"30bce5ee-4da5-32bb-48de-522b4c84531c","name":"","source":{"id":"9c48b061-11a5-35c2-88f9-eae96cae5727","type":"PROCESSOR","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"ExtractText","comments":"","instanceIdentifier":"c7837e85-10cd-3bfb-8a62-dbd604ace1a0"},"destination":{"id":"4dd789a6-65c1-30be-965e-3416ebbc8632","type":"PROCESSOR","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"InvokeHTTP","comments":"","instanceIdentifier":"d1edba5c-87f0-39e7-4e60-5d00f3437e60"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4"},{"identifier":"f4a44787-e1a9-35e5-ada9-2417e50b9706","instanceIdentifier":"ce135098-4134-37e0-8eaf-2ed6413f8dba","name":"","source":{"id":"4dd789a6-65c1-30be-965e-3416ebbc8632","type":"PROCESSOR","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"InvokeHTTP","comments":"","instanceIdentifier":"d1edba5c-87f0-39e7-4e60-5d00f3437e60"},"destination":{"id":"e3fc2b30-d233-35ca-a7f2-cdf768a1993a","type":"OUTPUT_PORT","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"out_processgroup_status_history","instanceIdentifier":"3f8ba4af-1a8b-3770-f227-956093bf3942"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3cf507e0-b9f0-38b9-8875-39073eba04d4"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"c80e485c-419a-3e3e-b75d-724469f7783c","instanceIdentifier":"b3b6f50a-0c1b-3483-236e-942491c5fc65","name":"GetHTTP-process_groups_history","comments":"","position":{"x":-640.0,"y":72.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"4dd789a6-65c1-30be-965e-3416ebbc8632","instanceIdentifier":"14cd2d7e-1604-3512-7a7b-d800a0731484","name":"InvokeHTTP","comments":"","position":{"x":1528.0,"y":160.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"http://${hostname(true)}:8080/nifi-api/flow/process-groups/${pid}/status/history","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Retry","Original"],"scheduledState":"ENABLED","retryCount":5,"retriedRelationships":["Failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c80e485c-419a-3e3e-b75d-724469f7783c"},{"identifier":"cb31b747-a474-353a-8771-0e993f1e3212","instanceIdentifier":"3558c0ec-7c53-3abf-7000-e7314bda28e8","name":"GenerateFlowFile","comments":"","position":{"x":-280.0,"y":168.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"${process_groups_list}","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"15 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c80e485c-419a-3e3e-b75d-724469f7783c"},{"identifier":"2852d208-05ee-3e01-b54a-14000cb346ab","instanceIdentifier":"2f0e4f08-cd2a-3864-1fc0-9f46af41332c","name":"SplitText","comments":"","position":{"x":272.0,"y":168.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c80e485c-419a-3e3e-b75d-724469f7783c"},{"identifier":"9c48b061-11a5-35c2-88f9-eae96cae5727","instanceIdentifier":"20f5dfe1-8944-3179-975f-50d685615fec","name":"ExtractText","comments":"","position":{"x":840.0,"y":168.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","extract-text-enable-named-groups":"false","pid":"(.+)","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true","extract-text-enable-repeating-capture-group":"false"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false},"extract-text-enable-named-groups":{"name":"extract-text-enable-named-groups","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false},"pid":{"name":"pid","displayName":"pid","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false},"extract-text-enable-repeating-capture-group":{"name":"extract-text-enable-repeating-capture-group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c80e485c-419a-3e3e-b75d-724469f7783c"},{"identifier":"7d7ffc48-1a93-32e9-8f5c-615d19ade85f","instanceIdentifier":"7897e583-bca4-3919-1fe0-fd98671ee49f","name":"LogMessage","comments":"","position":{"x":848.0,"y":600.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"log-message":"Error in processgroups status history","log-level":"error","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c80e485c-419a-3e3e-b75d-724469f7783c"}],"inputPorts":[],"outputPorts":[{"identifier":"e3fc2b30-d233-35ca-a7f2-cdf768a1993a","instanceIdentifier":"08048db0-153e-3e55-209f-ef367d1837be","name":"out_processgroup_status_history","position":{"x":2184.0,"y":192.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"c80e485c-419a-3e3e-b75d-724469f7783c"}],"connections":[{"identifier":"fd9729b3-c5f6-3875-b62b-66870c460d9d","instanceIdentifier":"b2a01382-4a97-3216-39a4-e95db7c28535","name":"","source":{"id":"2852d208-05ee-3e01-b54a-14000cb346ab","type":"PROCESSOR","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"SplitText","comments":"","instanceIdentifier":"2f0e4f08-cd2a-3864-1fc0-9f46af41332c"},"destination":{"id":"9c48b061-11a5-35c2-88f9-eae96cae5727","type":"PROCESSOR","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"ExtractText","comments":"","instanceIdentifier":"20f5dfe1-8944-3179-975f-50d685615fec"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c80e485c-419a-3e3e-b75d-724469f7783c"},{"identifier":"bd94e076-f814-31c4-b739-000bd25185ae","instanceIdentifier":"118390b0-a706-3431-d132-dc5064d286f3","name":"","source":{"id":"cb31b747-a474-353a-8771-0e993f1e3212","type":"PROCESSOR","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"GenerateFlowFile","comments":"","instanceIdentifier":"3558c0ec-7c53-3abf-7000-e7314bda28e8"},"destination":{"id":"2852d208-05ee-3e01-b54a-14000cb346ab","type":"PROCESSOR","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"SplitText","comments":"","instanceIdentifier":"2f0e4f08-cd2a-3864-1fc0-9f46af41332c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c80e485c-419a-3e3e-b75d-724469f7783c"},{"identifier":"ca2f2fc8-4730-3a74-9f11-4a39888940a3","instanceIdentifier":"abf2c003-92b6-3e2f-88e8-8f59475bed9b","name":"","source":{"id":"4dd789a6-65c1-30be-965e-3416ebbc8632","type":"PROCESSOR","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"InvokeHTTP","comments":"","instanceIdentifier":"14cd2d7e-1604-3512-7a7b-d800a0731484"},"destination":{"id":"7d7ffc48-1a93-32e9-8f5c-615d19ade85f","type":"PROCESSOR","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"LogMessage","comments":"","instanceIdentifier":"7897e583-bca4-3919-1fe0-fd98671ee49f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c80e485c-419a-3e3e-b75d-724469f7783c"},{"identifier":"6fa1498f-5d54-39b4-8ee4-8981efa71217","instanceIdentifier":"0d9fbbbf-005c-31e0-992c-3ad51cbd2654","name":"","source":{"id":"2852d208-05ee-3e01-b54a-14000cb346ab","type":"PROCESSOR","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"SplitText","comments":"","instanceIdentifier":"2f0e4f08-cd2a-3864-1fc0-9f46af41332c"},"destination":{"id":"7d7ffc48-1a93-32e9-8f5c-615d19ade85f","type":"PROCESSOR","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"LogMessage","comments":"","instanceIdentifier":"7897e583-bca4-3919-1fe0-fd98671ee49f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c80e485c-419a-3e3e-b75d-724469f7783c"},{"identifier":"7cd5d0b1-e574-34e0-a5b5-63372b0287ec","instanceIdentifier":"bdb7df50-0992-349b-9056-2b1f04b0c12a","name":"","source":{"id":"9c48b061-11a5-35c2-88f9-eae96cae5727","type":"PROCESSOR","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"ExtractText","comments":"","instanceIdentifier":"20f5dfe1-8944-3179-975f-50d685615fec"},"destination":{"id":"4dd789a6-65c1-30be-965e-3416ebbc8632","type":"PROCESSOR","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"InvokeHTTP","comments":"","instanceIdentifier":"14cd2d7e-1604-3512-7a7b-d800a0731484"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c80e485c-419a-3e3e-b75d-724469f7783c"},{"identifier":"f4a44787-e1a9-35e5-ada9-2417e50b9706","instanceIdentifier":"796ee5c2-1f61-3040-e2f2-e5e8902d2e5f","name":"","source":{"id":"4dd789a6-65c1-30be-965e-3416ebbc8632","type":"PROCESSOR","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"InvokeHTTP","comments":"","instanceIdentifier":"14cd2d7e-1604-3512-7a7b-d800a0731484"},"destination":{"id":"e3fc2b30-d233-35ca-a7f2-cdf768a1993a","type":"OUTPUT_PORT","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"out_processgroup_status_history","instanceIdentifier":"08048db0-153e-3e55-209f-ef367d1837be"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c80e485c-419a-3e3e-b75d-724469f7783c"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"}],"remoteProcessGroups":[],"processors":[{"identifier":"db9f14bd-5d60-3b2c-957f-0023ccd669fc","instanceIdentifier":"69fe654e-0b98-31e0-2779-161dddcb869c","name":"GetHTTP-flow_status","comments":"","position":{"x":-624.0,"y":-104.0},"type":"org.apache.nifi.processors.standard.GetHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Proxy Host":null,"redirect-cookie-policy":"default","proxy-configuration-service":null,"Filename":"flow_status.json","User Agent":"nifi","Proxy Port":null,"URL":"${nifi_api_url}/flow/status","Connection Timeout":"30 sec","Data Timeout":"30 sec","SSL Context Service":null,"Username":null,"Accept Content-Type":null,"Follow Redirects":"false"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"redirect-cookie-policy":{"name":"redirect-cookie-policy","displayName":"Redirect Cookie Policy","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Filename":{"name":"Filename","displayName":"Filename","identifiesControllerService":false,"sensitive":false},"User Agent":{"name":"User Agent","displayName":"User Agent","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"URL":{"name":"URL","displayName":"URL","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"Data Timeout":{"name":"Data Timeout","displayName":"Data Timeout","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"Accept Content-Type":{"name":"Accept Content-Type","displayName":"Accept Content-Type","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Follow Redirects","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"38ae2ec7-5e9f-3be0-85c8-e5ded6ddc73d","instanceIdentifier":"c0706604-2e72-3443-877d-24b68c0f26ed","name":"Set-Splunk_variables","comments":"","position":{"x":32.0,"y":-272.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.19.1"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sourcetype":"nifi:api:site_to_site","source":"nifi_self_rest_api","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sourcetype":{"name":"sourcetype","displayName":"sourcetype","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"fcaa8186-1e69-3eda-8b5e-e7c21905645f","instanceIdentifier":"9dd7932a-fb69-3dfc-080e-eb64abad57c1","name":"Set-Splunk_variables","comments":"","position":{"x":26.6109619140625,"y":-444.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.19.1"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sourcetype":"nifi:api:system_diagnostics","source":"nifi_self_rest_api","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sourcetype":{"name":"sourcetype","displayName":"sourcetype","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"1371ddab-cfdc-309e-9127-0bea6d31b3c2","instanceIdentifier":"41293ab0-b05a-359d-7851-db4764bebca8","name":"GetHTTP-system_diagnostics","comments":"","position":{"x":-629.3890380859375,"y":-444.0},"type":"org.apache.nifi.processors.standard.GetHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Proxy Host":null,"redirect-cookie-policy":"default","proxy-configuration-service":null,"Filename":"system-diagnostics.log","User Agent":"nifi","Proxy Port":null,"URL":"${nifi_api_url}/system-diagnostics","Connection Timeout":"30 sec","Data Timeout":"30 sec","SSL Context Service":null,"Username":null,"Accept Content-Type":null,"Follow Redirects":"false"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"redirect-cookie-policy":{"name":"redirect-cookie-policy","displayName":"Redirect Cookie Policy","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Filename":{"name":"Filename","displayName":"Filename","identifiesControllerService":false,"sensitive":false},"User Agent":{"name":"User Agent","displayName":"User Agent","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"URL":{"name":"URL","displayName":"URL","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"Data Timeout":{"name":"Data Timeout","displayName":"Data Timeout","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"Accept Content-Type":{"name":"Accept Content-Type","displayName":"Accept Content-Type","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Follow Redirects","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"f057f8e0-3d6a-39d8-91b0-83d1ad8f2a83","instanceIdentifier":"83ddf6be-0d3c-31cf-9e3e-627fece1b508","name":"Set-Splunk_variables","comments":"","position":{"x":32.0,"y":-88.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.19.1"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sourcetype":"nifi:api:flow_status","source":"nifi_self_rest_api","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sourcetype":{"name":"sourcetype","displayName":"sourcetype","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"892456ae-b572-3b87-9ae7-a500b03fd042","instanceIdentifier":"ab4ca2ca-030d-35a9-a9de-f6ad17a9a60f","name":"Set-Splunk_variables","comments":"","position":{"x":32.0,"y":328.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.19.1"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sourcetype":"nifi:api:processors_history","source":"nifi_self_rest_api","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sourcetype":{"name":"sourcetype","displayName":"sourcetype","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"8d52a96b-80bf-3be4-ad01-55ab5bf0c8ba","instanceIdentifier":"58cf036f-d52e-3041-f8b0-9386568e0267","name":"GetHTTP-site_to_site","comments":"","position":{"x":-624.0,"y":-272.0},"type":"org.apache.nifi.processors.standard.GetHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Proxy Host":null,"redirect-cookie-policy":"default","proxy-configuration-service":null,"Filename":"site-to-site.json","User Agent":"nifi","Proxy Port":null,"URL":"${nifi_api_url}/site-to-site","Connection Timeout":"30 sec","Data Timeout":"30 sec","SSL Context Service":null,"Username":null,"Accept Content-Type":null,"Follow Redirects":"false"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"redirect-cookie-policy":{"name":"redirect-cookie-policy","displayName":"Redirect Cookie Policy","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Filename":{"name":"Filename","displayName":"Filename","identifiesControllerService":false,"sensitive":false},"User Agent":{"name":"User Agent","displayName":"User Agent","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"URL":{"name":"URL","displayName":"URL","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"Data Timeout":{"name":"Data Timeout","displayName":"Data Timeout","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"Accept Content-Type":{"name":"Accept Content-Type","displayName":"Accept Content-Type","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Follow Redirects","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"7ba9f234-b952-3dd8-8249-715331399bb9","instanceIdentifier":"4e064b78-7040-3d89-c5b2-fdb0959dd37d","name":"Set-Splunk_variables","comments":"","position":{"x":32.0,"y":96.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.19.1"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sourcetype":"nifi:api:process_groups_history","source":"nifi_self_rest_api","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sourcetype":{"name":"sourcetype","displayName":"sourcetype","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"}],"inputPorts":[],"outputPorts":[{"identifier":"0b15d067-df10-3c52-9ad7-5eeefac12b96","instanceIdentifier":"21320f43-37ce-3fac-b644-04038df29b34","name":"output_api","comments":"","position":{"x":1048.0,"y":-64.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"}],"connections":[{"identifier":"0f012166-7ff8-3b5a-b816-bc197199f353","instanceIdentifier":"4401527c-5451-30ad-e0c3-0ad6e2e8f49a","name":"","source":{"id":"892456ae-b572-3b87-9ae7-a500b03fd042","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"ab4ca2ca-030d-35a9-a9de-f6ad17a9a60f"},"destination":{"id":"feec6feb-121f-33df-b53d-cee70c859ddc","type":"FUNNEL","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Funnel","comments":"","instanceIdentifier":"809cb8ee-628f-3e6b-829a-4151e54ceb5f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"f1233de2-e722-3f25-a95b-9cb21c06b049","instanceIdentifier":"0491d8f9-93dd-3e01-4225-fffae02613f4","name":"","source":{"id":"e3fc2b30-d233-35ca-a7f2-cdf768a1993a","type":"OUTPUT_PORT","groupId":"3cf507e0-b9f0-38b9-8875-39073eba04d4","name":"out_processgroup_status_history","instanceIdentifier":"3f8ba4af-1a8b-3770-f227-956093bf3942"},"destination":{"id":"892456ae-b572-3b87-9ae7-a500b03fd042","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"ab4ca2ca-030d-35a9-a9de-f6ad17a9a60f"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"067f9472-a224-3eb3-9a56-c5c4f9db64af","instanceIdentifier":"445f5cbe-6b2d-3911-c9e3-4482174d1f6e","name":"","source":{"id":"38ae2ec7-5e9f-3be0-85c8-e5ded6ddc73d","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"c0706604-2e72-3443-877d-24b68c0f26ed"},"destination":{"id":"feec6feb-121f-33df-b53d-cee70c859ddc","type":"FUNNEL","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Funnel","comments":"","instanceIdentifier":"809cb8ee-628f-3e6b-829a-4151e54ceb5f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"d8d76da0-de63-3f6d-af99-5766dd23b651","instanceIdentifier":"5230470a-e832-3c33-85f5-dee3afdd57ff","name":"","source":{"id":"f057f8e0-3d6a-39d8-91b0-83d1ad8f2a83","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"83ddf6be-0d3c-31cf-9e3e-627fece1b508"},"destination":{"id":"feec6feb-121f-33df-b53d-cee70c859ddc","type":"FUNNEL","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Funnel","comments":"","instanceIdentifier":"809cb8ee-628f-3e6b-829a-4151e54ceb5f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"8a0d00e4-729f-327f-9575-321247ea973f","instanceIdentifier":"fa00f5b0-f762-370d-1077-4e5e1662daca","name":"","source":{"id":"7ba9f234-b952-3dd8-8249-715331399bb9","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"4e064b78-7040-3d89-c5b2-fdb0959dd37d"},"destination":{"id":"feec6feb-121f-33df-b53d-cee70c859ddc","type":"FUNNEL","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Funnel","comments":"","instanceIdentifier":"809cb8ee-628f-3e6b-829a-4151e54ceb5f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"72e45bf8-70ef-3809-8430-ba9156d2007f","instanceIdentifier":"3e84f2a7-58d9-32f8-78c6-6a65c205293f","name":"","source":{"id":"db9f14bd-5d60-3b2c-957f-0023ccd669fc","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"GetHTTP-flow_status","comments":"","instanceIdentifier":"69fe654e-0b98-31e0-2779-161dddcb869c"},"destination":{"id":"f057f8e0-3d6a-39d8-91b0-83d1ad8f2a83","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"83ddf6be-0d3c-31cf-9e3e-627fece1b508"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"0bd9c1ec-6ba2-3feb-9e1e-7e53c7e99cc7","instanceIdentifier":"630d07d8-af0e-37c7-61eb-783ad5fe80b6","name":"","source":{"id":"8d52a96b-80bf-3be4-ad01-55ab5bf0c8ba","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"GetHTTP-site_to_site","comments":"","instanceIdentifier":"58cf036f-d52e-3041-f8b0-9386568e0267"},"destination":{"id":"38ae2ec7-5e9f-3be0-85c8-e5ded6ddc73d","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"c0706604-2e72-3443-877d-24b68c0f26ed"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"7a404d51-1db8-3921-ba09-0f057e2a3323","instanceIdentifier":"cfe148e7-74ea-3d15-7c40-2fa3051d17d4","name":"","source":{"id":"e3fc2b30-d233-35ca-a7f2-cdf768a1993a","type":"OUTPUT_PORT","groupId":"c80e485c-419a-3e3e-b75d-724469f7783c","name":"out_processgroup_status_history","instanceIdentifier":"08048db0-153e-3e55-209f-ef367d1837be"},"destination":{"id":"7ba9f234-b952-3dd8-8249-715331399bb9","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"4e064b78-7040-3d89-c5b2-fdb0959dd37d"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"efc8a424-9d9f-31d7-b6c9-a4b0b4fd565a","instanceIdentifier":"1b0e0379-6d0d-3302-5694-c941595973a8","name":"","source":{"id":"fcaa8186-1e69-3eda-8b5e-e7c21905645f","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"9dd7932a-fb69-3dfc-080e-eb64abad57c1"},"destination":{"id":"feec6feb-121f-33df-b53d-cee70c859ddc","type":"FUNNEL","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Funnel","comments":"","instanceIdentifier":"809cb8ee-628f-3e6b-829a-4151e54ceb5f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"fad0e424-5839-3668-b968-679389f650b7","instanceIdentifier":"8c7052f4-2149-3cb1-0aad-037aa74006c7","name":"","source":{"id":"1371ddab-cfdc-309e-9127-0bea6d31b3c2","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"GetHTTP-system_diagnostics","comments":"","instanceIdentifier":"41293ab0-b05a-359d-7851-db4764bebca8"},"destination":{"id":"fcaa8186-1e69-3eda-8b5e-e7c21905645f","type":"PROCESSOR","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"9dd7932a-fb69-3dfc-080e-eb64abad57c1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"},{"identifier":"237f7b54-89d9-32a7-8f63-b0f561a72312","instanceIdentifier":"95256811-dedc-3530-2cf1-db340bdd584a","name":"","source":{"id":"feec6feb-121f-33df-b53d-cee70c859ddc","type":"FUNNEL","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"Funnel","comments":"","instanceIdentifier":"809cb8ee-628f-3e6b-829a-4151e54ceb5f"},"destination":{"id":"0b15d067-df10-3c52-9ad7-5eeefac12b96","type":"OUTPUT_PORT","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"output_api","comments":"","instanceIdentifier":"21320f43-37ce-3fac-b644-04038df29b34"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"}],"labels":[],"funnels":[{"identifier":"feec6feb-121f-33df-b53d-cee70c859ddc","instanceIdentifier":"809cb8ee-628f-3e6b-829a-4151e54ceb5f","position":{"x":760.0,"y":-64.0},"componentType":"FUNNEL","groupIdentifier":"2398c9d0-623d-3ad1-903b-b70ff553b6d2"}],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"c8cbd629-9ba3-396c-bf55-886c3536d555"},{"identifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","instanceIdentifier":"2f347a83-7e58-3de1-4289-ec15b3161efb","name":"Monitoring - Logs","comments":"","position":{"x":472.0,"y":392.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"4a012b1c-5e33-3b43-91b2-e6d5731533bf","instanceIdentifier":"e0f67b9e-9023-39ae-93fe-fa5215770a43","name":"Set-Splunk_variables","comments":"","position":{"x":2368.0,"y":112.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.19.1"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sourcetype":"nifi:log:app","source":"nifi_app_${now():toNumber():format('yyyyMMddHHmmss')}.log","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sourcetype":{"name":"sourcetype","displayName":"sourcetype","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"cdecc426-2e15-39d4-823a-16214b5f0ef6","instanceIdentifier":"eea9c4f6-8841-3c6c-c7f2-229522a775ef","name":"ReadLogsNifi","comments":"","position":{"x":416.0,"y":296.0},"type":"org.apache.nifi.processors.standard.TailFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"tailfile-recursive-lookup":"false","File Location":"Local","Line Start Pattern":null,"Rolling Filename Pattern":null,"Initial Start Position":"Beginning of File","pre-allocated-buffer-size":"65536 B","Post-Rollover Tail Period":"0 sec","tail-base-directory":"${nifi_path}logs","reread-on-nul":"false","tailfile-maximum-age":"1 hours","Max Buffer Size":"64 KB","File to Tail":"nifi\\-.*","tailfile-lookup-frequency":"10 minutes","tail-mode":"Multiple files"},"propertyDescriptors":{"tailfile-recursive-lookup":{"name":"tailfile-recursive-lookup","displayName":"Recursive lookup","identifiesControllerService":false,"sensitive":false},"File Location":{"name":"File Location","displayName":"State Location","identifiesControllerService":false,"sensitive":false},"Line Start Pattern":{"name":"Line Start Pattern","displayName":"Line Start Pattern","identifiesControllerService":false,"sensitive":false},"Rolling Filename Pattern":{"name":"Rolling Filename Pattern","displayName":"Rolling Filename Pattern","identifiesControllerService":false,"sensitive":false},"Initial Start Position":{"name":"Initial Start Position","displayName":"Initial Start Position","identifiesControllerService":false,"sensitive":false},"pre-allocated-buffer-size":{"name":"pre-allocated-buffer-size","displayName":"Pre-Allocated Buffer Size","identifiesControllerService":false,"sensitive":false},"Post-Rollover Tail Period":{"name":"Post-Rollover Tail Period","displayName":"Post-Rollover Tail Period","identifiesControllerService":false,"sensitive":false},"tail-base-directory":{"name":"tail-base-directory","displayName":"Base directory","identifiesControllerService":false,"sensitive":false},"reread-on-nul":{"name":"reread-on-nul","displayName":"Reread when NUL encountered","identifiesControllerService":false,"sensitive":false},"tailfile-maximum-age":{"name":"tailfile-maximum-age","displayName":"Maximum age","identifiesControllerService":false,"sensitive":false},"Max Buffer Size":{"name":"Max Buffer Size","displayName":"Max Buffer Size","identifiesControllerService":false,"sensitive":false},"File to Tail":{"name":"File to Tail","displayName":"File(s) to Tail","identifiesControllerService":false,"sensitive":false},"tailfile-lookup-frequency":{"name":"tailfile-lookup-frequency","displayName":"Lookup frequency","identifiesControllerService":false,"sensitive":false},"tail-mode":{"name":"tail-mode","displayName":"Tailing mode","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"3 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"2611bfca-fb8c-3665-a671-451975c74b60","instanceIdentifier":"32a1c34f-d990-33b3-cf47-585c434d9db8","name":"RouteLogsNifi","comments":"","position":{"x":1104.0,"y":296.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"nifi-bootstrap":"${filename:contains('nifi-bootstrap')}","Routing Strategy":"Route to Property name","nifi-user":"${filename:contains('nifi-user')}","nifi-app":"${filename:contains('nifi-app')}"},"propertyDescriptors":{"nifi-bootstrap":{"name":"nifi-bootstrap","displayName":"nifi-bootstrap","identifiesControllerService":false,"sensitive":false},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"nifi-user":{"name":"nifi-user","displayName":"nifi-user","identifiesControllerService":false,"sensitive":false},"nifi-app":{"name":"nifi-app","displayName":"nifi-app","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"f35d3730-e234-392e-b8e7-6fdbfeada841","instanceIdentifier":"3b06a653-07a4-32a5-d402-592873d494fe","name":"Set-Splunk_variables","comments":"","position":{"x":2376.0,"y":464.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.19.1"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sourcetype":"nifi:log:bootstrap","source":"nifi_bootstrap_${now():toNumber():format('yyyyMMddHHmmss')}.log","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sourcetype":{"name":"sourcetype","displayName":"sourcetype","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"f7ddaf54-34aa-3e0c-a2c7-05b1eb792317","instanceIdentifier":"9113ad40-9d39-3724-21c6-92736306274a","name":"Set-Splunk_variables","comments":"","position":{"x":2368.0,"y":280.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.19.1"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sourcetype":"nifi:log:user","source":"nifi_user_${now():toNumber():format('yyyyMMddHHmmss')}.log","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sourcetype":{"name":"sourcetype","displayName":"sourcetype","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"519eca8e-29e4-3d02-81b1-d78c4af5f1fc","instanceIdentifier":"4cb7daf7-1759-3e67-89f8-389705934caf","name":"nifi-app","comments":"","position":{"x":1720.0,"y":120.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"22a10724-4dd1-35ef-98d3-257057f060fb","instanceIdentifier":"8aa9e9aa-bda1-3d90-22e6-bb1b3dbc0ba3","name":"nifi-user","comments":"","position":{"x":1728.0,"y":288.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"76030cc2-2b49-37ab-a02b-7451013e4631","instanceIdentifier":"f231fefe-a6d1-3b60-120d-6fed96f3ecd5","name":"nifi-bootstrap","comments":"","position":{"x":1728.0,"y":464.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"}],"inputPorts":[],"outputPorts":[{"identifier":"b0934613-cc35-3ec9-b2a3-8840e7883f0e","instanceIdentifier":"b6c91146-cc10-3b3e-3b1e-64640bfaf901","name":"output_logs","comments":"","position":{"x":3456.0,"y":320.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"}],"connections":[{"identifier":"39c4d0dc-43f2-3e90-9777-d23280072e75","instanceIdentifier":"7c01a7ce-f9e2-360a-d41c-1525d9b63282","name":"","source":{"id":"cdecc426-2e15-39d4-823a-16214b5f0ef6","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"ReadLogsNifi","comments":"","instanceIdentifier":"eea9c4f6-8841-3c6c-c7f2-229522a775ef"},"destination":{"id":"2611bfca-fb8c-3665-a671-451975c74b60","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"RouteLogsNifi","comments":"","instanceIdentifier":"32a1c34f-d990-33b3-cf47-585c434d9db8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"5a51004f-0059-3d8a-8c5b-b3734a399820","instanceIdentifier":"6448a523-33d0-3427-e31f-66219d8d9b65","name":"","source":{"id":"f35d3730-e234-392e-b8e7-6fdbfeada841","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"3b06a653-07a4-32a5-d402-592873d494fe"},"destination":{"id":"ce2e0761-c424-3dad-a3a6-281503d0a293","type":"FUNNEL","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Funnel","comments":"","instanceIdentifier":"98f67bbc-9da6-3d17-56f4-7a0ef0f74ee0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"9c9d78ac-b569-346f-91f4-db9f30ae6dc0","instanceIdentifier":"d0c8c75a-fdda-3331-b0ce-6f545fe04186","name":"","source":{"id":"4a012b1c-5e33-3b43-91b2-e6d5731533bf","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"e0f67b9e-9023-39ae-93fe-fa5215770a43"},"destination":{"id":"ce2e0761-c424-3dad-a3a6-281503d0a293","type":"FUNNEL","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Funnel","comments":"","instanceIdentifier":"98f67bbc-9da6-3d17-56f4-7a0ef0f74ee0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"99cdcf0f-6458-30e3-91b7-b26ee1ef25b9","instanceIdentifier":"c23b2645-4afa-3864-90cc-d8e582a204fd","name":"","source":{"id":"f7ddaf54-34aa-3e0c-a2c7-05b1eb792317","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"9113ad40-9d39-3724-21c6-92736306274a"},"destination":{"id":"ce2e0761-c424-3dad-a3a6-281503d0a293","type":"FUNNEL","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Funnel","comments":"","instanceIdentifier":"98f67bbc-9da6-3d17-56f4-7a0ef0f74ee0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"30d5182e-fe5f-3160-a9cb-26603ba3064f","instanceIdentifier":"54ea0b51-4a38-3c46-8d57-e700396c45a7","name":"","source":{"id":"76030cc2-2b49-37ab-a02b-7451013e4631","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"nifi-bootstrap","comments":"","instanceIdentifier":"f231fefe-a6d1-3b60-120d-6fed96f3ecd5"},"destination":{"id":"f35d3730-e234-392e-b8e7-6fdbfeada841","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"3b06a653-07a4-32a5-d402-592873d494fe"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"67f63e0e-13e5-324f-9229-36ae9109dbbc","instanceIdentifier":"c40da2c7-41a3-34a8-7565-d4ae71f0bfce","name":"","source":{"id":"519eca8e-29e4-3d02-81b1-d78c4af5f1fc","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"nifi-app","comments":"","instanceIdentifier":"4cb7daf7-1759-3e67-89f8-389705934caf"},"destination":{"id":"4a012b1c-5e33-3b43-91b2-e6d5731533bf","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"e0f67b9e-9023-39ae-93fe-fa5215770a43"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"8480415f-9558-392f-a9d6-3fc8b57da4f6","instanceIdentifier":"b8660a21-4af4-3add-0f22-2a556d7a76ae","name":"","source":{"id":"2611bfca-fb8c-3665-a671-451975c74b60","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"RouteLogsNifi","comments":"","instanceIdentifier":"32a1c34f-d990-33b3-cf47-585c434d9db8"},"destination":{"id":"22a10724-4dd1-35ef-98d3-257057f060fb","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"nifi-user","comments":"","instanceIdentifier":"8aa9e9aa-bda1-3d90-22e6-bb1b3dbc0ba3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["nifi-user"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"3dcb68de-3584-328a-9516-e53fff97e99f","instanceIdentifier":"32d2ab17-977e-321b-00f2-c88759077de6","name":"","source":{"id":"2611bfca-fb8c-3665-a671-451975c74b60","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"RouteLogsNifi","comments":"","instanceIdentifier":"32a1c34f-d990-33b3-cf47-585c434d9db8"},"destination":{"id":"76030cc2-2b49-37ab-a02b-7451013e4631","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"nifi-bootstrap","comments":"","instanceIdentifier":"f231fefe-a6d1-3b60-120d-6fed96f3ecd5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["nifi-bootstrap"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"4862ed6c-11c7-3485-b9e2-bcb6b524a698","instanceIdentifier":"77390dd5-1b7b-35ea-9e66-c4894e13190e","name":"","source":{"id":"22a10724-4dd1-35ef-98d3-257057f060fb","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"nifi-user","comments":"","instanceIdentifier":"8aa9e9aa-bda1-3d90-22e6-bb1b3dbc0ba3"},"destination":{"id":"f7ddaf54-34aa-3e0c-a2c7-05b1eb792317","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Set-Splunk_variables","comments":"","instanceIdentifier":"9113ad40-9d39-3724-21c6-92736306274a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"49e153b7-e19e-39e5-b9d1-7d342d22fb13","instanceIdentifier":"ea91807e-873b-3c1c-3fbf-fce446411b43","name":"","source":{"id":"ce2e0761-c424-3dad-a3a6-281503d0a293","type":"FUNNEL","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"Funnel","comments":"","instanceIdentifier":"98f67bbc-9da6-3d17-56f4-7a0ef0f74ee0"},"destination":{"id":"b0934613-cc35-3ec9-b2a3-8840e7883f0e","type":"OUTPUT_PORT","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"output_logs","comments":"","instanceIdentifier":"b6c91146-cc10-3b3e-3b1e-64640bfaf901"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"},{"identifier":"e1efa745-81fa-30b6-901d-1d50f268c56e","instanceIdentifier":"094912d7-5e29-397a-4a1c-8e32a7cd7be7","name":"","source":{"id":"2611bfca-fb8c-3665-a671-451975c74b60","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"RouteLogsNifi","comments":"","instanceIdentifier":"32a1c34f-d990-33b3-cf47-585c434d9db8"},"destination":{"id":"519eca8e-29e4-3d02-81b1-d78c4af5f1fc","type":"PROCESSOR","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"nifi-app","comments":"","instanceIdentifier":"4cb7daf7-1759-3e67-89f8-389705934caf"},"labelIndex":1,"zIndex":0,"selectedRelationships":["nifi-app"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"}],"labels":[],"funnels":[{"identifier":"ce2e0761-c424-3dad-a3a6-281503d0a293","instanceIdentifier":"98f67bbc-9da6-3d17-56f4-7a0ef0f74ee0","position":{"x":3080.0,"y":320.0},"componentType":"FUNNEL","groupIdentifier":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed"}],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"c8cbd629-9ba3-396c-bf55-886c3536d555"},{"identifier":"773a63cf-45da-393e-a613-f641fb34fa60","instanceIdentifier":"e48fad66-9ed0-336d-2da3-cd8816f34026","name":"SendHEC","comments":"","position":{"x":1528.0,"y":408.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"8349b09f-8d76-3cd5-86bb-17ccb1cfb0df","instanceIdentifier":"b58b302e-7eef-37c4-41f5-6e8f3399f0a5","name":"RetryFlowFile","comments":"","position":{"x":696.0,"y":64.0},"type":"org.apache.nifi.processors.standard.RetryFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"penalize-retries":"true","maximum-retries":"3","Fail on Non-numerical Overwrite":"false","reuse-mode":"fail","retry-attribute":"flowfile.retries"},"propertyDescriptors":{"penalize-retries":{"name":"penalize-retries","displayName":"Penalize Retries","identifiesControllerService":false,"sensitive":false},"maximum-retries":{"name":"maximum-retries","displayName":"Maximum Retries","identifiesControllerService":false,"sensitive":false},"Fail on Non-numerical Overwrite":{"name":"Fail on Non-numerical Overwrite","displayName":"Fail on Non-numerical Overwrite","identifiesControllerService":false,"sensitive":false},"reuse-mode":{"name":"reuse-mode","displayName":"Reuse Mode","identifiesControllerService":false,"sensitive":false},"retry-attribute":{"name":"retry-attribute","displayName":"Retry Attribute","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"773a63cf-45da-393e-a613-f641fb34fa60"},{"identifier":"b3287b68-f5e6-3776-a833-754f06252af1","instanceIdentifier":"806942ae-13f2-3842-9c7c-d411e83c6261","name":"Send2Splunk-HEC","comments":"","position":{"x":684.0000043888822,"y":303.0000145411145},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","Authorization":"Splunk ${splunk_hec_token}","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"${splunk_hec}/services/collector/raw?sourcetype=${sourcetype}&host=${hostname(true)}&source=${source}","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"10","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":"curl/7.29.0"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"Authorization":{"name":"Authorization","displayName":"Authorization","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":3,"autoTerminatedRelationships":["Response","No Retry","Retry","Original"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"773a63cf-45da-393e-a613-f641fb34fa60"},{"identifier":"0b159b10-2a2c-3fb8-b661-8597a1f32c2a","instanceIdentifier":"fa8f8f42-f2d7-384f-1d3e-cd2805487c4b","name":"LogMessage","comments":"","position":{"x":1464.0,"y":64.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"log-message":"Error to send data to SPLUNK with HEC-Nifi","log-level":"error","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"773a63cf-45da-393e-a613-f641fb34fa60"}],"inputPorts":[{"identifier":"586ff88c-b1ed-31da-9628-f46a6a6dd81f","instanceIdentifier":"eb5e6f12-c21c-3c4e-1e54-f6c2d70d006a","name":"HEC_Connect","comments":"","position":{"x":80.0,"y":352.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"773a63cf-45da-393e-a613-f641fb34fa60"}],"outputPorts":[],"connections":[{"identifier":"71a99165-08ca-3965-8a1c-ebea2d950794","instanceIdentifier":"2e420ea9-c138-3f15-b434-ba12db646ddf","name":"","source":{"id":"586ff88c-b1ed-31da-9628-f46a6a6dd81f","type":"INPUT_PORT","groupId":"773a63cf-45da-393e-a613-f641fb34fa60","name":"HEC_Connect","comments":"","instanceIdentifier":"eb5e6f12-c21c-3c4e-1e54-f6c2d70d006a"},"destination":{"id":"b3287b68-f5e6-3776-a833-754f06252af1","type":"PROCESSOR","groupId":"773a63cf-45da-393e-a613-f641fb34fa60","name":"Send2Splunk-HEC","comments":"","instanceIdentifier":"806942ae-13f2-3842-9c7c-d411e83c6261"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"773a63cf-45da-393e-a613-f641fb34fa60"},{"identifier":"b9a94a16-b378-38a8-8662-d68b9f9ca6eb","instanceIdentifier":"659a3d58-ad4e-39ea-1f55-7a29c6556cf1","name":"","source":{"id":"b3287b68-f5e6-3776-a833-754f06252af1","type":"PROCESSOR","groupId":"773a63cf-45da-393e-a613-f641fb34fa60","name":"Send2Splunk-HEC","comments":"","instanceIdentifier":"806942ae-13f2-3842-9c7c-d411e83c6261"},"destination":{"id":"8349b09f-8d76-3cd5-86bb-17ccb1cfb0df","type":"PROCESSOR","groupId":"773a63cf-45da-393e-a613-f641fb34fa60","name":"RetryFlowFile","comments":"","instanceIdentifier":"b58b302e-7eef-37c4-41f5-6e8f3399f0a5"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1200.0,"y":240.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"773a63cf-45da-393e-a613-f641fb34fa60"},{"identifier":"c9bb8cf5-8d3e-38b5-bc1f-2d999322b804","instanceIdentifier":"17be377c-302b-3de5-5794-13425a55cb3b","name":"","source":{"id":"8349b09f-8d76-3cd5-86bb-17ccb1cfb0df","type":"PROCESSOR","groupId":"773a63cf-45da-393e-a613-f641fb34fa60","name":"RetryFlowFile","comments":"","instanceIdentifier":"b58b302e-7eef-37c4-41f5-6e8f3399f0a5"},"destination":{"id":"b3287b68-f5e6-3776-a833-754f06252af1","type":"PROCESSOR","groupId":"773a63cf-45da-393e-a613-f641fb34fa60","name":"Send2Splunk-HEC","comments":"","instanceIdentifier":"806942ae-13f2-3842-9c7c-d411e83c6261"},"labelIndex":1,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":576.0,"y":248.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"773a63cf-45da-393e-a613-f641fb34fa60"},{"identifier":"b8fca19c-8925-3b93-81f7-8b44315ceac8","instanceIdentifier":"fa8a43d8-998d-3cd5-57e2-2a216b3969d1","name":"","source":{"id":"8349b09f-8d76-3cd5-86bb-17ccb1cfb0df","type":"PROCESSOR","groupId":"773a63cf-45da-393e-a613-f641fb34fa60","name":"RetryFlowFile","comments":"","instanceIdentifier":"b58b302e-7eef-37c4-41f5-6e8f3399f0a5"},"destination":{"id":"0b159b10-2a2c-3fb8-b661-8597a1f32c2a","type":"PROCESSOR","groupId":"773a63cf-45da-393e-a613-f641fb34fa60","name":"LogMessage","comments":"","instanceIdentifier":"fa8f8f42-f2d7-384f-1d3e-cd2805487c4b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["retries_exceeded"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"773a63cf-45da-393e-a613-f641fb34fa60"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"c8cbd629-9ba3-396c-bf55-886c3536d555"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"f9372630-7b42-393c-a13a-2a3e23f74b98","instanceIdentifier":"d1d8159e-1201-37b7-f84f-a52e9565979f","name":"","source":{"id":"ae75456f-87bf-3b36-8486-39cb7524995b","type":"OUTPUT_PORT","groupId":"3db4e7e7-cb11-3fb1-a036-8492f85f57d1","name":"output_reporting","comments":"","instanceIdentifier":"ece4d266-12cf-32c6-b147-4d97b03c9540"},"destination":{"id":"810fa907-ffe4-3748-9ee3-60ada51290f2","type":"FUNNEL","groupId":"c8cbd629-9ba3-396c-bf55-886c3536d555","name":"Funnel","comments":"","instanceIdentifier":"8e77e3c0-19c2-3bfe-20aa-5840ca09e14f"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c8cbd629-9ba3-396c-bf55-886c3536d555"},{"identifier":"7d810b1c-63ee-34f6-a92f-063e65645a42","instanceIdentifier":"ec7739a8-76ec-3295-4b5b-583c8d314ddf","name":"","source":{"id":"b0934613-cc35-3ec9-b2a3-8840e7883f0e","type":"OUTPUT_PORT","groupId":"853bbb21-0f61-3315-8cbd-9ec6c4aebeed","name":"output_logs","comments":"","instanceIdentifier":"b6c91146-cc10-3b3e-3b1e-64640bfaf901"},"destination":{"id":"810fa907-ffe4-3748-9ee3-60ada51290f2","type":"FUNNEL","groupId":"c8cbd629-9ba3-396c-bf55-886c3536d555","name":"Funnel","comments":"","instanceIdentifier":"8e77e3c0-19c2-3bfe-20aa-5840ca09e14f"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c8cbd629-9ba3-396c-bf55-886c3536d555"},{"identifier":"aef67ee3-415e-3277-8d4d-2eed8a088011","instanceIdentifier":"15e4976f-8dbe-301b-20ee-24d2459a10a0","name":"","source":{"id":"0b15d067-df10-3c52-9ad7-5eeefac12b96","type":"OUTPUT_PORT","groupId":"2398c9d0-623d-3ad1-903b-b70ff553b6d2","name":"output_api","comments":"","instanceIdentifier":"21320f43-37ce-3fac-b644-04038df29b34"},"destination":{"id":"810fa907-ffe4-3748-9ee3-60ada51290f2","type":"FUNNEL","groupId":"c8cbd629-9ba3-396c-bf55-886c3536d555","name":"Funnel","comments":"","instanceIdentifier":"8e77e3c0-19c2-3bfe-20aa-5840ca09e14f"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c8cbd629-9ba3-396c-bf55-886c3536d555"},{"identifier":"610a00d7-83f6-3f13-8339-c519e3346501","instanceIdentifier":"2665d623-866d-3fca-6a8d-7af6d900892c","name":"","source":{"id":"810fa907-ffe4-3748-9ee3-60ada51290f2","type":"FUNNEL","groupId":"c8cbd629-9ba3-396c-bf55-886c3536d555","name":"Funnel","comments":"","instanceIdentifier":"8e77e3c0-19c2-3bfe-20aa-5840ca09e14f"},"destination":{"id":"586ff88c-b1ed-31da-9628-f46a6a6dd81f","type":"INPUT_PORT","groupId":"773a63cf-45da-393e-a613-f641fb34fa60","name":"HEC_Connect","comments":"","instanceIdentifier":"eb5e6f12-c21c-3c4e-1e54-f6c2d70d006a"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c8cbd629-9ba3-396c-bf55-886c3536d555"}],"labels":[],"funnels":[{"identifier":"810fa907-ffe4-3748-9ee3-60ada51290f2","instanceIdentifier":"8e77e3c0-19c2-3bfe-20aa-5840ca09e14f","position":{"x":1200.0,"y":480.0},"componentType":"FUNNEL","groupIdentifier":"c8cbd629-9ba3-396c-bf55-886c3536d555"}],"controllerServices":[],"variables":{"splunk_hec_token":"insert value","processors_list":"insert value","splunk_hec":"insert value","process_groups_list":"insert value","nifi_path":"insert value","nifi_api_url":"insert value"},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}